{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block specified_css %}
{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between">
    <h1 class="h3 mb-0"><small><i class="fas fa-fw fa-list"></i></small> {% trans 'Room List' %}</h1>
    <a href="javascript:;" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
            class="fas fa-plus-square fa-sm text-white-50"></i> {% trans 'Create New' %}</a>
</div>
<hr>
<!-- Content Row -->
{% if not rooms %}
<p class="text-danger">
    {% trans 'room' as trans_room %}
    {% blocktrans with value=trans_room %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'name' as t_name %} {{ t_name|title }}</th>
                        <th>{% trans 'location' as t_location %} {{ t_location|title }}</th>
                        <th>{% trans 'state' as t_state %} {{ t_state|title }}</th>
                        <th>{% trans 'max_people' as t_max_people %} {{ t_max_people|title }}</th>
                        <th>{% trans 'action' as t_action %} {{ t_action|title }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.name|title }}</td>
                        <td> {{ room.location }}</td>
                        <td>{{ room.get_state_display }}</td>
                        <td>{{ room.max_people }}</td>
                        <td>
                            <a href="{% url 'dashboard:rooms-detail' room.id %}"><i class="fas fa-eye"></i></a>
                            <a href="javascript:;"><i class="fas fa-edit"></i></a>
                            <a href="javascript:;" class="delete-room"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        {% include 'dashboard/pagination.html' %}
    </div>
</div>

{% endif %}

{% endblock %}

{% block specified_js %}
{% endblock %}