{% extends 'profile/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block specified_css %}
<link rel="stylesheet" href="{% static 'css/profile/style.css' %}">
<link rel="stylesheet" href="{% static 'vendor/acc-wizard-master/release/acc-wizard.min.css' %}">
{% endblock %}

{% block profile_content %}
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="form-row">
            {% crispy form1 %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h3>
                <a href="#collapseOne" data-toggle="collapse"
                    data-parent="#accordion">{% trans 'Basic information' %}</a>
            </h3>
        </div>

        <div id="collapseOne" class="panel-collapse collapse show">
            <div class="panel-body">
                {%  crispy form_basic_info %}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" id="headingTwo">
            <h3>
                <a href="#collapseTwo" data-toggle="collapse"
                    data-parent="#accordion">{% trans 'Additional information' %}</a>
            </h3>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                {% crispy form_additional_info %}
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTwo">
            <h3>
                <a href="#collapseThree" data-toggle="collapse" data-parent="#accordion">
                    {% trans 'health condition' as t_health_con %}
                    {{ t_health_con|capfirst }}
                </a>
            </h3>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
                {% crispy form_health_condition %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specified_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>

<script>
    $(function () {
        $('html, body').animate({ scrollTop: $('#accordion').offset().top - 100 }, 'slow');
    });

    $('form#form_health_condition').submit(function (e) {
        e.preventDefault();
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            url: "{% url 'core:update-health-condition' %}",
            type: 'POST',
            data: $(this).serialize()
        }).done(function (data) {
            window.location.replace("{% url 'core:profile' %}");
        }).fail(function (err) {
            console.log(err);
        });
    });
</script>
{% endblock %}