{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load dashboard_extras %}

{% block specified_css %}
<link href="{% static 'css/dashboard/classes/list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between">
    <h1 class="h3 mb-0"><small><i class="fas fa-fw fa-list"></i></small> {% trans 'Class List' %}</h1>
    <a href="{% url 'dashboard:classes-new' %}" class="btn btn-sm btn-success shadow-sm"><i
            class="fas fa-plus-square fa-sm text-white-50"></i> {% trans 'Create New' %}</a>
</div>
<hr>
<!-- Content Row -->
{% if not classes %}
<p class="text-danger">{% trans 'No classes yet' %}</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Course' %}</th>
                        <th>{% trans 'form_trainer' %}</th>
                        <th>{% trans 'State' %}</th>
                        <th>{% trans 'Image' %}</th>
                        <th>{% trans 'Description' %}</th>
                        <th>{% trans 'action' as t_action %}{{ t_action|title }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                    <tr>
                        <td>{{ class.id }}</td>
                        <td>{{ class.name|title }}</td>
                        <td>{{ class.course }}</td>
                        <td>
                            {% if class.form_trainer %}
                            {{ class.form_trainer }}
                            {% else %} 
                            {% trans 'have not updated yet' as t_formtrainer %}
                            {{ t_formtrainer|capfirst }}
                            {% endif %}
                        </td>
                        <td class="text-center">{{ class|display_state }}</td>
                        <td class="text-center">
                            {% if class.image %}
                            <img class="img img-fluid img-thumbnail class-img" src="{{ class.image.url }}"
                                alt="{{ class.name }}">
                            {% else %}
                            <img class="img img-fluid img-thumbnail class-img"
                                src="{% static 'imgs/class/default_class.jpg'%}" alt="{{ class.name }}">
                            {% endif %}
                        </td>
                        <td>{{ class.description }}</td>
                        <td>
                            <div class="dropdown text-center">
                                <button type="button" class="btn btn-sm btn-primary" data-toggle="dropdown">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'dashboard:classes-detail' class.id %}"><i
                                            class="fas fa-fw fa-eye"></i> {% trans 'action_show' %}</a>
                                    <a class="dropdown-item" href="{% url 'dashboard:classes-schedule' class.id %}"><i
                                            class="fas fa-fw fa-calendar-alt"></i>
                                        {% trans 'action_view_schedule' %}</a>
                                    <a class="dropdown-item" href="{% url 'dashboard:classes-update' class.slug %}"><i
                                            class="fas fa-fw fa-edit"></i> {% trans 'action_edit' %}</a>
                                    <a class="dropdown-item delete-class" href="javascript:;"><i
                                            class="fas fa-fw fa-trash"></i> {% trans 'action_delete' %}</a>
                                    <form class="d-none" action="{% url 'dashboard:classes-delete' class.id %}"
                                        method="post">
                                        {% csrf_token %}
                                        <input type="submit" onclick="return confirm('Are you sure?');" value="Confirm">
                                    </form>
                                </div>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        {% include 'dashboard/pagination.html' %}
    </div>
</div>

{% endif %}

{% endblock %}

{% block specified_js %}
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    $('.delete-class').click(function () {
        $(this).siblings('form').children('input[type=submit]').click();
    });
</script>


{% endblock %}