{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block specified_css %}
<link href="{% static 'fullcalendar-4.3.1/packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/list/main.css' %}" rel='stylesheet' />
<script src="{% static 'fullcalendar-4.3.1/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/core/locales-all.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/interaction/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/timegrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/list/main.js' %}"></script>
<link href="{% static 'css/dashboard/classes/schedule.css' %}" rel='stylesheet' />

{% endblock %}
{% block content %}
<div class="container-fluid mt-3 p-0">
    <a class="btn btn-sm btn-primary" href="{{request.META.HTTP_REFERER}}">
        <i class="fas fa-fw fa-arrow-left"></i>{% trans 'back' as back %} {{ back|title }}
    </a>
    <a type="button" class="btn btn-sm btn-success float-right" href="javascript:;" data-toggle="modal"
        data-target="#modal_create_lesson">
        <i class="fas fa-fw fa-plus-square fa-sm text-white-50"></i>{% trans 'create new lesson' as create_new_lesson %}
        {{ create_new_lesson|title }}
    </a>
</div>
<h1 class="text-danger text-center">{{ yogaclass.name }}</h1>
<div class="container-fluid mb-3">
    <div id='calendar'></div>
</div>
<button id="btn-modal" type="button" class="d-none btn btn-primary" data-toggle="modal"
    data-target="#model_detail_lesson">
    Open modal
</button>
<!-- The Modal -->
<div class="modal fade" id="model_detail_lesson">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-none">
                <h5 class="modal-title text-center">{% trans 'Detail Info' %}</h5>
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless table-light table-hover">
                    <tbody>
                        <tr>
                            <th>{% trans 'Room' %}</th>
                            <td class="yoga-room">room</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Class' %}</th>
                            <td class="yoga-class">{{ yogaclass.name }}</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Date' %}</th>
                            <td class="lesson-day">date</td>
                        </tr>
                        <tr>
                            <th>{% trans 'Start Time' %}</th>
                            <td class="start-time">start time</td>
                        </tr>
                        <tr>
                            <th>{% trans 'End Time' %}</th>
                            <td class="end-time">end time</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="modal_create_lesson">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-none">
                <h4 class="modal-title">{% trans 'create new lesson' as t_create_new_lesson %}
                    {{ t_create_new_lesson|title }}</h4>
                <button id="btn_modal_create_lesson" type="button" class="btn btn-sm btn-danger"
                    data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {% crispy lesson_form %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block specified_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid', 'list'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'timeGridWeek'
            },
            defaultView: 'timeGridWeek',
            locale: "{{ request.LANGUAGE_CODE }}",
            defaultDate: Date.now(),
            editable: true,
            firstDay: 1,
            allDaySlot: false,
            minTime: '05:00:00',
            maxTime: '22:30:00',
            businessHours: [
                {
                    daysOfWeek: [1, 2, 3, 4, 5, 6], // Monday, Tuesday, Wednesday, Thursday, Friday
                    startTime: '05:00',
                    endTime: '22:00'
                },
                {
                    daysOfWeek: [0], // Sunday
                    startTime: '05:00',
                    endTime: '11:30'
                }
            ],
            titleFormat: {
                month: 'numeric',
                year: 'numeric',
                day: 'numeric',
                weekday: 'long'
            },
            events: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: "{% url 'dashboard:classes-get-lessons' yogaclass.id %}",
                    type: 'GET',
                    data: {
                        startStr: fetchInfo.startStr,
                        endStr: fetchInfo.endStr
                    },
                    success: function (data) {
                        var events = [];
                        for (var i = 0; i < data.length; i++) {
                            var _d = data[i]['fields']['day'];
                            var _st = data[i]['fields']['start_time'];
                            var _et = data[i]['fields']['end_time'];
                            var _start_time = _d + ' ' + _st;
                            var _end_time = _d + ' ' + _et;
                            var start_time = new Date(_start_time);
                            var end_time = new Date(_end_time);

                            events.push({
                                id: data[i]['pk'],
                                title: data[i]['fields']['room'],
                                start: start_time,
                                end: end_time,
                                url: 'javascript:;',
                                overlap: false,
                                color: '#5b8c85',
                                allDaySlot: false,
                                imageClassUrl: 'https://picsum.photos/200/300?random=1',
                                imageTrainerUrl: 'https://picsum.photos/200/300?random=2'
                            })
                        }
                        successCallback(events);
                    }
                });
            },
            eventClick: function (info) {
                $.ajax({
                    url: "{% url 'dashboard:lessons-detail-json' %}",
                    method: 'post',
                    data: {
                        'lesson_id': info.event.id,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    }
                }).done(function (data) {
                    var d = new Date(data[0]['fields']['day']);
                    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                    var lesson_day = d.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', options);
                    var start_time = data[0]['fields']['start_time'].split(':', 2).join(":");
                    var end_time = data[0]['fields']['end_time'].split(':', 2).join(":");

                    $('td.yoga-class').text(data[0]['fields']['yogaclass']);
                    $('td.yoga-room').text(data[0]['fields']['room']);
                    $('td.lesson-day').text(lesson_day);
                    $('td.start-time').text(start_time);
                    $('td.end-time').text(end_time);
                    $('#btn-modal').click();
                });
            },
            eventDrop: function (info) {
                alert(info.event.title + " was dropped on " + info.event.start.toISOString());

                if (!confirm("Are you sure about this change?")) {
                    info.revert();
                } else {
                    console.log('cc');
                }
            },
            eventRender: function (info) {
                if (info.event.extendedProps.imageClassUrl) {
                    $(info.el).find("div.fc-time").prepend("<img class='img rounded-circle p-1' src='" + info.event.extendedProps.imageClassUrl + "' width='25' height='25'>");
                }
                if (info.event.extendedProps.imageTrainerUrl) {
                    $(info.el).find("div.fc-time").append("<img class='img rounded-circle p-1' src='" + info.event.extendedProps.imageTrainerUrl + "' width='25' height='25'>");
                }
            }
        });
        calendar.render();
        $('#form_new_lesson').submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'dashboard:classes-create-new-lesson' yogaclass.id %}",
                data: $(this).serialize() + '&yogaclass=' + "{{yogaclass.id}}",
                beforeSend: function () {
                    $('input.is-invalid').removeClass('is-invalid');
                    $('.invalid-feedback').remove();
                    $("span[id^=" + 'error_1_id_' + "]").remove();
                }
            }).done(function (data) {
                $('#modal_create_lesson').modal('hide');
                $('#form_new_lesson').trigger("reset");
                Swal.fire(
                    "{% trans 'done' as t_done %}{{ t_done|title }}",
                    "{% trans 'create successfully' as t_create_successfully %}{{ t_create_successfully |title }}",
                    'success'
                );
                calendar.refetchEvents();
            }).fail(function (err) {
                $('input.is-invalid').removeClass('is-invalid');
                $('.invalid-feedback').remove();
                $("span[id^=" + 'error_1_id_' + "]").remove();
                errors = JSON.parse(err.responseText);
                $.each(errors, function (key, value) {
                    if (key != '__all__') {
                        objStr = "#id_" + key;
                        htmlError = '<span id="error_1_id_' + key + '" class="invalid-feedback">';
                        htmlError += '<strong>' + value[0]['message'] + '</strong></span>';
                        $(htmlError).insertAfter($(objStr));
                        $(objStr).addClass('is-invalid');
                    } else {
                        Swal.fire(
                            "{% trans 'error' as t_error %}{{ t_error|title }}",
                            value[0]['message'],
                            'error'
                        )
                    }
                });
            });
        });
    });
    $("#id_start_time").on("change.datetimepicker", function ({ date, oldDate }) {
        if (date != null && date._i != undefined) {
            console.log(date);
            var d1 = new Date(date._d);
            var d2 = new Date(d1);
            d2.setMinutes(d1.getMinutes() + 75);
            var hr = d2.getHours();
            var min = d2.getMinutes();
            if (min < 10) {
                min = "0" + min;
            }
            _time_d2 = hr + ':' + min;
            $('#id_end_time').val(_time_d2);
        }
    });
</script>
{% endblock %}