{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block specified_css %}
<link href="{% static 'fullcalendar-4.3.1/packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/list/main.css' %}" rel='stylesheet' />
<script src="{% static 'fullcalendar-4.3.1/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/core/locales-all.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/interaction/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/timegrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/list/main.js' %}"></script>
{% endblock %}
{% block content %}
<h1 class="text-danger text-center">{{ yogaclass.name }}</h1>
<div class="container-fluid mb-3 p-0">
    <a class="btn btn-sm btn-primary" href="{{request.META.HTTP_REFERER}}">
        <i class="fas fa-fw fa-arrow-left"></i>{% trans 'back' %}
    </a>
    <a class="btn btn-sm btn-warning float-right ml-1" href="{% url 'dashboard:classes-update' yogaclass.slug %}">
        <i class="fas fa-fw fa-edit"></i>{% trans 'edit' %}
    </a>
    <a class="btn btn-sm btn-info float-right ml-1" href="{% url 'dashboard:classes-schedule' yogaclass.id %}">
        <i class="fas fa-fw fa-calendar-alt"></i>{% trans 'schedule' %}
    </a>
</div>
<ul class="list-group list-group-flush mb-3">
    <li class="list-group-item list-group-item-action">
        <h5 class="title">{% trans "course" as course %}{{ course|upper }}</h5>
        <p>{{ yogaclass.course }}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="card-title">{% trans "description" as des %}{{ des|upper }}</h5>
        <p class="card-text">{{ yogaclass.description }}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="card-title">{% trans "start_at" as start_at %}{{ start_at|upper }}</h5>
        {% if yogaclass.start_at %}
        <p class="card-text">{{ yogaclass.start_at }}</p>
        {% else %}
        <p class="text-danger"> {% trans 'have not updated yet' %} </p>
        {% endif %}
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="card-title">{% trans "end_at" as end_at %}{{ end_at|upper }}</h5>
        {% if yogaclass.end_at %}
        <p class="card-text">{{ yogaclass.end_at }}</p>
        {% else %}
        <p class="text-danger"> {% trans 'have not updated yet' %} </p>
        {% endif %}
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="title">{% trans "state" as state %}{{ state|upper }}
            {% if yogaclass.state == 0 %}
            <i class="fas fa-check-circle text-success"></i>
            {% else %}
            <i class="fas fa-exclamation-circle text-warning"></i>
            {% endif %}
        </h5>
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="card-title">{% trans "level" as level %}{{ level|upper }}</h5>
        <p class="card-text">{{ yogaclass.get_level_display }}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="card-title">{% trans "max_people" as max_people %}{{ max_people|upper }}</h5>
        {% if yogaclass.max_people %}
        <p class="card-text">{{ yogaclass.max_people }}</p>
        {% else %}
        <p class="text-danger"> {% trans 'have not updated yet' %} </p>
        {% endif %}
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="title">{% trans "image" as image %}{{ image|upper }}</h5>
        {% if yogaclass.image %}
        <img class="img img-fluid img-thumbnail class-img" src="{{ class.image.url }}" alt="{{ class.name }}">
        {% else %}
        <img class="img img-fluid img-thumbnail class-img" src="{% static 'imgs/class/default_class.jpg'%}"
            alt="{{ class.name }}">
        {% endif %}
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="title">{% trans "price_per_lesson" as price_per_lesson %}{{ price_per_lesson|upper }}</h5>
        {% if yogaclass.price_per_lesson %}
        <p class="card-text"> {{ yogaclass.price_per_lesson |stringformat:".0f" }} </p>
        {% else %}
        <p class="text-danger"> {% trans 'have not updated yet' %} </p>
        {% endif %}
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="title">{% trans "price_per_month" as price_per_month %}{{ price_per_month|upper }}</h5>
        {% if yogaclass.price_per_month %}
        <p class="card-text"> {{ yogaclass.price_per_month |stringformat:".0f" }} </p>
        {% else %}
        <p class="text-danger"> {% trans 'have not updated yet' %} </p>
        {% endif %}
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="title">{% trans "price_course" as price_course %}{{ price_course|upper }}</h5>
        {% if yogaclass.price_course %}
        <p class="card-text"> {{ yogaclass.price_course |stringformat:".0f" }} </p>
        {% else %}
        <p class="text-danger"> {% trans 'have not updated yet' %} </p>
        {% endif %}
    </li>
</ul>
{% endblock %}

{% block specified_js %}
{% endblock %}