{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block specified_css %}
<link href="{% static 'css/dashboard/roll_calls/lesson/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between">
    <h3 class="text-danger">
        <small><i class="fab fa-fw fa-leanpub"></i></small>
        {{ lesson.yogaclass }} - {{ lesson.get_time_and_room_detail }}
    </h3>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-md-8 border-right p-3" id="div_studied_roll_calls">
        <h5>
            <i class="fas fa-fw fa-list"></i>
            {% trans 'trainee' as t_trainee %}
            {% blocktrans with value=t_trainee trimmed %} {{ value }} List{% endblocktrans %}
        </h5>
        <div id="studied_roll_calls" class="list-group">
            {% if studied_roll_calls %}
                {% for r in studied_roll_calls %}
                    <li class="list-group-item list-group-item-action list-group-item-success d-flex justify-content-between align-items-center">
                        {{ r.card.trainee }}
                        <a href="javascript:;">
                            <span class="badge badge-danger badge-pill">{% trans 'remove' %}</span>
                        </a>
                    </li>
                {% endfor %}
            {% else %}
            {% trans 'trainee' as t_trainee %}
            <li id="item_no_trainee" class="list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between align-items-center">
                {% blocktrans with value=t_trainee trimmed %}No {{ value }} yet{% endblocktrans %}
            </li>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 p-3 bg-light">
        <h5><i class="far fa-fw fa-hand-pointer"></i>{% trans 'Select to do a roll call' %}</h5>
        <div class="list-group">
            {% for r in un_studied_roll_calls %}
            <li class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center">
                {{ r.card.trainee }}
                <a href="javascript:;">
                    <span class="badge badge-success badge-pill">{% trans 'select' %}</span>
                </a>
            </li>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

{% block specified_js %}
{% endblock %}