.fc-content{
    text-align: center;
}
.modal-dialog{
    max-width: 768px;
}

#accordion ul {
    padding: inherit;
    margin: inherit;
}
#accordion .card-link{
    color: black;
}

#modal_lesson_info .modal-content{
  background: url('../../img/t1.jpg');
}

.spad{
    background: url('../../img/yoga-background-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}