{% extends "base.html" %}
{% load static %}
{% block specified_css %}
<link rel="stylesheet" href="{% static 'css/login.css'%}">
{% endblock %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section class="spad">
  <div class="container">
    <div class="row justify-content-center">
  
        <div class="col-xl-10 col-lg-12 col-md-9">
  
          <div class="card o-hidden bg-white border-0 shadow-lg card-contain">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image text-center mt-auto mb-auto">
                  <img src="{% static 'img/favicon.png'%}" class="img-fluid" alt="logo">
                </div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">{% trans "Sign In" %}</h1>
                      <img class="profile-img-card" src="{% static 'img/favicon.png'%}" alt="Yoga Hương Tre" />
                    </div>
                    <form class="form-signin" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                      <input type="hidden" class="form-control" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}
                      {{ form|crispy }}
                      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">{% trans "Sign In" %}</button>
                    </form><!-- /form -->
                    <hr>
                    <div class="text-center">
                      <a class="small" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </div>
                    <div class="text-center">
                      <a class="small" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  </div>
</section>


{% endblock %}