{% extends 'base.html' %}
{% load static %}
{% block specified_css %}
<link rel="stylesheet" href="{% static 'css/trainers/style.css'%}">
{% endblock %}

{% load i18n %}

{% block content %}
	<!-- Trainers Section -->
	<section class="trainers-page-section spad">
		<div class="container">
            {% if not trainers %}
            <div class="row">
                <div class="col">
                    <p class="text-danger">
                        {% trans 'trainer' as trans_value %}
                        {% blocktrans with value=trans_value %}No {{ value }} yet{% endblocktrans %}
                    </p>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-6">
                    <p>
                        {% trans 'trainer' as t_trainer %}
                        {% blocktrans with value1=page_obj.object_list.count value2=page_obj.paginator.count value3=t_trainer trimmed %}
                        Showing {{ value1 }} of {{ value2 }} {{ value3 }}
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
			<div class="row">
                {% for trainer in trainers %}
                <div class="col-lg-6">
                    <div class="trainer-item">
                            <div class="ti-img">
                                <a href="{% url 'trainers:detail' trainer.slug %}">
                                    {% if trainer.user.image %}
                                    <img class="img img-thumbnail" src="{{ trainer.user.image.url }}" alt="{{ trainer }}">
                                    {% else %}
                                    <img class="img img-thumbnail" src="{% static 'img/user/default.png' %}" alt="{{ trainer }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="ti-text">
                                <a class="trainer-name" href="{% url 'trainers:detail' trainer.slug %}">{{ trainer }}</a>
                                <h6>{% trans 'Yoga Trainer' %}</h6>
                                <p class="ti-certificate-des">{{ trainer.user.certificates.first|default_if_none:""|truncatechars:68 }}</p>
                                <div class="ti-social">
                                    <a href="javascript:;"><i class="fab fa-facebook"></i></a>
                                    <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                                    <a href="javascript:;"><i class="fab fa-twitter"></i></a>
                                    <a href="javascript:;"><i class="fab fa-linkedin"></i></a>
                                </div>
                            </div>
					</div>
                </div>
                {% endfor %}

            </div>
            {% endif %}
            {% if trainers %}
            {% include 'pagination.html' %}
            {% endif %}
		</div>
	</section>
	<!-- Trainers Section end -->

{% endblock %}

{% block specified_js %}
{% endblock %}