{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
	<!-- Trainers Section -->
	<section class="trainer-details-section spad">
		<div class="container">
			<div class="trainer-details">
				<div class="trainer-info">
					<div class="td-left">
                        {% if trainer.user.image %}
						<img src="{{ trainer.user.image.url }}" alt="{{ trainer }}">
                        {% else %}
						<img src="{% static 'img/user/default.png' %}" alt="{{ trainer }}">
                        {% endif %}
						<div class="td-social">
							<a href="javascript:;"><i class="fab fa-facebook"></i></a>
							<a href="javascript:;"><i class="fab fa-instagram"></i></a>
							<a href="javascript:;"><i class="fab fa-twitter"></i></a>
							<a href="javascript:;"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
					<div class="td-right">
						<h3>{{ trainer }}</h3>
						<h6>Huấn luyện viên</h6>
						<ul>
							<li><strong>Email:</strong><p>{{ trainer.user.email }}</p></li>
							<li><strong>Giới thiệu:</strong><p>{{ trainer.introduction }}</p></li>
						</ul>
						<a href="{% url 'classes:list' %}?trainer={{ trainer.slug }}" class="site-btn sb-gradient">Xem danh sách lớp học</a>
					</div>
				</div>
				
				<div class="trainer-details-text mb-3">
					<h3><i class="fas fa-sm fa-fw fa-praying-hands text-cyan-custom-1"></i> Kinh nghiệm</h3>
					<div class="div-experience">
						{{ trainer.experience | safe }}
					</div>
                </div>

				<!-- CERTIFICATE  -->
				{% if trainer.certificates.all.count > 0 %}
				<div class="trainer-details-text mb-3">
					<h3><i class="fas fa-sm fa-fw fa-trophy text-cyan-custom-1"></i> Chứng chỉ - Bằng cấp</h3>
					<ul>
						{% for certificate in trainer.certificates.all %}
						<li>
							<i class="material-icons">check_circle</i>
							{{ certificate }}
						</li>
						{% endfor %}
					</ul>
                </div>
				{% endif %}
                <div class="trainer-details-text mb-3">
					<h3><i class="fas fa-sm fa-fw fa-star text-cyan-custom-1"></i> Thành tích hoạt động</h3>
					<div class="container">
                        {{ trainer.achievements | safe }}
                    </div>
				</div>
			</div>
		</div>
	</section>
	<!-- Trainers Section end -->
{% endblock %}

{% block specified_js %}
{% endblock %}