{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load dashboard_extras %}


{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0 title"><small><i class="fas fa-fw fa-list"></i></small>
        {% trans 'card type list' as t_card_type_list %} {{ t_card_type_list|capfirst }}</h1>
    {% if request.user.is_superuser %}
    <a href="{% url 'dashboard:card-types-new' %}" class="btn btn-sm btn-success shadow-sm"><i
            class="fas fa-plus-square fa-sm text-white-50"></i> {% trans 'create new' %}</a>
    {% endif %}
</div>
{% if not card_types %}
<p class="text-danger">
    {% trans 'card types' as trans_card_types %}
    {% blocktrans with value=trans_card_types %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><small>{% trans 'name' as t_name %}{{ t_name|capfirst }}</small></th>
                        <th><small>{% trans 'description' as t_desc %}{{ t_desc|capfirst }}</small></th>
                        <th><small>{% trans 'multiplier' as t_multiplier %} {{ t_multiplier|capfirst }}</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for card_type in card_types %}
                    <tr>
                        <td>{{ card_type.id }}</td>
                        <td>{{ card_type.name }}</td>
                        <td>{{ card_type.description}}</td>
                        <td>{{ card_type.multiplier|default_if_none:'' }}</td>
                        {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        {% include 'dashboard/pagination.html' %}
    </div>
</div>

{% endif %}

{% endblock %}