div.answer ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

.bg-faq{
    background: url("../../img/faq_bg.jpg");
}

.page-top-section:after {
    background: linear-gradient(145deg, #12568861 45%, #fb3958 100%);
}

.page-top-section {
    height: 600px;
    position: relative;
    padding-top: 230px;
    text-align: center;
    margin-top: 57px;
}