@media (min-width: 992px) {
    .bi-image{
        height: 425px;
        margin-bottom: 25px;
        text-align: center;
        overflow: hidden;
    }
}

@media (min-width: 768px) and (max-width:992px){
    .bi-image{
        height: 375px;
    }
}

.blog-item {
    box-shadow: 0px 5px 6px rgba(72, 105, 114, 0.58);
}

.blog-item:hover {
    box-shadow: 0px 5px 6px rgb(176, 11, 34);
}