{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load dashboard_extras %}
{% load sexify %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0 title">{% trans 'Promotion code list' %}</h1>
    <a id="create_promotion_code" href="javascript:;" class="btn btn-sm btn-success shadow-sm"><i
            class="fas fa-plus-square fa-sm text-white-50"></i> {% trans 'create new' %}</a>
    <form class="d-none" action="{% url 'dashboard:promotions-codes-create' promotion.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Confirm">
    </form>
</div>

{% if not codes %}
<p class="text-danger">
    {% trans 'code' as trans_val %}
    {% blocktrans with value=trans_val %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><small>#</small></th>
                        <th><small>Tên khuyến mãi</small></th>
                        <th><small>Mã code</small></th>
                        <th><small>Trạng thái</small></th>
                        <th><small>{% trans 'created at' as t_created_at %}{{ t_created_at | capfirst }}</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for code in codes %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ promotion.name }}</td>
                        <td>{{ code.value }}</td>
                        <td>
                            {% if code.apply != '' %}
                            <span class="badge badge-pill badge-warning">Đã sử dụng</span>
                            {% else %}
                            <span class="badge badge-pill badge-success">Chưa sử dụng</span>
                            {% endif %}
                        </td>
                        <td>{{ code.created_at.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block specified_js %}
<script type="text/javascript">
    $('#create_promotion_code').click(function () {
        $(this).siblings('form').children('input[type=submit]').click();
    });
</script>
{% endblock %}