{% load static %}
{% load i18n %}


<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="about-widget">
                        <a class="about-widget-title" href="">Lotus <span class="flaticon-lotus"></span> Yoga</a>
                        <ul>
                            <li><i class="material-icons">phone</i>(965) 436 3274</li>
                            <li><i class="material-icons">email</i>lotus.yoga@gmail.com</li>
                            <li><i class="material-icons">map</i>140 Đường A4 - Tân Bình</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-0 pl-lg-5">
                    <h2 class="fw-title">{% trans 'Connect & Sharing' %}</h2>
                    <ul>
                        <li><a href="javascript:;">{% trans 'Gallery' %}</a></li>
                        <li><a href="javascript:;">{% trans 'Community Event' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget">
                    <h2 class="fw-title">{% trans 'About Us' %}</h2>
                    <ul>
                        <li><a href="javascript:;">{% trans 'Introduce' %}</a></li>
                        <li><a href="javascript:;">{% trans 'Our Mission' %}</a></li>
                        <li><a href="javascript:;">{% trans 'Contact Us' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget pl-0 pl-lg-5">
                    <h2 class="fw-title">{% trans 'Open time' %}</h2>
                    <ul>
                        {% trans 'monday'  as t_monday%}
                        {% trans 'friday' as t_friday %}
                        {% trans 'saturday' as t_saturday %}
                        {% trans 'sunday' as t_sunday %}
                        <li><i class="material-icons">alarm_on</i>{{ t_monday|capfirst }} - {{ t_friday|capfirst }}: 6:30am -
                            07:45pm</li>
                        <li><i class="material-icons">alarm_on</i>{{ t_saturday|capfirst }} - {{ t_sunday|capfirst }}: 8:30am
                            - 05:45pm</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-social">
                        <a href="javascript:;"><i class="fab fa-facebook"></i></a>
                        <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                        <a href="javascript:;"><i class="fab fa-twitter"></i></a>
                        <a href="javascript:;"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-8 text-md-right">
                    <div class="copyright">
                        Lotus <span class="flaticon-lotus"></span> Yoga
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>