{% load static %}
{% load i18n %}
{% load settings_extras %}

<hr>
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <div class="about-widget">
                        <a class="about-widget-title" href="javascript:;">Yoga <span class="flaticon-lotus"></span> Hương Tre</a>
                        <p style="font-family: 'Lobster', cursive;">Tâm an vạn sự an</p>
                        <ul>
                            <li><i class="material-icons">phone</i>0932 190 999</li>
                            <li><i class="material-icons">email</i>huongtre.yoga@gmail.com</li>
                            <li><i class="material-icons">map</i>140 Đường A4 - Tân Bình</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget pl-0 pl-lg-5">
                    <h2 class="fw-title">{% trans 'Connect & Sharing' %}</h2>
                    <ul>
                        <li><a href='{% settings_value "YOGA_CENTER_FACEBOOK_URL" %}'>Facebook</a></li>
                        <li><a href='{% settings_value "YOGA_CENTER_YOUTUBE_URL" %}'>Youtube</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget">
                    <h2 class="fw-title">{% trans 'About Us' %}</h2>
                    <ul>
                        <li><a href="javascript:;">{% trans 'Introduce' %}</a></li>
                        <li><a href="{% url 'home:contact' %}">{% trans 'Contact Us' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget pl-0 pl-lg-5">
                    <h2 class="fw-title">{% trans 'Open time' %}</h2>
                    <ul>
                        {% trans 'monday'  as t_monday%}
                        {% trans 'friday' as t_friday %}
                        {% trans 'saturday' as t_saturday %}
                        {% trans 'sunday' as t_sunday %}
                        <li><i class="material-icons">alarm_on</i>{{ t_monday|capfirst }} - {{ t_saturday|capfirst }}: 05:30 -
                            22:00</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer-social">
                        <a href="javascript:;"><i class="fab fa-facebook"></i></a>
                        <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                        <a href="javascript:;"><i class="fab fa-twitter"></i></a>
                        <a href="javascript:;"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="col-md-8 text-md-right">
                    <div class="copyright">
                        Yoga <span class="flaticon-lotus"></span> Hương Tre
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>