{% load static %}
{% load i18n %}

<div class="infor-model-warp">
    <div class="infor-model d-flex align-items-center">
        <div class="infor-close">
            <i class="material-icons">close</i>
        </div>
        <div class="infor-middle">
		<div class="container-fluid">
            <div class="row">
                <div class="col text-center">
                    <a class="about-widget-title" href="javascript:;">Yoga <span class="flaticon-lotus"></span> Hương Tre</a>
                    <p style="font-family: 'Playfair Display', serif;"><small>Tâm an vạn sự an</small></p>
                </div>
            </div>
			<div class="row">
				<div class="col">
					<div class="singup-text">
						<h3>{% trans 'Feedback' %}</h3>
					</div>
					<form id="form_feedback" action="{% url 'feedback:create' %}" method="POST" class="singup-form">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6">
								<input type="text" name="first_name" placeholder="{% trans 'first name' as t_f %}{{ t_f|capfirst }}" required>
							</div>
							<div class="col-md-6">
								<input type="text" name="last_name" placeholder="{% trans 'last name' as t_l %}{{ t_l|capfirst }}" required>
							</div>
							<div class="col-md-6">
								<input type="email" name="email" placeholder="{% trans 'email' as t_email %}{{ t_email|capfirst }}" required>
							</div>
							<div class="col-md-6">
								<input type="text" name="phone_number" placeholder="{% trans 'phone number' as t_phone %}{{ t_phone|capfirst }}">
							</div>
							<div class="col-md-12">
								<textarea name="content" placeholder="{% trans 'Feedback' as t_feedback %}{{ t_feedback }}" required></textarea>
								<button id="a_submit_feedback" type="submit" class="site-btn sb-gradient">{% trans 'Submit' %}</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
        </div>
    </div>
</div>