{% load i18n %}

<ul class="navbar-nav bg-dark-custom sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home:index' %}">
        <div class="sidebar-brand-text mx-3">Lotus <span class="flaticon-lotus"></span> Yoga</div>
        <div class="sidebar-brand-text-2 mx-3"><span class="flaticon-lotus"></span></div>
    </a>

    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if active_nav == 'dashboard' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:index'%}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>{% trans 'Dashboard' %}</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item {% if active_nav == 'roll_calls' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:lessons-list' %}">
            <i class="fas fa-user-check"></i>
            <span>{% trans 'roll call' as t_roll_call %}{{ t_roll_call|title }}</span></a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Users -->
    <li class="nav-item {% if show_nav_users == True %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUser" aria-expanded="true"
            aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-users"></i>
            <span>{% trans 'users' as t_users %}{{ t_users|capfirst}}</span>
        </a>
        <div id="collapseUser" class="collapse {% if show_nav_users == True %}show{% endif %}"
            aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-secondary pb-2 collapse-inner rounded">
                <a class="collapse-item {% if active_nav == 'trainees' %}active{% endif %}"
                    href="{% url 'dashboard:trainees-list' %}">
                    <i class="fas fa-fw fa-user-ninja"></i>
                    <span>
                        {% trans 'trainees' as t_trainees %} {{ t_trainees|capfirst }}
                    </span>
                </a>
                <a class="collapse-item {% if active_nav == 'trainers' %}active{% endif %}"
                    href="{% url 'dashboard:trainers-list' %}">
                    <i class="fas fa-fw fa-user-graduate"></i>
                    <span>
                        {% trans 'trainers' as t_trainers %} {{ t_trainers|capfirst }}
                    </span>
                </a>
                <a class="collapse-item {% if active_nav == 'staffs' %}active{% endif %}"
                    href="{% url 'dashboard:staffs-list' %}">
                    <i class="fas fa-fw fa-user-tie"></i>
                    <span>
                        {% trans 'staffs' as t_staffs %} {{ t_staffs|capfirst }}
                    </span>
                </a>
                <a class="collapse-item {% if active_nav == 'admins' %}active{% endif %}"
                    href="{% url 'dashboard:admins-list' %}">
                    <i class="fas fa-fw fa-user-cog"></i>
                    <span>
                        {% trans 'admin' as t_admin %}{{ t_admin|capfirst }}
                    </span>
                </a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Courses -->
    <li class="nav-item {% if active_nav == 'courses' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:courses-list'%}">
            <i class="fas fa-fw fa-window-restore"></i>
            <span>
                {% trans 'courses' as t_courses %} {{ t_courses|capfirst }}
            </span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Classes -->
    <li class="nav-item {% if active_nav == 'classes' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:classes-list' %}">
            <i class="fas fa-fw fa-braille"></i>
            <span>
                {% trans 'classes' as t_classes %} {{ t_classes|capfirst }}
            </span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Card Types - Cards -->
    <li class="nav-item {% if show_nav == True %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCards" aria-expanded="true"
            aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-id-card"></i>
            <span>{% trans 'cards' as t_cards %} {{ t_cards|capfirst }}</span>
        </a>
        <div id="collapseCards" class="collapse {% if show_nav == True %}show{% endif %}"
            aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-secondary pb-2 collapse-inner rounded">
                <a class="collapse-item {% if active_nav == 'cards' %}active{% endif %}"
                    href="{% url 'dashboard:cards-list' %}">
                    <i class="fas fa-fw fa-id-card-alt"></i>
                    <span>
                        {{ t_cards|capfirst }}
                    </span>
                </a>
                <a class="collapse-item {% if active_nav == 'card_types' %}active{% endif %}"
                    href="{% url 'dashboard:card-types-list' %}">
                    <i class="fas fa-fw fa-vr-cardboard"></i>
                    <span>
                        {% trans 'card types' as t_card_types %} {{ t_card_types|title }}
                    </span>
                </a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Rooms -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:rooms-list' %}">
            <i class="fab fa-fw fa-buromobelexperte"></i>
            <span>
                {% trans 'rooms' as t_rooms %} {{ t_rooms|capfirst }}
            </span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Request -->
    <li class="nav-item {% if show_nav_request == True %}active{% endif %}">
        <a class="nav-link collapsed" href="javascript:;" data-toggle="collapse" data-target="#collapseRequest"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-mail-bulk"></i>
            <span>{% trans 'request' as t_request %} {{ t_request|capfirst }}</span>
        </a>
        <div id="collapseRequest" class="collapse {% if show_nav_requests == True %}show{% endif %}"
            aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-secondary pb-2 collapse-inner rounded">
                <a class="collapse-item {% if active_nav == 'extend_card_requests' %}active{% endif %}" href="{% url 'dashboard:extend-card-requests-list' %}">
                    <i class="fas fa-expand-alt"></i>
                    <span>
                        {% trans 'extend card request' as t_extend_card_request %}
                        {{ t_extend_card_request|capfirst }}
                    </span>
                </a>
                <a class="collapse-item {% if active_nav == 'refund_requests' %}active{% endif %}" href="{% url 'dashboard:refund-requests-list' %}">
                    <i class="fas fa-retweet"></i>
                    <span>
                        {% trans 'refund request' as t_refund_request %} {{ t_refund_request|capfirst }}
                    </span>
                </a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Blog -->
    <li class="nav-item {% if show_nav_blog == True %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBlog" aria-expanded="true"
            aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-blog"></i>
            <span>{% trans 'blog' as t_blog %} {{ t_blog|capfirst }}</span>
        </a>
        <div id="collapseBlog" class="collapse {% if show_nav_blog == True %}show{% endif %}"
            aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-secondary pb-2 collapse-inner rounded">
                <a class="collapse-item {% if active_nav == 'blog_categories' %}active{% endif %}"
                    href="{% url 'dashboard:blog-categories-list' %}">
                    <i class="fas fa-fw fa-cubes"></i>
                    <span>
                        {% trans 'post categories' as t_post_categories %}
                        {{ t_post_categories|capfirst }}
                    </span>
                </a>
                <a class="collapse-item {% if active_nav == 'blog_posts' %}active{% endif %}"
                    href="{% url 'dashboard:blog-posts-list' %}">
                    <i class="fas fa-fw fa-cube"></i>
                    <span>
                        {% trans 'post' as t_post %} {{ t_post|title }}
                    </span>
                </a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Shop -->
    <li class="nav-item {% if show_nav_shop == True %}active{% endif %}">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseShop" aria-expanded="true"
            aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-store"></i>
            <span>{% trans 'shop' as t_shop %} {{ t_shop|capfirst }}</span>
        </a>
        <div id="collapseShop" class="collapse {% if show_nav_shop == True %}show{% endif %}"
            aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-secondary pb-2 collapse-inner rounded">
                <a class="collapse-item {% if active_nav == 'product_categories' %}active{% endif %}"
                    href="{% url 'dashboard:shop-categories-list' %}">
                    <i class="fab fa-fw fa-accusoft"></i>
                    <span>
                        {% trans 'product categories' as t_product_categories %}
                        {{ t_product_categories|capfirst }}
                    </span>
                </a>
                <a class="collapse-item {% if active_nav == 'products' %}active{% endif %}"
                    href="{% url 'dashboard:shop-products-list' %}">
                    <i class="fab fa-fw fa-product-hunt"></i>
                    <span>
                        {% trans 'products' as t_products %} {{ t_products|capfirst }}
                    </span>
                </a>
                <a class="collapse-item {% if active_nav == 'bills' %}active{% endif %}" href="{% url 'dashboard:shop-bills-list' %}">
                    <i class="fas fa-fw fa-file-invoice-dollar"></i>
                    <span>
                        {% trans 'bills' as t_bills %} {{ t_bills|capfirst }}
                    </span>
                </a>
            </div>
        </div>
    </li>
    <!-- Promotion -->
    <hr class="sidebar-divider my-0">
    <li class="nav-item {% if active_nav == 'promotions' %}active{% endif %}">
        <a class="nav-link" href="{% url 'dashboard:promotions-list' %}">
            <i class="fas fa-fw fa-award"></i>
            <span>
                {% trans 'promotions' as t_promotions %} {{ t_promotions|capfirst }}
            </span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Gallery -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:gallery-list' %}">
            <i class="far fa-fw fa-images"></i>
            <span>
                {% trans 'gallery' as t_gallery %} {{ t_gallery|capfirst }}
            </span>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Events -->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dashboard:events-list' %}">
            <i class="fas fa-fw fa-heartbeat"></i>
            <span>
                {% trans 'events' as t_events %} {{ t_events|capfirst }}
            </span>
        </a>
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    <div class="copyright text-center text-secondary my-auto">
        <small>Copyright &copy; Lotus Yoga </small>
    </div>
</ul>