{% extends 'profile/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block specified_css %}
<link href="{% static 'fullcalendar-4.3.1/packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/list/main.css' %}" rel='stylesheet' />
<script src="{% static 'fullcalendar-4.3.1/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/core/locales-all.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/interaction/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/timegrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/list/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-common/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-timegrid/main.js' %} "></script>
<link rel="stylesheet" href="{% static 'css/profile/style.css' %}">
<link href="{% static 'css/core/profile/trainees/cards/style.css' %}" rel='stylesheet' />

<style>
.fc-event {
    font-size: 0.55em;
}
</style>
{% endblock %}

{% block header_path %}
<a class="text-danger" href="{% url 'core:profile-trainee-cards' %}">Thẻ tập</a>
⁄
<a class="text-danger" href="javascript:;">{{ object.yogaclass }} - {{ object.card.card_type }}</a>
⁄
<a class="text-danger" href="javascript:;">Gia hạn</a>
⁄
<a class="text-danger" href="javascript:;">{{ object.pk }}</a>
⁄
<a class="text-danger" href="javascript:;">Sửa</a>
{% endblock %}

{% block profile_content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-grey">
            <p class="text-center bg-secondary text-white">GIA HẠN THẺ TẬP</p>
            {%  crispy form %}
        </div>
        <div class="col-md-6">
            <div id='calendar'></div>
        </div>
    </div>
</div>

{% endblock %}

{% block specified_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('[data-toggle="tooltip"]').tooltip();

        var Draggable = FullCalendarInteraction.Draggable;
        var containerEl = document.getElementById('trial-lesson');

        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            defaultDate: Date.now(),
            locale: "{{ request.LANGUAGE_CODE }}",
            header: {
                right: 'prev,next',
                left: 'title'
            },
            contentHeight: "auto",
            events: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: "{% url 'classes:get-list-lesson' object.card.yogaclass.slug %}",
                    type: 'GET',
                    data: {
                        startStr: fetchInfo.startStr,
                        endStr: fetchInfo.endStr
                    },
                    success: function (data) {
                        console.log('data lesson events', data);
                        var events = [];
                        for (var i = 0; i < data.length; i++) {
                            var _d = data[i]['date'];
                            var _st = data[i]['start_time'];
                            var _et = data[i]['end_time'];
                            var _start_time = _d + ' ' + _st;
                            var _end_time = _d + ' ' + _et;
                            var start_time = new Date(_start_time);
                            var end_time = new Date(_end_time);
                            var bg_color = '#0c9463';
                            var border_color = '#0c9463';
                            var title_tooltip = null;
                            if (data[i]['is_full'] == true) {
                                bg_color = '#ef4339';
                                border_color = '#ef4339';
                                editable = false;
                                title_tooltip = "{% trans 'lesson is full' %}";
                            }
                            if (jQuery.inArray(parseInt("{{ card.id }}"), data[i]['cards']) !== -1) {
                                bg_color = '#596157';
                                border_color = '#596157';
                                editable = false;
                                title_tooltip = "{% trans 'has been registered' %}";
                            }
                            events.push({
                                id: data[i]['id'],
                                title: _st.split(':', 2).join(":") + '-' + _et.split(':', 2).join(":"),
                                start: start_time,
                                end: end_time,
                                url: 'javascript:;',
                                overlap: false,
                                allDaySlot: false,
                                backgroundColor: bg_color,
                                borderColor: border_color,
                                titleTooltip: title_tooltip
                            });
                        }
                        successCallback(events);
                    }
                });
            },
            eventRender: function (info) {
                if (info.event.extendedProps.titleTooltip) {
                    $(info.el).attr('data-toggle', "tooltip");
                    $(info.el).attr('title', info.event.extendedProps.titleTooltip);
                }
            }
        });

        calendar.render();

        // WHEN CARD TYPE IS SOME LESSONS
        // Get and render leson list of class in range time 
        render_lesson_list = function () {
            var old_expire_date = '{{  object.card.end_at|date:"Y-m-d" }}';
            var end_at = $('#id_new_expire_date').data("datetimepicker")._datesFormatted[0];
            $.ajax({
                url: '{% url "lessons:json-list-in-range-time" %}',
                data: {
                    'startStr': old_expire_date,
                    'endStr': end_at,
                    'id_class': '{{object.card.yogaclass.pk}}',
                    'available_only': 1
                }
            }).done((data) => {
                console.log(data);
                content = '<ul class="list-group">';
                content_li = "";
                // ignore last lesson in card
                for (var i = 1; i < data.length; i++) {
                    content_li += '<li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center">';
                    content_li += data[i]['date'];
                    content_li += '<a href="javascript:;" class="badge badge-info badge-pill">';
                    content_li += (i).toString();
                    content_li += '</a>';
                    content_li += '</li>';
                }
                content += content_li;
                content += '</ul>';
                $('#extend_lesson_list').empty();
                $('#extend_lesson_list').append(content);
                $('#extend_lesson').removeClass('d-none');
            });
        }

        $('input#id_new_expire_date').on("change.datetimepicker", ({ date, oldDate }) => {
            if ($('input#id_new_expire_date').val() != '') {
                if (date != null && date._i != undefined) {
                    render_lesson_list();
                }
            }
        });
    });
</script>
{% endblock %}