{% extends 'profile/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block specified_css %}
<link href="{% static 'fullcalendar-4.3.1/packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/list/main.css' %}" rel='stylesheet' />
<script src="{% static 'fullcalendar-4.3.1/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/core/locales-all.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/interaction/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/timegrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/list/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-common/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-timegrid/main.js' %} "></script>
<link rel="stylesheet" href="{% static 'css/profile/style.css' %}">
<link href="{% static 'css/core/profile/trainees/cards/style.css' %}" rel='stylesheet' />

<style>
    .fc-event {
        font-size: 0.55em;
    }
    .invalid-feedback {
        display: block;
    }
</style>
{% endblock %}

{% block header_path %}
<a class="text-danger" href="{% url 'profile:profile-trainee-cards' %}">&raquo; Thẻ tập</a>
<a class="text-danger" href="{% url 'profile:profile-trainee-cards-detail' card.pk %}">&raquo; {{ card.yogaclass }} - {{ card.card_type }}</a>
<a class="text-danger" href="javascript:;">&raquo; Hoàn tiền</a>
{% endblock %}

{% block profile_content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-grey">
            <p class="text-center bg-secondary text-white">HOÀN TIỀN</p>
            <p><small class="text-danger"><i class="fa fa-fw fa-exclamation-circle text-danger"></i><i>Chỉ áp dụng hoàn
                        tiền cho những buổi tập chưa được học</i></small></p>
            {%  crispy form %}
        </div>
        <div class="col-md-6">
            <p><span><i>Tổng số buổi tập trong thẻ: {{ card.roll_calls.count }}</i></span></p>
            <div id='calendar'></div>
        </div>
    </div>
</div>

{% endblock %}

{% block specified_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('[data-toggle="tooltip"]').tooltip();

        var Draggable = FullCalendarInteraction.Draggable;
        var containerEl = document.getElementById('lesson_list');

        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            defaultDate: Date.now(),
            locale: "{{ request.LANGUAGE_CODE }}",
            header: {
                right: 'prev,next',
                left: 'title'
            },
            contentHeight: "auto",
            events: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: "{% url 'profile:profile-trainee-cards-roll-call-list' card.pk %}",
                    type: 'GET',
                    data: {
                        startStr: fetchInfo.startStr,
                        endStr: fetchInfo.endStr
                    },
                    success: function (data) {
                        console.log('Roll Call List Data', data);
                        var events = [];
                        for (var i = 0; i < data.length; i++) {
                            var roll_call = data[i];
                            var lesson = roll_call['lesson'];
                            var _d = lesson['date'];
                            var _st = lesson['start_time'];
                            var _et = lesson['end_time'];
                            var _start_time = _d + ' ' + _st;
                            var _end_time = _d + ' ' + _et;
                            var start_time = new Date(_start_time);
                            var end_time = new Date(_end_time);
                            var bg_color = '#0c9463';
                            var border_color = '#0c9463';
                            var title_tooltip = null;
                            if (roll_call['studied'] == false) {
                                if(roll_call['having_make_up_lesson'] == true){
                                    bg_color = '#f5a31a';
                                    border_color = '#f5a31a';
                                    editable = false;
                                    title_tooltip = "học bù";
                                }else{
                                    bg_color = '#03A84E';
                                    border_color = '#03A84E';
                                    editable = false;
                                    title_tooltip = "chưa học";
                                }
                            } else {
                                bg_color = '#EA390A';
                                border_color = '#EA390A';
                                editable = false;
                                title_tooltip = "đã học";
                            }
                            events.push({
                                id: lesson['id'],
                                title: _st.split(':', 2).join(":") + '-' + _et.split(':', 2).join(":"),
                                start: start_time,
                                end: end_time,
                                url: 'javascript:;',
                                overlap: false,
                                allDaySlot: false,
                                backgroundColor: bg_color,
                                borderColor: border_color,
                                titleTooltip: title_tooltip
                            });
                        }
                        successCallback(events);
                    }
                });
            },
            eventRender: function (info) {
                if (info.event.extendedProps.titleTooltip) {
                    $(info.el).attr('data-toggle', "tooltip");
                    $(info.el).attr('title', info.event.extendedProps.titleTooltip);
                }
            }
        });

        calendar.render();
    });

    $(document).on('click', 'form#form_refund > input[type=submit]', function (e) {
        var checkedValue = [];
        var inputElements = document.getElementsByName('roll_calls');
        for (var i = 0; inputElements[i]; ++i) {
            if (inputElements[i].checked) {
                checkedValue.push(inputElements[i].value);
            }
        }
        if (checkedValue.length > 0) {
            return true;
        } else {
            Swal.fire(
                "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                "Vui lòng chọn buổi học",
                'error'
            );
            return false;
        }
    });

    $(document).on('change', 'input[name=roll_calls]', function () {
        var price_of_one_lesson = parseFloat('{{ card.price_of_one_lesson }}');
        console.log(price_of_one_lesson);
        var checkedValue = [];
        var inputElements = document.getElementsByName('roll_calls');
        for (var i = 0; inputElements[i]; ++i) {
            if (inputElements[i].checked) {
                checkedValue.push(inputElements[i].value);
            }
        }
        var total_refund = price_of_one_lesson * checkedValue.length;
        $('#id_amount').val(total_refund);
    });

</script>
{% endblock %}