.fc-time{
    display: none;
}

.fc-content{
    text-align: center;
}

#drapdrop-lesson-listing, #some_lesson_list{
    min-height: 100px;
}

#drapdrop-lesson, #div_for_some_lesson_list{
    background-color: #fff;
    padding: 10px;
    border-radius: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}
.a-remove-drapdrop-lesson{
    color:#000;
}

#price_table{
    background: #00918e;
    color: white;
}
#price_table.table-hover tbody tr:hover{
    color: white;
}
@media (min-width: 576px){
    .jumbotron {
        padding: 2rem 2rem;
    }
}
.jumbotron {
    background-color: #f9f9f9;
    border-radius: 0; 
}

.card {
    border-radius: 0;
}

.price-card{
    background-color: #527318 !important;
    background: url('../../img/huongtre_favicon.png');
    background-position: 92%;
    background-repeat:no-repeat;
  }
  
  .price-card .card-link {
    color: #fff;
  }
  
  .price-card:hover .card-link{
    text-decoration: underline;
  } 
  .price-card .card-link:hover{
    text-decoration: underline;
  }

  .text-red-custom{
      color: #527318;
  }

  #id_payment_period{
      list-style: none;
  }