.classes-details ul li {
    padding-left: 0px;
}

.site-btn.site-btn-sm {
    padding: 8px 14px !important;
    font-size: 12px !important;
    min-width: 84px;
    font-weight: 500;
}

.content h1, h2, h3, h4, h5, h6 {
   margin-bottom: .5rem;
}

.tab-content{
    padding: 0 15px 25px 15px;
}

.nav.nav-tabs .nav-item{
    width: 50%;
    color: #fb3958;
}

.nav-tabs .nav-link{
    color: #fb3958;
    border-radius: 0;
    border: none;
}

.nav-tabs {
    border-bottom: 1px solid #fb3958;
}

.nav-tabs .nav-link.active {
    color:white;
    background: linear-gradient(145deg, #fb3958 0%, #fdb07d 100%);
    border-color: #fb3958 #fb3958 #fb3958;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: #fb3958 #fb3958 #fb3958;
}

.classes-details blockquote {
	margin-left: 55px;
    margin-top: 20px;
    font-style: italic;
    font-size: 16px;
    color: #666666;
    padding-right: 20px;
    line-height: 1.8;
    position: relative;
    margin-bottom: 45px;
}

.lecture-des ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
	padding-inline-start: 40px;
	list-style-type: circle;
}