{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block specified_css %}
<script src="https://js.stripe.com/v3/"></script>
<link href="{% static 'css/payment/style.css' %}" rel='stylesheet' />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
  integrity="sha256-JHGEmB629pipTkMag9aMaw32I8zle24p3FpsEeI6oZU=" crossorigin="anonymous" />
{% endblock %}

{% block content %}
<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg'%}">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto text-white">
        <h2>{% trans 'Payment'%}</h2>
      </div>
    </div>
  </div>
</section>
<section class="classes-page-section spad overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" style="background: lightgrey;">
        <h5 class="mt-3 mb-3">{% trans 'Payment Info' %}</h5>
        <div class="row">
          <div class="col-lg-6">
            <div class="classes-item-warp">
              <div class="classes-item">
                <a href="{% url 'classes:detail' yoga_class.slug %}" class="ci-img">
                  {% if yoga_class.image %}
                  <img src="{{ yoga_class.image.url }}" alt="{{yoga_class.name}}">
                  {% else %}
                  <img src="{% static 'img/class/default.jpg'%}" alt="{{yoga_class.name}}">
                  {% endif %}
                </a>
                <div class="ci-text">
                  <h4>{{ yoga_class.name }}</h4>
                  <div class="ci-metas">
                    <div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri
                    </div>
                    <div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm
                    </div>
                  </div>
                  <p>{{ yoga_class.description }}</p>
                </div>
                <div class="ci-bottom">
                  <div class="ci-author">
                    {% if yoga_class.form_trainer.user.image %}
                    <img src="{{ yoga_class.form_trainer.user.image.url }}" alt="{{yoga_class.form_trainer}}">
                    {% else %}
                    <img src="{% static 'img/user/default.png'%}" alt="{{yoga_class.form_trainer}}">
                    {% endif %}
                    <div class="author-text">
                      <h6>{{ yoga_class.form_trainer }}</h6>
                      <p>{% trans 'Yoga Trainer' %}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="classes-item-warp">
              <div class="classes-item detail-payment">
                <table class="table table-hover">
                  <tbody>
                    <tr>
                      <td>{% trans 'card type' as t_card_type %}{{ t_card_type|capfirst }}</td>
                      <td>{{ card_type }}</td>
                    </tr>
                    <tr>
                      <td>{% trans 'start at' as t_start_at %}{{ t_start_at|capfirst }}</td>
                      <td>{{ start_at }}</td>
                    </tr>
                    <tr>
                      <td>{% trans 'end at' as t_end_at %}{{ t_end_at|capfirst }}</td>
                      <td>{{ end_at }}</td>
                    </tr>
                    <tr>
                      <td>{% trans 'number of lessons' as t_number_of_lessons %}{{ t_number_of_lessons|capfirst }}</td>
                      <td>{{ number_of_lessons }}</td>
                    </tr>
                    <tr>
                      <td>{% trans 'price' as t_price %}{{ t_price|capfirst }}</td>
                      <td>
                        {% if total_price > 0 %}
                        {{ price }} {% trans 'vnd' %}
                        {% else %}
                        {{ price }}
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>{% trans 'total price' as t_total_price %}{{ t_total_price|capfirst }}</td>
                      <td>
                        {% if total_price > 0 %}
                        {{ total_price_display }} {% trans 'vnd' %}
                        {% else %}
                        {{ total_price_display }}
                        {% endif %}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--  -->
              <h5 class="mb-3">{% trans 'Your Lesson List' %}</h5>
              <ul class="list-group mCustomScrollbar" style="max-height: 150px;">
                {% for lesson in lesson_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ lesson.day }} - {{ lesson.get_time_and_room_detail }}
                  <span class="badge badge-primary badge-pill">{{ forloop.counter }}</span>
                </li>
                {% endfor %}
              </ul>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cell example example5" id="example-5">
          <!--  -->
          <form id="payment_form">
            <input type="hidden" name="amount" value="{{ total_price }}">
            <fieldset>
              <legend class="card-only">{% trans 'Please enter information below' %}</legend>
              <div class="row">
                <div class="field">
                  <label for="example5-name">{% trans 'name' as t_name %} {{t_name|title}}</label>
                  {{ form.name }}
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <label for="example5-phone">{% trans 'phone number' as t_phone %}{{ t_phone|title }}</label>
                  {{ form.phone }}
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <label for="example5-email">{% trans 'email' as t_email %}{{ t_email|title }}</label>
                  {{ form.email }}
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <label for="example5-address">{% trans 'address' as t_addr %}{{ t_addr|title }}</label>
                  {{ form.address }}
                </div>
              </div>
              <div class="row">
                <div class="field">
                  <label for="example5-address">{% trans 'city' as t_city %}{{ t_city|title }}</label>
                  {{ form.city }}
                </div>
              </div>
              <!-- Payment Card -->
              {% if total_price > 0 %}
              <div class="row">
                <div class="field">
                  <label>
                    {% trans 'Payment Card' %}
                  </label>
                  <div id="card-element" class="field"></div>
                </div>
              </div>
              {% endif %}
              <!--  -->
              <div class="row">
                <div class="field">
                  {% if total_price > 0 %}
                  <button type="submit">{% trans 'Pay' %} <strong id="total_price_payment">{{ total_price }}</strong>
                    {% trans 'vnd' %}</button>
                  {% elif total_price == 0 %}
                  <button type="submit">{% trans 'Free Register' %} </button>
                  {% else %}
                  <button type="submit">{% trans 'Contact for more' %} </button>
                  {% endif %}
                </div>
                <div class="outcome">
                  <div class="error"></div>
                  <div class="success">
                    Success! Your Stripe token is <span class="token"></span>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block specified_js %}
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
  integrity="sha256-/YAntTqXy9V4LoXFkI5WPDl3ZwP/knn1BljmMJJ7QWc=" crossorigin="anonymous"></script>

<script>
  $(function () {
    $(".list-lesson").mCustomScrollbar();

    var stripe = Stripe('{{ key }}');
    var elements = stripe.elements();

    var card = elements.create('card', {
      hidePostalCode: true,
      style: {
        base: {
          iconColor: '#F99A52',
          color: '#32315E',
          lineHeight: '48px',
          fontWeight: 400,
          fontFamily: '"Open Sans", "Helvetica Neue", "Helvetica", sans-serif',
          fontSize: '15px',
          '::placeholder': {
            color: '#CFD7DF',
          }
        },
      }
    });
    card.mount('#card-element');

    function setOutcome(result) {
      var successElement = document.querySelector('.success');
      var errorElement = document.querySelector('.error');
      successElement.classList.remove('visible');
      errorElement.classList.remove('visible');

      if (result.token) {
        // Use the token to create a charge or a customer
        // https://stripe.com/docs/charges
        successElement.querySelector('.token').textContent = result.token.id;
        successElement.classList.add('visible');
      } else if (result.error) {
        errorElement.textContent = result.error.message;
        errorElement.classList.add('visible');
      }
    }

    card.on('change', function (event) {
      setOutcome(event);
    });

    $('form#payment_form').submit(function (e) {
      e.preventDefault();
      var billing_details = {
        name: $('input[name=name]').val(),
        email: $('input[name=email]').val(),
        phone: $('input[name=phone]').val(),
        address_line1: $('input[name=address]').val(),
        address_city: $('input[name=city]').val()
      };

      stripe.createToken(card, billing_details).then(function (result) {
        stripeToken = result.token.id;
        data = $('form#payment_form').serialize() + '&stripeToken=' + stripeToken;
        $.ajax({
          headers: {
            'X-CSRFTOKEN': '{{ csrf_token }}'
          },
          url: "{% url 'classes:enroll-payment' yoga_class.slug %}",
          type: 'POST',
          data: data
        }).done(function (data) {
          console.log(data);
        }).fail(function (err) {
          console.log(err);
        });
      });
    });
  });
</script>
{% endblock %}