{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load dashboard_extras %}

{% block specified_css %}
<link href="{% static 'css/dashboard/classes/list.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0 title"><small><i class="fas fa-fw fa-list"></i></small> Danh sách lớp đào tạo huấn luyện viên</h1>
</div>
<!-- Content Row -->
{% if not classes %}
<p class="text-danger">
    {% trans 'class' as trans_class %}
    {% blocktrans with value=trans_class %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><small>{% trans 'name' as t_name %}{{ t_name|capfirst }}</small></th>
                        <th><small>{% trans 'course' as t_course %}{{ t_course|capfirst }}</small></th>
                        <th><small>Thời gian bắt đầu</small></th>
                        <th><small>Thời gian kết thúc</small></th>
                        <th><small>Số lượng học viên</small></th>
                        <th><small>{% trans 'trainer' as t_trainer %}{{ t_trainer|capfirst }}</small></th>
                        <th><small>{% trans 'action' as t_action %}{{ t_action|capfirst }}</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes %}
                    {% if class.is_happened_training_class %}
                    <tr class="table-secondary">
                    {% else %}
                    <tr>
                    {% endif %}
                        <td>{{ class.id }}</td>
                        <td>{{ class.name }}</td>
                        <td>
                            <span class="badge badge-pill badge-primary">
                                {{ class.course }}
                            </span>
                            {% if class.is_happened_training_class %}
                            <span class="badge badge-pill badge-danger">đã hoàn thành</span>
                            {% endif %}
                        </td>
                        <td><span class="badge badge-pill badge-warning">{{ class.start_at }}</span></td>
                        <td><span class="badge badge-pill badge-warning">{{ class.end_at }}</span></td>
                        <td>{{ class.cards.all.count }}</td>
                        <td>
                            {% if class.trainer %}
                            {{ class.trainer }}
                            {% else %}
                            {% trans 'have not updated yet' as t_trainer %}
                            {{ t_trainer|capfirst }}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'dashboard:trainee-of-training-class-list' class.slug %}" class="btn btn-sm btn-info">Chọn</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        {% include 'dashboard/pagination.html' %}
    </div>
</div>

{% endif %}
{% endblock %}
{% block specified_js %}
{% endblock %}
