{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load settings_extras %}
{% load sexify %}

{% block specified_css %}
<link href="{% static 'css/courses/show.css' %}" rel='stylesheet' />
{% endblock %}

{% block content %}
<section class="classes-details-section spad">
    <div class="container mt-3">
        <div class="row mb-3">
            <div class="col">
                <a class="text-danger" href="javascript:;"><span class="flaticon-lotus"></span>
                    {{ course.name }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="classes-preview">
                    {% if course.image %}
                    <img src="{{ course.image.url }}" alt="{{ course.name }}">
                    {% else %}
                    <img src="{% static 'img/course/default_course.jpg'%}" alt="{{ course.name }}">
                    {% endif %}
                </div>
                <div class="row mt-3 mb-3">
                    <div class="col-md-8 col-lg-8">
                        <h2>{{ course.name }}</h2>
                    </div>
                    <div class="col-md-4 col-lg-4 text-left text-md-right">
                        <a class="site-btn sb-gradient"
                            href="{% url 'classes:list' %}?course={{course.slug}}">{% trans 'view classes' as t_view_classes %}{{t_view_classes|capfirst}}
                        </a>
                    </div>
                </div>
                <blockquote>
                    {{ course.description }}
                </blockquote>
                <div class="row">
                    <div class="col">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#detail">Thông tin chi tiết</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#lectures">Bài học</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="detail">
                            <div class="container">
                                <div class="row">
                                    <div class="content">
                                        {% if course.content %}
                                        {{ course.content | safe }}
                                        {% else %}
                                        <h3>Chưa cập nhật</h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="lectures">
                            <div class="container">
                                <div class="row pt-3">
                                    {% if course.lectures.all.count > 0 %}
                                    <!--  -->
                                    <div class="panel-group" id="accordion">
                                        {% for lecture in course.lectures.all %}
                                        <div class="panel panel-default mb-3">
                                            <div class="panel-heading" id="heading{{lecture.pk}}">
                                                <h5>
                                                    <a style="font-family: serif;color: darkred;" href="#collapseLecture{{lecture.pk}}"
                                                        data-toggle="collapse"
                                                        data-parent="#accordion">{{forloop.counter}}. {{ lecture }}</a>
                                                    </h5>
                                            </div>
                                            <div id="collapseLecture{{lecture.pk}}"
                                                class="panel-collapse collapse {% if forloop.first %}show{% endif %}">
                                                <div class="panel-body lecture-des">
                                                    {% if lecture.description is not None %}
                                                    {{ lecture.description|safe }}
                                                    {% else %}
                                                    {% trans "have not updated yet" %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    {% else %}
                                    <h3>Chưa cập nhật</h3>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="fb-comments"
                        data-href="{% settings_value 'FACEBOOK_PRIVACY_POLICY_URL' %}{% url 'courses:detail' course.slug %}"
                        data-numposts="5" data-width="100%"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sb-widget">
                    <h2 class="sb-title">Thông tin giá thẻ tập</h2>
                    {% if course.course_type == 0 %}
                    <div class="classes-info">
                        <ul>
                            <li><i class="material-icons">more</i><b class="text-danger" style='font-family: "Playfair Display", serif;'>Đăng kí theo tháng</b></li>
                            <li><i class="material-icons">attach_money</i>Giá 1 tháng: <span class="text-danger">{{ course.get_price_per_month }}</span></li>
                            <li><i class="material-icons">notes</i>Đăng kí học toàn bộ số buổi trong tháng với giá tiền 1 tháng là {{ course.get_price_per_month }}</li>
                        </ul>
                    </div>
                    <div class="classes-info">
                        <ul>
                            <li><i class="material-icons">more</i><b class="text-danger" style='font-family: "Playfair Display", serif;'>Đăng kí theo khoảng thời gian</b></li>
                            <li><i class="material-icons">attach_money</i>Giá 1 buổi: <span class="text-danger">{{ course.get_price_per_lesson }}</span></li>
                            <li><i class="material-icons">notes</i>Đăng kí học các buổi liên tục trong một khoảng thời gian với giá tiền 1 buổi là {{ course.get_price_per_lesson }}</li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="classes-info">
                        <ul>
                            <li><i class="material-icons">more</i><b class="text-danger" style='font-family: "Playfair Display", serif;'>Đăng kí học theo buổi</b></li>
                            <li><i class="material-icons">attach_money</i>Giá 1 buổi: <span class="text-danger">{{ course.get_price_for_some_lessons_cardtype|sexy_number }}đ</span></li>
                            <li><i class="material-icons">notes</i>Đăng kí học một số buổi với giá mỗi buổi là {{ course.get_price_for_some_lessons_cardtype|sexy_number }}đ</li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="classes-info">
                        <ul>
                            <li><i class="material-icons">more</i><b class="text-danger" style='font-family: "Playfair Display", serif;'>Đăng kí học thử</b></li>
                            <li><i class="material-icons">attach_money</i>Giá học thử 1 buổi: <span class="text-danger">{{ course.get_trial_price }}</span></li>
                        </ul>
                    </div>
                    {% else %}
                    <div class="classes-info">
                        <ul>
                            <li><i class="material-icons">more</i><b class="text-danger" style='font-family: "Playfair Display", serif;'>Đăng kí học khóa học</b></li>
                            <li><i class="material-icons">attach_money</i>Giá: <span class="text-danger">{{ course.get_price_for_training_class }}</span></li>
                            <li><i class="material-icons">notes</i>Đăng kí học khóa học với giá tiền cho toàn bộ khóa học là {{ course.get_price_for_training_class }}</li>
                            <li><i class="material-icons">label_important</i>Học viên có thể đóng tiền trong từng đợt thay vì phải đóng cho cả một lần</li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}