{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load settings_extras %}

{% block specified_css %}
<link href="{% static 'css/blog/posts/detail.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="blog-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row mb-3">
                    <div class="col">
                        <a class="text-danger"><span class="flaticon-lotus"></span> &raquo; </a>
                        <a class="text-danger" href="{% url 'blog:list' %}">Blog &raquo; </a>
                        <a class="text-danger" href="javascript:;">{{ post.category|title }} &raquo; </a>
                        <a class="text-danger" href="javascript:;">{{ post|title }}</a>
                    </div>
                </div>
                <div class="blog-details">
                    <div class="blog-preview">
                        <img src="{{ post.image.url }}" alt="{{ post }}">
                    </div>
                    <h2>{{ post }}</h2>
                    <div class="blog-meta"><p><i class="material-icons">event_available</i>{{ post.created_at|date }}</p></div>
                    <blockquote>
                        {{ post.description }}
                    </blockquote>
                    <div class="row">
                        <div class="container">
                        {{ post.content | safe}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="ed-cata"><p><i class="material-icons">local_offer</i>{{ post.category }}</p></div>
                        </div>
                    </div>
                    <h3 class="comment-title mt-3">{% trans 'Comments' %}</h3>
                    <div class="row">
                        <div class="fb-comments" data-href="{% settings_value 'FACEBOOK_PRIVACY_POLICY_URL' %}{% url 'blog:detail' post.slug %}" data-numposts="5" data-width="100%"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-8 sidebar">
                <div class="sb-widget">
                    <!-- <form class="search-form">
                        <input type="text" placeholder="Tìm kiếm">
                        <button><i class="material-icons">search</i></button>
                    </form> -->
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">{% trans 'Categories' %}</h2>
                    <ul class="sb-list">
                        {% for cat in categories %}
                            <li>
                                <a href="{% url 'blog:list' %}?category={{cat.slug}}">{{cat}}<span>({{cat.posts.count}})</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">{% trans 'Newest Posts' %}</h2>
                    <div class="latest-post-widget">
                        {% for p in newest_posts %}
                        <div class="lp-item">
                            <a href="{% url 'blog:detail' p.slug %}" class="lp-thumb set-bg" data-setbg="{{ p.image.url }}"></a>
                            <a href="{% url 'blog:detail' p.slug %}" class="lp-text">
                                <h3>{{ p }}</h3>
                                <p><i class="material-icons">event_available</i>{{p.created_at|date}}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">{% trans 'Tags' %}</h2>
                    <div class="sb-tags">
                        <a href="javascript:;">Sức khỏe</a>
                        <a href="javascript:;">Đời sống</a>
                        <a href="javascript:;">Yoga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block specified_js %}
{% endblock %}