{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block specified_css %}
<link href="{% static 'css/blog/posts/list.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<section class="blog-details-section spad">
    <div class="container content">
        <div class="row">
            <div class="col-lg-9">
                <div class="container">
                    {% if not posts %}
                    <div class="row">
                        <div class="col">
                            <h3 class="text-danger">
                                {% trans 'posts' as trans_value %}
                                {% blocktrans with value=trans_value %}No {{ value }} yet{% endblocktrans %}
                            </h3>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                {% trans 'post' as t_post %}
                                {% blocktrans with value1=page_obj.object_list.count value2=page_obj.paginator.count value3=t_post trimmed %}
                                Showing {{ value1 }} of {{ value2 }} {{ value3 }}
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item">
                                <a href="{% url 'blog:detail' post.slug %}">
                                    <img src="{{ post.image.url }}" alt="{{ post }}">
                                </a>
                                <div class="bi-text">
                                    <h2><a href="{% url 'blog:detail' post.slug %}">{{ post }}</a></h2>
                                    <p class="post-desc mCustomScrollbar">
                                        {{ post.description }}
                                    </p>
                                </div>
                                <div class="bi-footer">
                                    <a href="javascript:;" class="bi-cata">{{ post.category }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    {% if posts %}
                    {% include 'pagination.html' %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-8 sidebar">
                <div class="sb-widget">
                    <!-- <form class="search-form">
                        <input type="text" placeholder="{% trans 'Search' %}">
                        <button><i class="material-icons">search</i></button>
                    </form> -->
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">{% trans 'Categories' %}</h2>
                    <ul class="sb-list">
                        {% for cat in categories %}
                            <li>
                                <a href="{% url 'blog:list' %}?category={{cat.slug}}">{{cat}}<span>({{cat.posts.count}})</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">{% trans 'Newest Posts' %}</h2>
                    <div class="latest-post-widget">
                        {% for p in newest_posts %}
                        <div class="lp-item">
                            <a href="{% url 'blog:detail' p.slug %}" class="lp-thumb set-bg" data-setbg="{{ p.image.url }}"></a>
                            <a href="{% url 'blog:detail' p.slug %}" class="lp-text">
                                <h3>{{ p }}</h3>
                                <p><i class="material-icons">event_available</i>{{p.created_at|date}}</p>
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block specified_js %}
{% endblock %}