{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block specified_css %}
{% endblock %}
{% block content %}
<section class="blog-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="container">
                    {% if not posts %}
                    <div class="row">
                        <div class="col">
                            <h3 class="text-danger">
                                {% trans 'posts' as trans_value %}
                                {% blocktrans with value=trans_value %}No {{ value }} yet{% endblocktrans %}
                            </h3>
                        </div>
                    </div>
                    {% else %}
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                {% trans 'post' as t_post %}
                                {% blocktrans with value1=page_obj.object_list.count value2=page_obj.paginator.count value3=t_post trimmed %}
                                Showing {{ value1 }} of {{ value2 }} {{ value3 }}
                                {% endblocktrans %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-lg-6 col-md-6">
                            <div class="blog-item">
                                <a href="{% url 'blog:detail' post.slug %}">
                                    <img src="{{ post.image.url }}" alt="{{ post }}">
                                </a>
                                <div class="bi-text">
                                    <h2><a href="{% url 'blog:detail' post.slug %}">{{ post }}</a></h2>
                                    <p class="post-desc mCustomScrollbar">
                                        {{ post.description }}
                                    </p>
                                </div>
                                <div class="bi-footer">
                                    <a href="javascript:;" class="bi-cata">{{ post.category }}</a>
                                    <div class="bi-social">
                                        <a href="javascript:;"><i class="fab fa-facebook"></i></a>
                                        <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                                        <a href="javascript:;"><i class="fab fa-twitter"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    {% if posts %}
                    {% include 'pagination.html' %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-3 col-md-5 col-sm-8 sidebar">
                <div class="sb-widget">
                    <form class="search-form">
                        <input type="text" placeholder="Tìm kiếm">
                        <button><i class="material-icons">search</i></button>
                    </form>
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">Thể loại</h2>
                    <ul class="sb-list">
                        <li><a href="javascript:;">Sức khỏe<span>(5)</span></a></li>
                        <li><a href="javascript:;">Đời sống<span>(7)</span></a></li>
                        <li><a href="javascript:;">Làm đẹp<span>(3)</span></a></li>
                        <li><a href="javascript:;">Thử thách Yoga<span>(10)</span></a></li>
                        <li><a href="javascript:;">Đào tạo<span>(12)</span></a></li>
                        <li><a href="javascript:;">Kinh nghiệm<span>(4)</span></a></li>
                    </ul>
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">Bài viết mới nhất</h2>
                    <div class="latest-post-widget">
                        <div class="lp-item">
                            <a href="javascript:;" class="lp-thumb set-bg" data-setbg="{% static 'img/blog/8.jpg' %}"></a>
                            <a href="javascript:;" class="lp-text">
                                <h3>Rapid Weight Loss</h3>
                                <p><i class="material-icons">event_available</i>June 28, 2019</p>
                            </a>
                        </div>
                        <div class="lp-item">
                            <a href="javascript:;" class="lp-thumb set-bg" data-setbg="{% static 'img/blog/3.jpg' %}"></a>
                            <a href="javascript:;" class="lp-text">
                                <h3>Flexible Body</h3>
                                <p><i class="material-icons">event_available</i>June 28, 2019</p>
                            </a>
                        </div>
                        <div class="lp-item">
                            <a href="javascript:;" class="lp-thumb set-bg" data-setbg="{% static 'img/blog/9.jpg' %}"></a>
                            <a href="javascript:;" class="lp-text">
                                <h3>Healthy Eating Mode</h3>
                                <p><i class="material-icons">event_available</i>June 28, 2019</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">Hình ảnh nổi bật</h2>
                    <div class="insta-widget">
                        <div class="insta-item">
                            <div class="insta-img">
                                <img src="{% static 'img/infor/1.jpg' %}" alt="">
                                <div class="insta-hover">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="insta-item">
                            <div class="insta-img">
                                <img src="{% static 'img/infor/2.jpg' %}" alt="">
                                <div class="insta-hover">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="insta-item">
                            <div class="insta-img">
                                <img src="{% static 'img/infor/3.jpg' %}" alt="">
                                <div class="insta-hover">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="insta-item">
                            <div class="insta-img">
                                <img src="{% static 'img/infor/4.jpg' %}" alt="">
                                <div class="insta-hover">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="insta-item">
                            <div class="insta-img">
                                <img src="{% static 'img/infor/5.jpg' %}" alt="">
                                <div class="insta-hover">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                        <div class="insta-item">
                            <div class="insta-img">
                                <img src="{% static 'img/infor/6.jpg' %}" alt="">
                                <div class="insta-hover">
                                    <i class="fab fa-instagram"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">Tags</h2>
                    <div class="sb-tags">
                        <a href="javascript:;">Sức khỏe</a>
                        <a href="javascript:;">Đời sống</a>
                        <a href="javascript:;">Yoga</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block specified_js %}
{% endblock %}