{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load dashboard_extras %}
{% load sexify %}

{% block specified_css %}
{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0 title"><small><i class="fas fa-fw fa-list"></i></small> {% trans 'product list' %}</h1>
    <a href="{% url 'dashboard:shop-products-new' %}" class="btn btn-sm btn-success shadow-sm"><i
            class="fas fa-plus-square fa-sm text-white-50"></i> {% trans 'create new' %}</a>
</div>
{% if not products %}
<p class="text-danger">
    {% trans 'product' as tran_value %}
    {% blocktrans with value=tran_value %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><small>{% trans 'name' as t_name %}{{ t_name|capfirst }}</small></th>
                        <th><small>{% trans 'image' as t_image %}{{ t_image|capfirst }}</small></th>
                        <th><small>{% trans 'price' as t_image %}{{ t_image|capfirst }}</small></th>
                        <th><small>{% trans 'quantity' as t_quantity %}{{ t_quantity|capfirst }}</small></th>
                        <th><small>{% trans 'action' as t_action %}{{ t_action|capfirst }}</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>
                            <img src="{{ product.image.url }}" class="img img-fluid" width="50" alt="{{ product }}">
                        </td>
                        <td>{{ product.price | sexy_number }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" href="javascript:;"><i
                                    class="fas fa-fw fa-eye"></i>
                                {% trans 'show' as t_show %}{{ t_show|capfirst }}</a>
                            <a class="btn btn-sm btn-outline-warning" href="javascript:;"><i
                                    class="fas fa-fw fa-edit"></i>
                                {% trans 'edit' as t_edit %}{{ t_edit|capfirst }}</a>
                            <a class="btn btn-sm btn-outline-danger delete-product" href="javascript:;"><i
                                    class="fas fa-fw fa-trash"></i>
                                {% trans 'delete' as t_delete %}{{ t_delete|capfirst }}</a>
                            <form class="d-none" action="javascript:;" method="post">
                                {% csrf_token %}
                                <input type="submit" onclick="return confirm('Are you sure?');" value="Confirm">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        {% include 'dashboard/pagination.html' %}
    </div>
</div>

{% endif %}

{% endblock %}

{% block specified_js %}
<script type="text/javascript">
    $('.delete-product').click(function () {
        $(this).siblings('form').children('input[type=submit]').click();
    });
</script>
{% endblock %}