{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block specified_css %}
<link href="{% static 'fullcalendar-4.3.1/packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/list/main.css' %}" rel='stylesheet' />
<script src="{% static 'fullcalendar-4.3.1/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/core/locales-all.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/interaction/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/timegrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/list/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-common/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-timegrid/main.js' %} "></script>
<link href="{% static 'css/yoga_schedule/style.css' %}" rel='stylesheet' />

{% endblock %}

{% block content %}
<section class="spad">
    <div class="container">
        <div id='calendar'></div>
    </div>
</section>

<button id="btn_open_modal_lesson_info" type="button" class="d-none btn btn-primary" data-toggle="modal"
    data-target="#modal_lesson_info">
    Open modal
</button>


<!-- The Modal -->
<div class="modal" id="modal_lesson_info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-none">
                <h4 id="model_title" class="modal-title">{% trans 'Detail Information'  %}</h4>
                <button id="btn_close_modal_lesson_info" type="button" class="btn btn-sm btn-danger"
                    data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td>{% trans 'Class' %}</td>
                            <td id="class_info">{% trans 'have not updated yet' %}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Room' %}</td>
                            <td id="room_info">{% trans 'have not updated yet' %}</td>
                        </tr>
                        <tr>
                            <td>{% trans 'Trainer' %}</td>
                            <td id="trainer_info">{% trans 'have not updated yet' %}</td>
                        </tr>
                        <!-- <tr>
                            <td>{% trans 'Date' %}</td>
                            <td id="date_info">{% trans 'have not updated yet' %}</td>
                        </tr> -->
                        <tr>
                            <td>{% trans 'Time' %}</td>
                            <td id="time_info">{% trans 'have not updated yet' %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specified_js %}
<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'resourceDayGrid', 'resourceTimeGrid'],
            defaultView: 'resourceTimeGridDay',
            defaultDate: Date.now(),
            selectable: true,
            contentHeight: "auto",
            header: {
                left: 'prev, next',
                center: 'title',
                right: 'today'
            },
            titleFormat: {
                month: 'numeric',
                year: 'numeric',
                day: 'numeric',
                weekday: 'long'
            },
            locale: "{{ request.LANGUAGE_CODE }}",
            allDaySlot: false,
            minTime: '05:00',
            maxTime: '22:00',
            // contentHeight: 768,
            resources: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: "{% url 'rooms:json-list' %}",
                    type: 'GET'
                }).done(function (data) {
                    var resources = [];
                    var colors = ['#06623b','#862a5c', '#d8345f', '#00005c','#005082', '#4a47a3', '#21bf73']
                    for (var i = 0; i < data.length; i++) {
                        resources.push({
                            id: data[i]['id'],
                            title: data[i]['name'],
                            eventColor: colors[i]
                        })
                    }
                    successCallback(resources);
                });
            },
            events: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: "{% url 'lessons:json-list-in-range-time' %}",
                    type: 'GET',
                    data: {
                        startStr: fetchInfo.startStr,
                        endStr: fetchInfo.endStr
                    },
                    success: function (data) {
                        var events = [];
                        for (var i = 0; i < data.length; i++) {
                            var _d = data[i]['date'];
                            var _st = data[i]['start_time'];
                            var _et = data[i]['end_time'];
                            var _start_time = _d + ' ' + _st;
                            var _end_time = _d + ' ' + _et;
                            var start_time = new Date(_start_time);
                            var end_time = new Date(_end_time);
                            console.log(data[i]['id']);
                            if (data[i]['yogaclass']['trainer']['user']['image']){
                                trainer_img = data[i]['yogaclass']['trainer']['user']['image'];
                            } else{
                                trainer_img = '{% static "img/user/default.png" %}';
                            }
                            console.log(data[i]['yogaclass']);
                            if (data[i]['yogaclass']['image']){
                                class_img = data[i]['yogaclass']['image'];
                            } else{
                                class_img = data[i]['yogaclass']['course']['image'];
                            }

                            events.push({
                                id: data[i]['id'],
                                title: data[i]['yogaclass']['name'],
                                start: start_time,
                                end: end_time,
                                url: 'javascript:;',
                                overlap: false,
                                allDaySlot: false,
                                imageClassUrl: class_img,
                                imageTrainerUrl: trainer_img,
                                resourceId: data[i]['room']['id']
                            })
                        }
                        successCallback(events);
                    }
                });
            },
            eventClick: function (info) {
                console.log(info);
                var lesson_id = info.event.id;
                var _url = "{% url 'lessons:json-lesson-api' 0 %}";
                var url = _url.replace('0', lesson_id);
                $.ajax({
                    url: url,
                    type: 'GET',
                    beforeSend: function () {
                        $(".loader").fadeIn();
                        $("#preloder").fadeIn();
                    },
                    success: function (data) {
                        $(".loader").fadeOut();
                        $("#preloder").fadeOut(function () {
                            console.log(data);
                            var _st = data['start_time'].substring(0, 5);
                            var _et = data['end_time'].substring(0, 5);
                            var d = new Date(data['date']);
                            var time = _st + ' - ' + _et;
                            const input_date_options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                            var date = d.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', input_date_options);
                            var _class_url = "{% url 'classes:detail' 's-l-u-g' %}";
                            
                            var class_url = _class_url.replace('s-l-u-g', data['yogaclass']['slug']);
                            var class_str = `<a class="text-danger" href="`+ class_url + `">`+ data['yogaclass']['name'] +`</a>`;
                            $('#class_info').text("");
                            $('#class_info').empty();
                            $('#class_info').append(class_str);

                            $('#room_info').text(data['room']['name'] + ' - ' + data['room']['location']);
                            
                            var _trainer_url = "{% url 'trainers:detail' 's-l-u-g' %}";
                            var trainer_url = _trainer_url.replace('s-l-u-g', data['yogaclass']['trainer']['user']['slug']);
                            var trainer_str = `<a class="text-danger" href="`+ trainer_url + `">`+ data['yogaclass']['trainer']['user']['last_name'] + ' ' + data['yogaclass']['trainer']['user']['first_name'] +`</a>`;
                            $('#trainer_info').text("");
                            $('#trainer_info').empty();
                            $('#trainer_info').append(trainer_str);
                            // $('#date_info').text(date);
                            $('#time_info').text(time);
                            $('#btn_open_modal_lesson_info').click();
                        });
                    }
                });
            },
            eventRender: function (info) {
                if (info.event.extendedProps.imageClassUrl) {
                    $(info.el).find("div.fc-time").prepend("<img class='img rounded-circle p-1' src='" + info.event.extendedProps.imageClassUrl + "' width='18' height='18'>");
                }
                if (info.event.extendedProps.imageTrainerUrl) {
                    $(info.el).find("div.fc-time").append("<img class='img rounded-circle p-1' src='" + info.event.extendedProps.imageTrainerUrl + "' width='18' height='18'>");
                }
            }
        });
        calendar.render();
    });

</script>
{% endblock %}