{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load sexify %}

{% block specified_css %}
<!-- DatetimePicker -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<!--end DatetimePicker -->

<link href="{% static 'fullcalendar-4.3.1/packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/list/main.css' %}" rel='stylesheet' />
<script src="{% static 'fullcalendar-4.3.1/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/core/locales-all.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/interaction/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/timegrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/list/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-common/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-timegrid/main.js' %} "></script>
<link href="{% static 'css/classes/enroll.css' %}" rel='stylesheet' />

<!-- mCustomScrollbar -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css"
    integrity="sha256-JHGEmB629pipTkMag9aMaw32I8zle24p3FpsEeI6oZU=" crossorigin="anonymous" />
<!--end mCustomScrollbar -->
<style>
    .fc-event-trial {
        font-size: 16px;
        padding: 2px;
        margin-bottom: 5px;
    }
</style>

{% endblock %}

{% block content %}
<input id="form_of_using_card_type" type="hidden" value="-1">
<section class="classes-page-section spad">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <a class="text-danger" href="javascript:;"><span class="flaticon-lotus"></span>
                    {{ yoga_class.course.name }}</a>
                <a class="text-danger" href="javascript:;">&raquo; {{ yoga_class.name }}</a>
                <a class="text-danger" href="javascript:;">&raquo; {% trans 'Enroll' %}</a>
            </div>
        </div>
    </div>
    <div class="container card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-4 jumbotron">
                    <div id="accordion">
                        {% if form_of_using != FOR_TRAINING_COURSE %}
                        <div class="card">
                            <div class="card-header price-card">
                                <a class="collapsed card-link" data-toggle="collapse" href="#ForFullmonthPrice">
                                    {% trans 'Price per month' %}: {{ price_arr.FOR_FULL_MONTH|sexy_number }}đ
                                </a>
                            </div>
                            <div id="ForFullmonthPrice" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush mb-3">
                                        <li class="list-group-item pl-0 pr-0"><i
                                                class="fas fa-fw fa-exclamation-circle text-red-custom"></i>
                                            {% trans "Enroll all lessons in a month with price for each month is" %}
                                            <b>{{ price_arr.FOR_FULL_MONTH|sexy_number }}đ</b>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header price-card">
                                <a class="collapsed card-link" data-toggle="collapse" href="#ForLessonInPeriodTime">
                                    {% trans 'Price of lesson in consecutive time' %}: {{ price_arr.FOR_PERIOD_TIME_LESSONS|sexy_number }}đ
                                </a>
                            </div>
                            <div id="ForLessonInPeriodTime" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush mb-3">
                                        <li class="list-group-item pl-0 pr-0"><i
                                                class="fas fa-fw fa-exclamation-circle text-red-custom"></i>
                                            {% trans "Enroll lessons in a consecutive time with price of each lesson is" %}
                                            <b>{{ price_arr.FOR_PERIOD_TIME_LESSONS|sexy_number }}đ</b>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header price-card">
                                <a class="collapsed card-link" data-toggle="collapse" href="#ForSomeLesson">
                                    {% trans 'Price 1 of lesson in non-consecutive time' %}: {{ price_arr.FOR_SOME_LESSONS|sexy_number }}đ
                                </a>
                            </div>
                            <div id="ForSomeLesson" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush mb-3">
                                        <li class="list-group-item pl-0 pr-0"><i
                                                class="fas fa-fw fa-exclamation-circle text-red-custom"></i>
                                            {% trans "Sign up for some lessons with non-consecutive time. Price of each lesson is" %}
                                            <b>{{ price_arr.FOR_SOME_LESSONS|sexy_number }}đ</b>
                                        </li>
                                        <li class="list-group-item pl-0 pr-0"><i
                                            class="fas fa-fw fa-exclamation-circle text-red-custom"></i>
                                        {% trans "Each lesson cannot be separated by more than 2 sessions" %}
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header price-card">
                                <a class="collapsed card-link" data-toggle="collapse" href="#ForTrialLesson">
                                    {% trans 'Price of 1 trial lesson' %}: {% trans 'Free' %}
                                </a>
                            </div>
                            <div id="ForTrialLesson" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush mb-3">
                                        <li class="list-group-item pl-0 pr-0"><i
                                                class="fas fa-fw fa-exclamation-circle text-red-custom"></i>
                                            {% trans "Free registration for one lesson" %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        {% if yoga_class.payment_periods.all.count > 1 %}
                        <div class="card">
                            <div class="card-header price-card">
                                <a class="collapsed card-link" data-toggle="collapse" href="#TotalCourseAmout">
                                    Đóng toàn bộ: <b class="text-warning">{{ yoga_class.get_price_for_training_course|sexy_number }}đ</b>
                                </a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header price-card">
                                <a class="collapsed card-link" data-toggle="collapse" href="#Period1">
                                    Đóng đợt (1): <b class="text-warning">{{ yoga_class.payment_periods.first.amount|sexy_number }}đ</b>
                                </a>
                            </div>
                            <div id="Period1" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush mb-3">
                                        <li class="list-group-item pl-0 pr-0"><i
                                                class="fas fa-fw fa-exclamation-circle text-red-custom"></i>
                                            Đợt 1 cần được thanh toán trước ngay lúc đăng ký.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header price-card">
                                <a class="collapsed card-link" data-toggle="collapse" href="#Period2">
                                    Đóng đợt (2): <b class="text-warning">{{ yoga_class.payment_periods.last.amount|sexy_number }}đ</b>
                                </a>
                            </div>
                            <div id="Period2" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="list-group list-group-flush mb-3">
                                        <li class="list-group-item pl-0 pr-0"><i
                                                class="fas fa-fw fa-exclamation-circle text-red-custom"></i>
                                            Hạn chót để đóng tiền cho đợt này là:
                                            <b>{{ yoga_class.payment_periods.last.end_at }}</b>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="card">
                            <div class="card-header price-card">
                                <a class="collapsed card-link" data-toggle="collapse" href="#TotalCourseAmout">
                                    Giá tiền khóa học: <b class="text-warning">{{ yoga_class.get_price_for_training_course|sexy_number }}đ</b>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        
                        {% endif %}
                    </div>
                    <div id="form-content">
                        <form id="form_enroll" action="{% url 'classes:enroll' yoga_class.slug %}" method="POST">
                            {% csrf_token %}
                            {{form.lesson_list}}
                            <div class="form-group">
                                <label for="card_type">{% trans 'Card type' %} <span
                                        class="asteriskField">(*)</span></label>
                                {{ form.card_type }}
                            </div>
                            {% if form_of_using > -1 %}
                                {% if form_of_using != FOR_TRAINING_COURSE %}
                                {% if form_of_using == FOR_FULL_MONTH or form_of_using == FOR_PERIOD_TIME_LESSONS %}
                                <div class="form-group">
                                    <label>{% trans 'Start at' %} <span class="asteriskField">(*)</span></label>
                                    {{ form.start_at }}
                                </div>
                                    <!---->
                                    {% if form_of_using == FOR_FULL_MONTH %}
                                    <div class="form-group">
                                        <label>{% trans "Number of months" %}</label>
                                        <input id="id_number_of_months" type="number" class="form-control"
                                            name="number_of_month" value="1">
                                    </div>
                                    {% endif %}
                                    <!---->
                                <div class="form-group">
                                    <label>{% trans 'End at' %} <span class="asteriskField">(*)</span></label>
                                    {{ form.end_at }}
                                </div>
                                <div id='div_for_some_lesson_list' class="mt-3 mb-2">
                                    <h4 class="mb-1">{% trans 'Lesson List' %}</h4>
                                    <p>{% trans 'Lessons you choose will be displayed here' %}</p>
                                    <div id='some_lesson_list' class="mCustomScrollbar" style="max-height: 250px;">
                                    </div>
                                </div>
                                {% else %}
                                <input type="text" name="start_at" class="d-none" autocomplete="off" id="id_start_at">
                                <input type="text" name="end_at" class="d-none" autocomplete="off" id="id_end_at">
                                    {% if form_of_using == FOR_TRIAL or form_of_using == FOR_SOME_LESSONS  %}
                                    <div id='drapdrop-lesson' class="mt-3">
                                        {% if form_of_using == FOR_TRIAL %}
                                        <h4 class="mb-1">{% trans 'Trial Lesson' %}</h4>
                                        {% else %}
                                        <h4 class="mb-1">{% trans 'Lesson List' %}</h4>
                                        {% endif %}
                                        <p>{% trans 'Please drap a lesson into this area below to choose' %}</p>
                                        <div id='drapdrop-lesson-listing'>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endif %}
                                {% else %}
                                <div class="form-group">
                                    <label>{% trans 'Choose payment period' %} <span class="asteriskField">(*)</span></label>
                                    {{ form.payment_period }}
                                </div>
                                {% endif %}
                            <input class="btn btn-danger" type="submit" value="{% trans 'Sign up' %}">
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block specified_js %}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"
    integrity="sha256-/YAntTqXy9V4LoXFkI5WPDl3ZwP/knn1BljmMJJ7QWc=" crossorigin="anonymous"></script>
<script>
    $("#some_lesson_list").mCustomScrollbar();
    document.addEventListener('DOMContentLoaded', function () {
        $('[data-toggle="tooltip"]').tooltip();

        var Draggable = FullCalendarInteraction.Draggable;
        var containerEl = document.getElementById('drapdrop-lesson');

        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            defaultDate: Date.now(),
            editable: true,
            // droppable: true,
            dragRevertDuration: 0,
            dropAccept: '#do-not-drop',
            locale: "{{ request.LANGUAGE_CODE }}",
            events: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: "{% url 'classes:get-list-lesson' yoga_class.slug %}",
                    type: 'GET',
                    data: {
                        startStr: fetchInfo.startStr,
                        endStr: fetchInfo.endStr
                    },
                    success: function (data) {
                        console.log(data);
                        var events = [];
                        for (var i = 0; i < data.length; i++) {
                            var _d = data[i]['date'];
                            var _st = data[i]['start_time'];
                            var _et = data[i]['end_time'];
                            var _start_time = _d + ' ' + _st;
                            var _end_time = _d + ' ' + _et;
                            var start_time = new Date(_start_time);
                            var end_time = new Date(_end_time);
                            var bg_color = '#0c9463';
                            var border_color = '#0c9463';
                            var editable = true;
                            var title_tooltip = null;
                            if (data[i]['is_in_the_past'] == true){
                                bg_color = '#979797';
                                border_color = '#979797';
                                editable = false;
                                title_tooltip = "{% trans 'lesson is old' %}";
                            }else{
                                if (data[i]['is_full'] == true) {
                                    bg_color = '#ef4339';
                                    border_color = '#ef4339';
                                    editable = false;
                                    title_tooltip = "{% trans 'lesson is full' %}";
                                }
                            }
                            
                            events.push({
                                id: data[i]['id'],
                                title: _st.split(':', 2).join(":") + ' - ' + _et.split(':', 2).join(":"),
                                start: start_time,
                                end: end_time,
                                url: 'javascript:;',
                                overlap: false,
                                allDaySlot: false,
                                backgroundColor: bg_color,
                                borderColor: border_color,
                                editable: editable,
                                titleTooltip: title_tooltip
                            });
                        }
                        successCallback(events);
                    }
                });
            },
            eventDragStop: function (info) {
                var form_of_using = '{{form_of_using}}';
                var start_at = new Date(info.event.start);
                var end_at = new Date(info.event.end);
                const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                var _date_trial = start_at.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', options)
                if (isEventOverDiv(info.jsEvent.offsetX, info.jsEvent.offsetY)) {
                    content = "<div id='trial_" + info.event.id + "' class='fc-event fc-event-trial' data-pk='" + info.event.id + "'>";
                    content += '(' + info.event.title + ') ' + _date_trial;
                    content += '<a href="javascript:;" class="float-right a-remove-drapdrop-lesson" data-pk="' + info.event.id + '"><i class="fa fa-fw fa-times"></i></a>';
                    content += "</div>";
                    // content += info.event
                    if (form_of_using == '{{FOR_TRIAL}}') {
                        if ($('#drapdrop-lesson-listing').children().length > 0) {
                            Swal.fire(
                                "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                                "{% trans 'Trial lesson has been added' %}",
                                'error'
                            )
                        } else {
                            var elems = [];
                            $(content).appendTo('#drapdrop-lesson-listing');
                            $('#id_start_at').datepicker("setDate", new Date(info.event.start));
                            $('#id_end_at').datepicker("setDate", new Date(info.event.start));
                            elems.push(info.event.id);
                            $('#id_lesson_list').val(JSON.stringify(elems));
                        }
                    }
                    else if (form_of_using == '{{FOR_SOME_LESSONS}}') {
                        var choosen_arr = eval($('#id_lesson_list').val());
                        if (choosen_arr == undefined) {
                            choosen_arr = []
                        }
                        // jQuery.inArray < 0: Not exist
                        // jQuery.inArray >= 0: Exist
                        if (jQuery.inArray(info.event.id, choosen_arr) < 0) {
                            $(content).appendTo('#drapdrop-lesson-listing');
                            choosen_arr.push(info.event.id);
                            $('#id_lesson_list').val(JSON.stringify(choosen_arr));
                        } else {
                            Swal.fire(
                                "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                                "{% trans 'Lesson has been added' %}",
                                'error'
                            );
                        }
                    }

                }
            },
            eventDrop: function (info) {
                if (info != undefined) {
                    info.revert();
                }
            },
            eventRender: function (info) {
                if (info.event.extendedProps.titleTooltip) {
                    $(info.el).attr('data-toggle', "tooltip");
                    $(info.el).attr('title', info.event.extendedProps.titleTooltip);
                }
            }
        });

        var isEventOverDiv = function (x, y) {
            var external_events = $('#drapdrop-lesson');
            var offset = external_events.offset();
            offset.right = external_events.width() + offset.left;
            offset.bottom = external_events.height() + offset.top;
            if (x >= offset.left
                && y >= offset.top
                && x <= offset.right
                && y <= offset.bottom) { return true; }
            return false;
        }
        calendar.render();
    });

    $('#id_card_type').change(function () {
        var id_card_type = $(this).val();
        var href = window.location.href.substring(0, window.location.href.indexOf('?'));
        url = href += '?card-type=' + id_card_type
        window.location.href = url;
    });

    // When CARD TYPE is FULL MONTH
    // Change end_at when has num_of_months and start_at
    $('input#id_start_at').on("change", () => {
        number_of_months = $('#id_number_of_months').val();
        var start_at_input = $('#id_start_at').data("datepicker");
        if (number_of_months != undefined) {
            var d1 = new Date(start_at_input.selectedYear, start_at_input.selectedMonth, start_at_input.selectedDay);
            var d2 = new Date(d1);
            d2.setMonth(d1.getMonth() + parseInt(number_of_months));
            $('#id_end_at').datepicker("setDate", d2);
            render_lesson_list();
        }
    });

    // When CARD TYPE is FULL MONTH
    // Change end_at when change num_of_months and start_at has value
    $(document).on('change', 'input#id_number_of_months', function () {
        val = $(this).val();
        if (val <= 0) {
            Swal.fire(
                "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                "{% trans 'Please enter positive integer' %}",
                'error'
            )
            $(this).val(1);
        } else {
            var start_at_input = $('#id_start_at').data("datepicker");
            if (start_at_input.selectedDay == 0 && start_at_input.selectedMonth == 0 && start_at_input.selectedYear == 0) {
                Swal.fire(
                    "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                    "{% trans 'Please enter start at' %}",
                    'error'
                );
                $(this).val(1);
            } else {
                var d1 = new Date(start_at_input.selectedYear, start_at_input.selectedMonth, start_at_input.selectedDay);
                var d2 = new Date(d1);
                d2.setMonth(d1.getMonth() + parseInt(val));
                $('#id_end_at').datepicker("setDate", d2);
                render_lesson_list();
            }
        }
    });

    // When CARD TYPE is TRIAL
    // Remove trial lesson out of trial list
    $(document).on('click', '.a-remove-drapdrop-lesson', function () {
        var form_of_using = '{{form_of_using}}';
        var pk = $(this).attr('data-pk');
        if (form_of_using == '{{FOR_TRIAL}}') {
            $(this).parent('.fc-event-trial').remove();
            $('#id_start_at').val('');
            $('#id_end_at').val('');
            $('#id_lesson_list').val('');
        } else if (form_of_using == '{{FOR_SOME_LESSONS}}') {
            $(this).parent('.fc-event-trial').remove();
            var choosen_arr = eval($('#id_lesson_list').val());
            console.log(choosen_arr);
            if (choosen_arr == undefined) {
                choosen_arr = []
            }
            var new_arr = [];
            choosen_arr.forEach((element) => {
                console.log("element::::", element);
                console.log("pk::::", pk);
                if (element != pk) {
                    new_arr.push(element);
                }
            });
            if (new_arr.length == 0) {
                $('#id_lesson_list').val('');
            } else {
                $('#id_lesson_list').val(JSON.stringify(new_arr));
            }
        }
    });

    render_lesson_list = function () {
        var start_at_input = $('#id_start_at').data("datepicker");
        var end_at_input = $('#id_end_at').data("datepicker");
        var s = new Date(start_at_input.selectedYear, start_at_input.selectedMonth, start_at_input.selectedDay)
        var e = new Date(end_at_input.selectedYear, end_at_input.selectedMonth, end_at_input.selectedDay)
        var start_at = new Date(s.getTime() - (s.getTimezoneOffset() * 60000)).toISOString().slice(0, 19);
        var end_at = new Date(e.getTime() - (e.getTimezoneOffset() * 60000)).toISOString().slice(0, 19);

        $.ajax({
            url: '{% url "lessons:json-list-in-range-time" %}',
            data: {
                'startStr': start_at,
                'endStr': end_at,
                'id_class': '{{yoga_class.pk}}',
                'available_only': 1
            }
        }).done((data) => {
            // console.log(data);
            var elems = [];
            content = '<ul class="list-group">';
            content_li = "";
            for (var i = 0; i < data.length; i++) {
                const input_date_options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                var d = new Date(data[i]['date']);
                var date = d.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', input_date_options);
                content_li += '<li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center">';
                content_li += date;
                content_li += '<a href="javascript:;" class="badge badge-info badge-pill">';
                content_li += (i + 1).toString();
                content_li += '</a>';
                content_li += '</li>';
                elems.push(data[i]['id']);
            }
            content += content_li;
            content += '</ul>';
            $('#some_lesson_list').find('.mCSB_container').empty();
            $('#some_lesson_list').find('.mCSB_container').append(content);
            $("#some_lesson_list").mCustomScrollbar('update');

            // Save to lesson_list
            if (elems.length > 0) {
                $('#id_lesson_list').val(JSON.stringify(elems));
            } else {
                $('#id_lesson_list').val('');
            }
        });
    }

    $('input#id_end_at').on("change", () => {
        if ($('input#id_end_at').val() != '') {
            var form_of_using = '{{form_of_using}}';
            var start_at_input = $('#id_start_at').data("datepicker");
            var end_at_input = $('#id_end_at').data("datepicker");
            var start_at = new Date(start_at_input.selectedYear, start_at_input.selectedMonth, start_at_input.selectedDay);
            var d1_plus1month = new Date(start_at);
            d1_plus1month.setMonth(start_at.getMonth() + 1);
            var end_at_input = $('#id_end_at').data("datepicker");
            var end_at = new Date(end_at_input.selectedYear, end_at_input.selectedMonth, end_at_input.selectedDay);
            if (form_of_using == '{{FOR_FULL_MONTH}}') {
                if (end_at >= d1_plus1month) {
                    render_lesson_list();
                } else {
                    Swal.fire(
                        "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                        "{% trans 'You must register at least 1 month' %}",
                        'error'
                    );
                    var number_of_months = parseInt($('input#id_number_of_months').val());
                    var d2 = new Date(start_at);
                    d2.setMonth(start_at.getMonth() + parseInt(number_of_months));
                    $('#id_end_at').datepicker("setDate", d2);
                    render_lesson_list();
                }
            } else {
                if (end_at < start_at) {
                    Swal.fire(
                        "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                        "{% trans 'End at must be greater than Start at' %}",
                        'error'
                    );
                    $('#id_end_at').val('');
                    $('#id_lesson_list').val('');
                    $('#some_lesson_list').find('.mCSB_container').empty();
                    $("#some_lesson_list").mCustomScrollbar('update');
                } else {
                    render_lesson_list();
                }
            }
        } else {
            $('#some_lesson_list').find('.mCSB_container').empty();
            $("#some_lesson_list").mCustomScrollbar('update');
            // Save to lesson_list
            $('#id_lesson_list').val('');
        }
    });

    $(document).on('click', 'form#form_enroll > input[type=submit]', function (e) {
        var form_of_using = '{{form_of_using}}';
        if (form_of_using == '{{FOR_FULL_MONTH}}' || form_of_using == '{{FOR_PERIOD_TIME_LESSONS}}') {
            if ($('input#id_start_at').val() == '') {
                Swal.fire(
                    "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                    "{% trans 'Pleae enter Start at' %}",
                    'error'
                );
                return false;
            } else if ($('input#id_end_at').val() == '') {
                Swal.fire(
                    "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                    "{% trans 'Please enter End at' %}",
                    'error'
                );
                return false;
            }
        }
        if ($('#id_lesson_list').val() == '') {
            Swal.fire(
                "{% trans 'error' as t_error %}{{ t_error|capfirst }}",
                "{% trans 'There is no lesson to register' %}",
                'error'
            );
            return false;
        }
        return true;
    });

    $('#id_start_at').datepicker({
        prevText: "Trước",
        nextText: "Sau",
        currentText: "Hôm nay",
        monthNames: ["Tháng một", "Tháng hai", "Tháng ba", "Tháng tư", "Tháng năm", "Tháng sáu", "Tháng bảy", "Tháng tám", "Tháng chín", "Tháng mười", "Tháng mười một", "Tháng mười hai"],
        monthNamesShort: ["Một", "Hai", "Ba", "Bốn", "Năm", "Sáu", "Bảy", "Tám", "Chín", "Mười", "Mười một", "Mười hai"],
        dayNames: ["Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy"],
        dayNamesShort: ["CN", "Hai", "Ba", "Tư", "Năm", "Sáu", "Bảy"],
        dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
        weekHeader: "Tuần",
        dateFormat: "dd/mm/yy",
        firstDay: 1,
        showMonthAfterYear: false,
    });
    $('#id_end_at').datepicker({
        prevText: "Trước",
        nextText: "Sau",
        currentText: "Hôm nay",
        monthNames: ["Tháng một", "Tháng hai", "Tháng ba", "Tháng tư", "Tháng năm", "Tháng sáu", "Tháng bảy", "Tháng tám", "Tháng chín", "Tháng mười", "Tháng mười một", "Tháng mười hai"],
        monthNamesShort: ["Một", "Hai", "Ba", "Bốn", "Năm", "Sáu", "Bảy", "Tám", "Chín", "Mười", "Mười một", "Mười hai"],
        dayNames: ["Chủ nhật", "Thứ hai", "Thứ ba", "Thứ tư", "Thứ năm", "Thứ sáu", "Thứ bảy"],
        dayNamesShort: ["CN", "Hai", "Ba", "Tư", "Năm", "Sáu", "Bảy"],
        dayNamesMin: ["CN", "T2", "T3", "T4", "T5", "T6", "T7"],
        weekHeader: "Tuần",
        dateFormat: "dd/mm/yy",
        firstDay: 1,
        showMonthAfterYear: false,
    });
</script>
{% endblock %}