{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block specified_css %}
<link href="{% static 'css/classes/style.css' %}" rel='stylesheet' />
{% endblock %}
{% block content %}
<section class="classes-page-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="classes-top">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                {% trans 'classes' as t_classes %}
                                {% blocktrans with value1=page_obj.object_list.count value2=page_obj.paginator.count value3=t_classes trimmed %}
                                Showing {{ value1 }} of {{ value2 }} {{ value3 }}
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <select class="circle-select">
                                {% trans 'default sorting' as t_default_sorting %}
                                <option data-display="{{ t_default_sorting|capfirst }}">{{ t_default_sorting|capfirst }}
                                </option>
                                <option value="0">{% trans 'oldest' as t_oldest %}{{ t_oldest|capfirst }}</option>
                                <option value="1">{% trans 'newest' as t_newest %}{{ t_newest|capfirst }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% if not classes %}
                    <div class="col">
                        <h3 class="text-danger">
                            {% trans 'classes' as trans_value %}
                            {% blocktrans with value=trans_value %}No {{ value }} yet{% endblocktrans %}
                        </h3>
                    </div>
                    {% else %}
                    {% for class in classes %}
                    <div class="col-md-6">
                        <div class="classes-item-warp">
                            <div class="classes-item">
                                <a href="{% url 'classes:detail' class.slug %}" class="ci-img">
                                    {% if class.course.image %}
                                    <img src="{{ class.course.image.url }}" alt="{{class.name}}">
                                    {% else %}
                                    <img src="{% static 'img/course/default_course.jpg'%}" alt="{{class.name}}">
                                    {% endif %}
                                </a>
                                <div class="ci-text">
                                    <h4>{{ class }}</h4>
                                    <h5 class="mb-3">
                                        <a class="btn btn-danger badge-pill" href="{% url 'courses:detail' class.course.slug %}">
                                            {{ class.course }}
                                        </a>
                                    </h5>
                                    <div class="ci-metas">
                                        <div class="ci-meta">
                                            <i class="material-icons">event_available</i>
                                            {% for lesson_in_week in class.get_first_week %}
                                                {% if forloop.last %}
                                                    {{ lesson_in_week.date|date:"D" }}
                                                {% else %}
                                                    {{ lesson_in_week.date|date:"D" }} - 
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <div class="ci-meta"><i class="material-icons">alarm_on</i>{{ class.lessons.first.start_time }} - {{ class.lessons.first.end_time }}
                                        </div>
                                    </div>
                                    <p>{{ class.course.description|truncatewords:20 }}</p>
                                </div>
                                <div class="ci-bottom">
                                    <a href="javascript:;" class="ci-author">
                                        {% if class.trainer.user.image %}
                                        <img src="{{ class.trainer.user.image.url }}" alt="{{class.trainer}}">
                                        {% else %}
                                        <img src="{% static 'img/user/default.png'%}" alt="{{class.trainer}}">
                                        {% endif %}
                                        <div class="author-text">
                                            <h6>{{ class.trainer }}</h6>
                                            <p>{% trans 'Yoga Trainer' %}</p>
                                        </div>
                                    </a>
                                    <a href="{% url 'classes:enroll' class.slug %}" class="site-btn sb-gradient">{% trans 'book now'%}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                {% if classes %}
                {% include 'pagination.html' %}
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-5 col-sm-8 sidebar">
                <div class="sb-widget">
                    <h2 class="sb-title">{% trans 'Search Classes' %}</h2>
                    <form id="form_filter" action="" method="GET" class="classes-filter">
                        {{ form_filter.course }}
                        {{ form_filter.level }}
                        {{ form_filter.trainer }}
                        <div class="clearfix"></div>
                        <button type="submit" class="site-btn sb-gradient">{% trans 'Filter now'%}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block specified_js %}
{% endblock %}