{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block specified_css %}
<link href="{% static 'css/classes/show.css' %}" rel='stylesheet' />
{% endblock %}

{% block content %}
<section class="classes-details-section spad">
    <div class="container">
        <div class="row mb-3">
            <div class="col">
                <a class="text-danger" href="{% url 'courses:detail' class.course.slug %}"><span
                        class="flaticon-lotus"></span> {{ class.course.name }}</a>
                <a class="text-danger" href="javascript:;">&raquo; {{ class.name }}</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <div class="classes-details">
                    <div class="row">
                        <div class="col-md-4">
                            {% if class.image %}
                            <img class="img rounded" width="250" src="{{ class.image.url }}" alt="{{class.name}}">
                            {% else %}
                            <img class="img rounded" width="250" src="{% static 'img/class/default.jpg'%}"
                                alt="{{class.name}}">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <h2 style="font-family: serif;">{{ class }}</h2>
                            <div class="cd-meta">
                                <p><i class="material-icons">alarm_on</i>75 phút</p>
                            </div>
                            <div class="cd-meta">
                                <p><i class="material-icons">people_outline</i>{{ class.cards.all.count }} người đăng kí</p>
                            </div>
                            <div>
                                <a href="javascript:;"
                                class="site-btn sb-gradient">{% trans 'schedule' as t_schedule %}{{t_schedule|upper}}</a>
                            <a href="{% url 'classes:enroll' class.slug %}"
                                class="site-btn sb-gradient">{% trans 'book now' as t_book_now %}{{t_book_now|upper}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h2 class="mt-3 text-secondary">{{ class.course }}</h2>
                        </div>
                        <blockquote>
                            {{ class.course.description }}
                        </blockquote>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#detail">Thông tin chi tiết</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#lectures">Bài học</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="detail">
                                <div class="container">
                                    <div class="row">
                                        <div class="col content">
                                            {{ class.course.content | safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="lectures">
                                <div class="container">
                                    <div class="row">
                                        <div class="col content">
                                            {% if class.course.lectures.all.count > 0 %}
                                                <ul class="list-group list-group-flush">
                                                    {% for lecture in class.course.lectures.all %}
                                                    <li class="list-group-item">{{ lecture }}</li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <h3>Chưa cập nhật</h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if others %}
                <h3 class="comment-title">{% trans 'Other Classes' %}</h3>
                <div class="classes-other-slider owl-carousel">
                    {% for other in others %}
                    <div class="classes-item">
                        <div class="ci-img">
                            {% if other.image %}
                            <img src="{{ other.image.url }}" alt="{{other.name}}">
                            {% else %}
                            <img src="{% static 'img/class/default.jpg'%}" alt="{{other.name}}">
                            {% endif %}
                        </div>
                        <div class="ci-text">
                            <h4 style="font-family: serif;"><a href="classes-details.html">{{ other }}</a></h4>
                            <div class="ci-metas">
                                <div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri</div>
                                <div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm</div>
                            </div>
                            <p>{{ other.description|capfirst|truncatewords:10 }}</p>
                        </div>
                        <div class="ci-bottom">
                            <div class="ci-author">
                                {% if other.trainer.user.image %}
                                <img src="{{ other.trainer.user.image.url }}" alt="{{other.trainer}}">
                                {% else %}
                                <img src="{% static 'img/user/default.png'%}" alt="{{other.trainer}}">
                                {% endif %}
                                <div class="author-text">
                                    <h6>{{ other.trainer|title }}</h6>
                                    <p>{% trans 'Yoga Trainer' %}</p>
                                </div>
                            </div>
                            <a href="" class="site-btn sb-gradient">{% trans 'book now'%}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-5 col-sm-8 sidebar">
                <div class="sb-widget">
                    <h2 class="sb-title">{% trans 'Detail Information' %}</h2>
                    <div class="classes-info">
                        <ul>
                            <li><i class="material-icons">event_available</i>{{ class.start_at }}</li>
                            <li><i class="material-icons">done_all</i>Thứ 2, 4, 6</li>
                            <li><i class="material-icons">alarm_on</i>{{ class.lessons.first.start_time }} - {{ class.lessons.first.end_time }}</li>
                            <li>
                                <a href="javascript:;">
                                    <i class="material-icons">person_outline</i>{{ class.trainer }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sb-widget">
                    <h2 class="sb-title">{% trans 'About Trainer' %}</h2>
                    <div class="about-instructor-widget">
                        <a href="javascript:;">
                            {% if class.trainer.user.image %}
                            <img src="{{ class.trainer.user.image.url }}" alt="{{class.trainer}}">
                            {% else %}
                            <img src="{% static 'img/user/default.png' %}" alt="{{class.trainer}}">
                            {% endif %}
                            <h4>{{ class.trainer|title }}</h4>
                            <h6>{% trans 'Yoga Trainer' %}</h6>
                        </a>
                        <p>{{ class.trainer.certificates.first|default_if_none:'' }}</p>
                        <div class="ai-social">
                            <a href="javascript:;"><i class="fab fa-facebook"></i></a>
                            <a href="javascript:;"><i class="fab fa-instagram"></i></a>
                            <a href="javascript:;"><i class="fab fa-twitter"></i></a>
                            <a href="javascript:;"><i class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}