input, textarea {
    box-sizing: border-box;
    background: #f8f8f8;
    border: none;
    font-size: 14px;
    padding: 13px 20px;
    border: 1px solid transparent;
    font-family: 'Roboto Slab';
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }
    input.form-control::placeholder, textarea.form-control::placeholder {
        color: lightgray; }
  
  textarea {
    width: 100%;
    height: 174px; }
  
  
  .panel-group .panel-default {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px;
    margin-bottom: 37px; }
    .panel-group .panel-default .panel-heading {
      background-color: transparent;
      border: none;
      padding: 0px; }
    .panel-group .panel-default .panel-collapse .panel-body {
      border-top: none;
      padding: 0px;
      padding-top: 35px; }
  
  .acc-wizard {
    padding: 65px 125px; }
    .acc-wizard .acc-wizard-step {
      margin-top: 0px; }
  
  .panel-group .active .panel-heading h3 a {
    color: #222; }

  @media screen and (max-width: 768px) {
    .acc-wizard {
      padding: 67px 30px 65px 30px; } }

  
  .form-control{
    height: calc(2.25em + .75rem + 2px);
    background-color: #f8f8f8;
    padding: 13px 20px;
    color: #000;
  }

  .author-card {
    position: relative;
    background-color: transparent;
    box-shadow: 0 12px 20px 1px rgba(20, 135, 180, 0.92);
  }
  .author-card .author-card-cover {
    position: relative;
    width: 100%;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .author-card .author-card-cover::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: 0.5;
  }
  .author-card .author-card-cover > .btn {
    position: absolute;
    top: 12px;
    right: 12px;
    padding: 0 10px;
  }
  .author-card .author-card-profile {
    display: table;
    position: relative;
    margin-top: -22px;
    padding-right: 15px;
    padding-bottom: 16px;
    padding-left: 20px;
    z-index: 5;
  }
  .author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {
    display: table-cell;
    vertical-align: middle;
  }
  .author-card .author-card-profile .author-card-avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .15);
    overflow: hidden;
  }
  .author-card .author-card-profile .author-card-avatar > img {
    display: block;
    width: 100%;
    height: 85px;
  }
  .author-card .author-card-profile .author-card-details {
    padding-top: 20px;
    padding-left: 15px;
  }
  .author-card .author-card-profile .author-card-name {
    margin-bottom: 2px;
    font-size: 14px;
    font-weight: bold;
  }
  .author-card .author-card-profile .author-card-position {
    display: block;
    color: #8c8c8c;
    font-size: 12px;
    font-weight: 600;
  }
  .author-card .author-card-info {
    margin-bottom: 0;
    padding: 0 25px;
    font-size: 13px;
  }
  .author-card .author-card-social-bar-wrap {
    position: absolute;
    bottom: -18px;
    left: 0;
    width: 100%;
  }
  .author-card .author-card-social-bar-wrap .author-card-social-bar {
    display: table;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 12px 20px 1px rgba(64, 64, 64, .11);
  }

  .list-group-item-custom i {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    font-size: 1.2em;
    vertical-align: middle;
}

.list-group-item-custom.active:not(.disabled) {
    background-color: #ffffff4d;
    color: #fb3958;
    cursor: pointer;
}
.list-group-flush:last-child .list-group-item-custom:last-child {
    border-bottom: 0;
}

.list-group-flush .list-group-item-custom {
    border-right: 0 !important;
    border-left: 0 !important;
}

.list-group-flush .list-group-item-custom {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.list-group-item-custom.active {
    color: #fff;
}
.list-group-item-custom:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
a.list-group-item-custom, .list-group-item-custom-action {
    color: #404040;
    font-weight: 600;
}
.list-group-item-custom {
    padding-top: 16px;
    padding-bottom: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
    border: 1px solid #e7e7e7 !important;
    border-radius: 0 !important;
    color: #404040;
    font-size: 14px;
    text-decoration: none;
}
.list-group-item-custom {
    position: relative;
    display: block;
    margin-bottom: -1px;
    background: transparent;
    border: 1px solid rgba(0,0,0,0.125);
    font-weight: 600;
}
.list-group-item-custom.active:not(.disabled)::before {
    background-color: #fb3958;
}

.list-group-item-custom::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: transparent;
    content: '';
}

/* .bg-left{
  background-color: #1fc8db;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border-radius: 5px;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
} */
.bg-left{
  background-image: url('../../img/profile-bg-left.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
  min-height: 450px;
}

.site-btn.site-btn-sm {
  padding: 8px 14px !important;
  font-size: 12px !important;
  min-width: 84px;
  font-weight: 500;
}