{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load dashboard_extras %}


{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0 title"><small><i class="fas fa-fw fa-list"></i></small> {% trans 'Card List' %}</h1>
    <a href="{% url 'dashboard:cards-new-index' %}" class="btn btn-sm btn-success shadow-sm"><i
            class="fas fa-plus-square fa-sm text-white-50"></i> {% trans 'Create New' %}</a>
</div>
<!-- Content Row -->
{% if not cards %}
<p class="text-danger">
    {% trans 'card' as trans_card %}
    {% blocktrans with value=trans_card %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><small>{% trans 'trainee' as t_trainee %}{{ t_trainee|capfirst }}</small></th>
                        <th><small>{% trans 'card type' as t_card_type %}{{ t_card_type|capfirst }}</small></th>
                        <th><small>{% trans 'yoga class' as t_yoga_class %}{{ t_yoga_class|capfirst }}</small></th>
                        <th><small>{% trans 'End at' %}</small></th>
                        <th><small>{% trans 'action' as t_action %}{{ t_action|capfirst }}</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in cards %}
                    <tr>
                        <td><small>{{ card.id }}</small></td>
                        <td><small>{{ card.trainee.full_name }}</small></td>
                        <td><small>{{ card.card_type }}</small></td>
                        <td><small>{{ card.yogaclass }}</small></td>
                        <td><small>{{ card.end_at }}</small></td>
                        <td width="25%">
                            <a class="btn btn-sm btn-primary mb-1" href="javascript:;">
                                <i class="fas fa-fw fa-eye"></i> {% trans 'show' %}
                            </a>
                            <a class="btn btn-sm btn-info mb-1" href="javascript:;">
                                <i class="fas fa-fw fa-pen"></i> {% trans 'edit' %}
                            </a>
                            <a class="btn btn-sm btn-danger mb-1 delete-card" href="javascript:;">
                                <small><i class="fas fa-fw fa-trash"></i>{% trans 'delete' %}</small>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        {% include 'dashboard/pagination.html' %}
    </div>
</div>

{% endif %}

{% endblock %}
