{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load dashboard_extras %}
{% load sexify %}

{% block specified_css %}
{% endblock %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0 title"><small><i class="fas fa-fw fa-list"></i></small> {% trans 'Bill list' %}</h1>
</div>
{% if not bills %}
<p class="text-danger">
    {% trans 'bill' as tran_value %}
    {% blocktrans with value=tran_value %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><small>Mã số</small></th>
                        <th><small>Số lượng sản phẩm</small></th>
                        <th><small>Khuyến mãi</small></th>
                        <th><small>Thành tiền</small></th>
                        <th><small>Ngày tạo</small></th>
                        <th><small>Hành động</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ bill.pk }}</td>
                        <td>{{ bill.products.all.count }}</td>
                        <td><small class="text-danger">không</small></td>
                        <td>{{ bill.amount | sexy_number }}đ</td>
                        <td>{{ bill.created_at.date }}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" href="javascript:;"><i
                                    class="fas fa-fw fa-eye"></i>
                                {% trans 'show' as t_show %}{{ t_show|capfirst }}</a>
                            <a class="btn btn-sm btn-outline-warning" href="javascript:;"><i
                                    class="fas fa-fw fa-edit"></i>
                                {% trans 'edit' as t_edit %}{{ t_edit|capfirst }}</a>
                            <a class="btn btn-sm btn-outline-danger delete-product" href="javascript:;"><i
                                    class="fas fa-fw fa-trash"></i>
                                {% trans 'delete' as t_delete %}{{ t_delete|capfirst }}</a>
                            <form class="d-none" action="javascript:;" method="post">
                                {% csrf_token %}
                                <input type="submit" onclick="return confirm('Are you sure?');" value="Confirm">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        {% include 'dashboard/pagination.html' %}
    </div>
</div>

{% endif %}
{% endblock %}
