{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid p-0">
    <a class="btn btn-sm btn-primary" href="{{request.META.HTTP_REFERER}}">
        <i class="fas fa-fw fa-arrow-left"></i>{% trans 'back' as t_back %} {{ t_back|capfirst }}
    </a>
</div>
<div class="container-fluid card mt-3 mb-5">
    <h5 class="ml-3 mt-3 text-uppercase">
        {% trans 'product category' as t_trans %}
        {% blocktrans with value=t_trans trimmed %}
        Create new {{ value }}
        {% endblocktrans %}
    </h5>
    <hr class="mt-0 mb-0">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-12">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specified_js %}
{% endblock %}