{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block specified_css %}{% endblock %}

{% block content %}
<div id="content_cards" class="spad container">
    <div class="row justify-content-center">
        {% for card in cards %}
        <div class="col-lg-4 col-md-6">
            <div class="blog-item">
                <a href="javascript:;">
                {% if card.yogaclass.course.image %}
                    <img src="{{ card.yogaclass.course.image.url }}" alt="{{card.yogaclass}}">
                {% else %}
                    <img src="{% static 'img/course/default_course.jpg'%}" alt="{{card.yogaclass}}">
                {% endif %}
                </a>
                <div class="bi-text">
                    <h2><a href="javascript:;">{{ card.yogaclass }}</a></h2>
                    <p class="mb-0">
                        {% trans 'register at' as t_register_at %}
                        {{ t_register_at|capfirst }}
                        <span class="badge badge-success">{{ card.created_at.date }}</span>
                    </p>
                    <p>
                        {% trans 'end at' as t_end_at %}
                        {{ t_end_at|capfirst }}
                        <span class="badge badge-danger">{{ card.end_at }}</span>
                    </p>
                </div>
                <div class="bi-footer">
                    <div class="bi-cata">{{ card.card_type }}</div>
                    <div class="bi-social">
                        <a href="{% url 'core:profile-trainee-card-extend' card.id %}">
                            <span class="badge badge-secondary">{% trans 'Extend' %}</span></span>
                        </a>
                        <a href="javascript:;" class="ml-1">
                            <span class="badge badge-secondary">{% trans 'Refund' %}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block specified_js %}
<script>
    $(function () {
        $('html, body').animate({ scrollTop: $('#content_cards').offset().top }, 'slow');
    });
</script>
{% endblock %}