{% extends 'profile/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load sexify %}
{% load qr_code %}

{% block specified_css %}
<link rel="stylesheet" href="{% static 'css/profile/style.css' %}">
<link rel="stylesheet" href="{% static 'css/profile/trainees/cards/style.css' %}">
<style>
    .btn-group-sm>.btn, .btn-sm {
        padding: .25em .4em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        border-radius: 5.2rem;
    }
</style>
{% endblock %}

{% block header_path %}
<a class="text-danger" href="{% url 'profile:profile-trainee-cards' %}">&raquo; Thẻ tập</a>
<a class="text-danger" href="javascript:;">&raquo; {{ card.yogaclass }} - {{ card.card_type }}</a>
{% endblock %}

{% block profile_content %}

<div class="panel-group" id="accordion">
    <!-- THÔNG TIN THẺ TẬP -->
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h3>
                <a class="text-secondary" href="#collapseCardInfo" data-toggle="collapse" data-parent="#accordion">Thông
                    tin thẻ tập</a>
            </h3>
            <div>
                <img src="{% qr_url_from_text card_str_qrcode size=3 version=10 image_format='png' %}" alt="{{card}}">
                <p class="mb-0 text-success"><small><i><b>QR Code</b>: Dùng để quét mã điểm danh</i></small></p>
                <p class="mb-0"><small><i>(Có thể lưu vào điện thoại hoặc in mang theo khi đến tập)</i></small></p>
            </div>
        </div>
        <div id="collapseCardInfo" class="panel-collapse collapse show">
            <div class="panel-body">
                <table class="table table-striped table-borderless">
                    <tbody>
                        <tr>
                            <td>Mã số thẻ</td>
                            <td>{{ card.pk }}</td>
                        </tr>
                        <tr>
                            <td>Lớp</td>
                            <td>{{ card.yogaclass }}</td>
                        </tr>
                        <tr>
                            <td>Loại thẻ tập</td>
                            <td>{{ card.card_type }}</td>
                        </tr>
                        <tr>
                            <td>Thời gian bắt đầu</td>
                            <td>{{ card.start_at }}</td>
                        </tr>
                        <tr>
                            <td>Thời gian kết thúc</td>
                            <td>{{ card.end_at }}</td>
                        </tr>
                        <tr>
                            <td>Tổng số buổi tập</td>
                            <td>{{ card.total_lesson }}</td>
                        </tr>
                        <tr>
                            <td>Số buổi đã học</td>
                            <td>{{ card.number_of_studied_lesson }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- DANH SÁCH BUỔI TẬP -->
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h3>
                <a class="text-secondary" href="#collapseLessonList" data-toggle="collapse"
                    data-parent="#accordion">{% trans 'Lesson List' %}</a>
            </h3>
        </div>

        <div id="collapseLessonList" class="panel-collapse collapse show">
            <div class="panel-body">
                <ul class="list-group mb-3">
                    {% for r in card.roll_calls.all %}
                    <li
                        class="list-group-item list-group-item-light list-group-item-action d-flex justify-content-between align-items-center">
                        {{ r.lesson }}
                        {% if r.studied is True and r.has_make_up_lesson is False %}
                        <span class="badge badge-danger badge-pill">đã học</span>
                        {% elif r.studied is False and r.has_make_up_lesson is True %}
                        <div class="btn-group btn-group-sm btn-group-custom">
                            {% if r.make_up_lesson.is_studied is False %}
                            <a class="btn btn-sm btn-danger" href="javascript:;">
                                {% trans 'have registerd make-up lesson'%}
                            </a>
                            {% else %}
                            <a class="btn btn-sm btn-danger" href="javascript:;">
                                {% trans 'have studied make-up lesson'%}
                            </a>
                            {% endif %}
                            <a class="btn btn-sm btn-warning make-up-lesson-detail-info"
                                data-make-up-lesson-pk="{{r.make_up_lesson.pk}}" href="javascript:;">
                                {% trans 'detail' %}
                            </a>
                        </div>
                        {% elif r.studied is False and r.has_refund is True %}
                            <span class="badge badge-danger badge-pill">đăng kí hoàn tiền</span>
                        {% else %}
                        <span class="badge badge-info badge-pill">{% trans 'not studied'%}</span>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <button id="btn_open_modal_make_up_detail_api" type="button" class="d-none" data-toggle="modal"
            data-target="#modal_make_up_detail"></button>
        <!-- Make up detail Modal -->
        <div class="modal" id="modal_make_up_detail">
            <div class="modal-dialog" style="max-width: 650px;">
                <div class="modal-content">
                    <div class="modal-header border-none">
                        <h4 id="model_title" class="modal-title">
                            {% trans 'Make-up lesson detail info' %}
                        </h4>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>{% trans 'class' as  t_class %}{{t_class|capfirst}}</td>
                                    <td class="make-up-lesson-class-info">{% trans 'have not updated yet' %}</td>
                                </tr>
                                <tr>
                                    <td>{% trans 'lesson' as t_lesson %}{{t_lesson|capfirst}}</td>
                                    <td class="make-up-lesson-info">{% trans 'have not updated yet' %}</td>
                                </tr>
                                <tr>
                                    <td>{% trans 'state' as t_state %}{{t_state|capfirst}}</td>
                                    <td class="make-up-lesson-state-info">{% trans 'have not updated yet' %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger"
                            data-dismiss="modal">{% trans 'Close' %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- LỊCH SỬ THANH TOÁN -->
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h3>
                <a class="text-secondary" href="#collapseCardInvoice" data-toggle="collapse"
                    data-parent="#accordion">Lịch sử thanh toán</a>
            </h3>
        </div>

        <div id="collapseCardInvoice" class="panel-collapse collapse show">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-1"><small>Mã số</small></th>
                                <th class="col-1"><small>Khuyến mãi</small></th>
                                <th class="col-1"><small>Số tiền đã thanh toán</small></th>
                                <th class="col-3"><small>Mô tả</small></th>
                                <th class="col-4"><small>Mã thanh toán online</small></th>
                                <th class="col-3"><small>Thời gian thanh toán</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for invoice in card.card_invoices.all %}
                            <tr class="d-flex">
                                <td class="col-1"><small>{{ invoice.pk }}</small></td>
                                <td class="col-1"><small>
                                        {% if invoice.apply_promotion_codes.count > 0 %}
                                        {{ invoice.apply_promotion_codes.first.promotion_code.promotion_type.full_title }}
                                        {% else %}
                                        không
                                        {% endif  %}
                                    </small></td>
                                <td class="col-1"><small>{{ invoice.amount | sexy_number }}đ</small></td>
                                <td class="col-3"><small>{{ invoice.description }}</small></td>
                                <td class="col-4"><small>{{ invoice.charge_id|default_if_none:'' }}</small></td>
                                <td class="col-3"><small>{{ invoice.created_at }}</small></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- YÊU CẦU GIA HẠN THẺ -->
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h3>
                <a class="text-secondary" href="#collapseCardExtendRequest" data-toggle="collapse"
                    data-parent="#accordion">Yêu cầu gia hạn thẻ</a>
            </h3>
        </div>

        <div id="collapseCardExtendRequest" class="panel-collapse collapse show">
            <div class="panel-body">
                {% if card.extend_card_requests.all.count > 0 %}
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-1">Mã số</th>
                                <th class="col-3">Thời gian hết hạn mới</th>
                                <th class="col-2">Trạng thái</th>
                                <th class="col-3">Ngày tạo</th>
                                <th class="col-3">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for extend in card.extend_card_requests.all %}
                            <tr class="d-flex">
                                <td class="col-1">{{ extend.pk }}</td>
                                <td class="col-3">{{ extend.new_expire_date }}</td>
                                <td class="col-2">
                                    {% if extend.state == 0 %}
                                    <span class="badge badge-pill badge-warning">
                                        {{ extend.get_state_display }}
                                    </span>
                                    {% elif extend.state == 1 %}
                                    <span class="badge badge-pill badge-success">
                                        {{ extend.get_state_display }}
                                    </span>
                                    {% else %}
                                    <span class="badge badge-pill badge-secondary">
                                        {{ extend.get_state_display }}
                                    </span>
                                    {% endif %}
                                </td>
                                <td class="col-3">{{ extend.created_at.date }}</td>
                                <td class="col-3">
                                    <a class="btn btn-sm btn-outline-primary"
                                        href="{% url 'profile:profile-trainee-card-extend-request-detail' card.pk extend.pk %}"><i
                                            class="fas fa-fw fa-eye"></i>
                                        {% trans 'show' as t_show %}{{ t_show|capfirst }}</a>
                                    {% if extend.state == 'pending' %}
                                    <a class="btn btn-sm btn-outline-warning"
                                        href="{% url 'profile:profile-trainee-card-extend-request-edit' extend.card.pk extend.pk %}"><i
                                            class="fas fa-fw fa-edit"></i>
                                        {% trans 'edit' as t_edit %}{{ t_edit|capfirst }}</a>
                                    <a class="btn btn-sm btn-outline-danger delete-extend-card-request"
                                        href="javascript:;"><i class="fas fa-fw fa-trash"></i>
                                        {% trans 'delete' as t_delete %}{{ t_delete|capfirst }}</a>
                                    <form class="d-none"
                                        action="{% url 'profifle:profile-trainee-card-extend-request-delete' extend.card.pk extend.pk %}"
                                        method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Confirm">
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="text-danger">Không có yêu cầu gia hạn thẻ nào</p>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- YÊU CẦU HOÀN TIỀN -->
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h3>
                <a class="text-secondary" href="#collapseCardRefundRequest" data-toggle="collapse"
                    data-parent="#accordion">Yêu cầu hoàn tiền</a>
            </h3>
        </div>

        <div id="collapseCardRefundRequest" class="panel-collapse collapse show">
            <div class="panel-body">
                {% if card.refunds.all.count > 0 %}
                <div class="table-responsive">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-1"><small>Mã số</small></th>
                                <th class="col-2"><small>Số buổi</small></th>
                                <th class="col-2"><small>Số tiền</small></th>
                                <th class="col-2"><small>Trạng thái</small></th>
                                <th class="col-2"><small>Ngày tạo</small></th>
                                <th class="col-3"><small>Hành động</small></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for refund in card.refunds.all %}
                            <tr class="d-flex">
                                <td class="col-1">{{ refund.pk }}</td>
                                <td class="col-2">{{ refund.roll_calls.all.count }}</td>
                                <td class="col-2">{{ refund.amount | sexy_number }}đ</td>
                                <td class="col-2">
                                    {% if refund.state == 0 %}
                                    <span class="badge badge-pill badge-warning">
                                        {{ refund.get_state_display }}
                                    </span>
                                    {% elif refund.state == 1 %}
                                    <span class="badge badge-pill badge-success">
                                        {{ refund.get_state_display }}
                                    </span>
                                    {% else %}
                                    <span class="badge badge-pill badge-secondary">
                                        {{ refund.get_state_display }}
                                    </span>
                                    {% endif %}
                                </td>
                                <td class="col-2">{{ refund.created_at.date }}</td>
                                <td class="col-3">
                                    <a class="btn btn-sm btn-outline-primary"
                                        href="{% url 'profile:profile-trainee-card-refunds-detail' card.pk refund.pk %}"><i
                                            class="fas fa-fw fa-eye"></i>
                                        {% trans 'show' as t_show %}{{ t_show|capfirst }}</a>
                                    {% if refund.state == 'pending' %}
                                    <a class="btn btn-sm btn-outline-warning"
                                        href="{% url 'profile:profile-trainee-card-refunds-edit' card.pk refund.pk %}"><i
                                            class="fas fa-fw fa-edit"></i>
                                        {% trans 'edit' as t_edit %}{{ t_edit|capfirst }}</a>
                                    <a class="btn btn-sm btn-outline-danger delete-refund-request"
                                        href="javascript:;"><i class="fas fa-fw fa-trash"></i>
                                        {% trans 'delete' as t_delete %}{{ t_delete|capfirst }}</a>
                                    <form class="d-none"
                                        action="{% url 'profile:profile-trainee-card-refunds-delete' card.pk refund.pk %}"
                                        method="post">
                                        {% csrf_token %}
                                        <input type="submit" value="Confirm">
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="text-danger">Không có yêu cầu hoàn tiền nào</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block specified_js %}
<script>
    $(function () {
        var obj_str = '#{{focus}}';
        if (obj_str.length > 1) {
            $('html, body').animate({ scrollTop: $(obj_str).offset().top - 100 }, 'slow');
        }
    });
    $('.delete-extend-card-request').click(function () {
        Swal.fire({
            title: "{% trans 'Are you sure?'%}",
            text: "{% trans 'You wont be able to revert this!' %}",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: "{% trans 'Yes, delete it!' %}",
            cancelButtonText: "{% trans 'Cancel' %}"
        }).then((result) => {
            if (result.value) {
                $(this).siblings('form').children('input[type=submit]').click();
            }
        });
    });
    $('.delete-refund-request').click(function () {
        Swal.fire({
            title: "{% trans 'Are you sure?'%}",
            text: "{% trans 'You wont be able to revert this!' %}",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: "{% trans 'Yes, delete it!' %}",
            cancelButtonText: "{% trans 'Cancel' %}"
        }).then((result) => {
            if (result.value) {
                $(this).siblings('form').children('input[type=submit]').click();
            }
        });
    });
    $('.make-up-lesson-detail-info').click(function () {
        var pk = $(this).attr('data-make-up-lesson-pk');
        var _url = "{% url 'dashboard:make-up-lessons-detail-api' 0 %}";
        var url = _url.replace(0, pk);
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            url: url,
            method: 'GET'
        }).done((data) => {
            $('#modal_make_up_detail .modal-footer').children('.destroy-make-up-lesson-btn').remove();
            console.log(data);
            var _st = data['lesson']['start_time'].substring(0, 5);
            var _et = data['lesson']['end_time'].substring(0, 5);
            var _time = _st + ' - ' + _et;
            var room = data['lesson']['room']['name'] + ' ' + data['lesson']['room']['location'];
            $('.make-up-lesson-class-info').text(data['lesson']['yogaclass']['name']);
            var s1 = `<span class="badge badge-success mr-3">` + _time + `</span>`;
            var d = new Date(data['lesson']['date']);
            const input_date_options = { year: 'numeric', month: '2-digit', day: '2-digit' };
            var date = d.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', input_date_options);
            var s2 = `<span class="badge badge-danger mr-3">` + date + `</span>`;
            var s3 = `<span class="badge badge-info">` + room + `</span>`;
            var str = s1 + s2 + s3;
            $('.make-up-lesson-info').empty();
            $('.make-up-lesson-info').append(str);
            var state_str = '';
            if (data['is_studied'] == true) {
                state_str += `<span class="badge badge-danger">` + '{% trans "studied" %}' + `</span>`;
            } else {
                state_str += `<span class="badge badge-warning">` + '{% trans "have not studied" %}' + `</span>`;
            }
            $('.make-up-lesson-state-info').empty();
            $('.make-up-lesson-state-info').append(state_str);
            if (data['is_studied'] == false) {
                var destroy_make_up_lesson_str = `<a class="btn btn-sm btn-secondary destroy-make-up-lesson-btn" data-make-up-lesson-pk="` + pk + `" href="javascript:;">{% trans 'Remove make-up lesson' %}</a>`;
                $('#modal_make_up_detail .modal-footer').prepend(destroy_make_up_lesson_str);
            }
            $('#btn_open_modal_make_up_detail_api').click();
        }).fail((err) => {
            console.log(err);
        });
    });

    $(document).on('click', '.destroy-make-up-lesson-btn', function () {
        var pk = $(this).attr('data-make-up-lesson-pk');
        var _url = "{% url 'make_up_lessons:destroy-register' 0 %}";
        var url = _url.replace(0, pk);
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            url: url,
            method: 'POST'
        }).done((data) => {
            console.log(data);
            Swal.fire(
                "{% trans 'done' as t_done %}{{ t_done|capfirst }}",
                "{% trans 'Remove make up lesson successfully' %}",
                'success'
            ).then((result) => {
                window.location.reload();
            });
        }).fail((err) => console.log(err));
    });
</script>

{% endblock %}