{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block specified_css %}
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid p-0">
    <a class="btn btn-sm btn-primary" href="{{request.META.HTTP_REFERER}}">
        <i class="fas fa-fw fa-arrow-left"></i>{% trans 'back' %}
    </a>
    <a class="btn btn-sm btn-info float-right ml-1" href="{% url 'dashboard:classes-schedule' yogaclass.id %}">
        <i class="fas fa-fw fa-calendar-alt"></i>{% trans 'schedule' %}
    </a>
</div>
<div class="container card mt-3 mb-5">
    <h5 class="ml-3 mt-3 text-success"> {% trans 'Update Class' %}</h5>
    <hr>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-12">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}