{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<h1 class="text-danger text-center">{{ room.name }}</h1>

<ul class="list-group list-group-flush mb-3">
    <li class="list-group-item list-group-item-action">
        <h5 class="title">{% trans "name" as name %}{{ name|capfirst }}</h5>
        <p>{{ room.name }}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="card-title">{% trans "location" as location %}{{ location|capfirst }}</h5>
        <p class="card-text">{{ room.location }}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="card-title">{% trans "description" as des %}{{ des|capfirst }}</h5>
        <p class="card-text">{{ room.description }}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="card-title">{% trans "max people" as max %}{{ max|capfirst }}</h5>
        <p class="card-text">{{ room.max_people }}</p>
    </li>
    <li class="list-group-item list-group-item-action">
        <h5 class="title">{% trans "state" as state %}{{ state|capfirst }}
            {% if room.state == 0 %}
            <i class="fas fa-check-circle text-success"></i>
            {% else %}
            <i class="fas fa-exclamation-circle text-warning"></i>
            {% endif %}
        </h5>
    </li>
</ul>
{% endblock %}