{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block specified_css %}
{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0"><small><i class="fas fa-fw fa-list"></i></small> {% trans 'room list' %}</h1>
    {% if request.user.is_superuser %}
    <a href="{% url 'dashboard:rooms-new' %}" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
            class="fas fa-plus-square fa-sm text-white-50"></i> {% trans 'create new' %}</a>
    {% endif %}
</div>
<!-- Content Row -->
{% if not rooms %}
<p class="text-danger">
    {% trans 'room' as trans_room %}
    {% blocktrans with value=trans_room %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><small>{% trans 'name' as t_name %} {{ t_name|capfirst }}</small></th>
                        <th><small>{% trans 'location' as t_location %} {{ t_location|capfirst }}</small></th>
                        <th><small>{% trans 'state' as t_state %} {{ t_state|capfirst }}</small></th>
                        <th><small>{% trans 'max people' as t_max_people %} {{ t_max_people|capfirst }}</small></th>
                        <th><small>{% trans 'action' as t_action %} {{ t_action|capfirst }}</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.name|capfirst }}</td>
                        <td> {{ room.location }}</td>
                        <td>{{ room.get_state_display }}</td>
                        <td>{{ room.max_people }}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary"
                                href="{% url 'dashboard:rooms-detail' room.pk %}"><i class="fas fa-fw fa-eye"></i> {% trans 'show' %}</a>
                            {% if request.user.is_superuser %}
                            <a class="btn btn-sm btn-outline-warning" href="{% url 'dashboard:rooms-edit' room.pk %}"><i
                                    class="fas fa-edit"></i> {% trans 'edit' %}</a>
                            <a class="btn btn-sm btn-outline-danger delete-room" href="javascript:;"><i
                                    class="fas fa-trash"></i> {% trans 'delete' %}</a>
                            <form class="d-none" action="{% url 'dashboard:rooms-delete' room.pk %}" method="post">
                                {% csrf_token %}
                                <input type="submit" onclick="return confirm('Are you sure?');" value="Confirm">
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        {% include 'dashboard/pagination.html' %}
    </div>
</div>

{% endif %}

{% endblock %}
{% block specified_js %}
<script type="text/javascript">
    $('.delete-room').click(function () {
        $(this).siblings('form').children('input[type=submit]').click();
    });
</script>
{% endblock %}