{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block specified_css %}
<link href="{% static 'css/dashboard/courses/list.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0">
        <small><i class="fas fa-fw fa-list"></i></small>
        {% trans 'lesson' as t_lesson %}
        {% blocktrans trimmed %}
        Please select a lesson to do the roll call
        {% endblocktrans %}
    </h1>
</div>
<!-- Content Row -->
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col p-0 text-center">
            <a id="btn_backward_date" class="btn btn-sm btn-secondary float-left" href="{% url 'dashboard:lessons-list' %}?year={{backward_date|date:'Y'}}&month={{backward_date|date:'m' }}&day={{backward_date|date:'d'}}">
                <i class="fa fa-fw fa-backward"></i>
            </a>
            <a class="text-danger"><b>{{ current_date|date:'D' }} - {{ current_date|date }}</b></a>
            <a id="btn_forward_date" class="btn btn-sm btn-secondary float-right" href="{% url 'dashboard:lessons-list' %}?year={{forward_date|date:'Y'}}&month={{forward_date|date:'m' }}&day={{forward_date|date:'d'}}">
                <i class="fa fa-fw fa-forward"></i>
            </a>
        </div>
    </div>
    <div class="row">
        {% if not lessons %}
        <div class="" style="height: 200px;">
            <strong class="text-danger">
                {% blocktrans with value=t_lesson trimmed %}No {{ value }} yet{% endblocktrans %}
            </strong>
        </div>
        {% else %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><small>{% trans 'yoga class' as t_class %}{{ t_class|capfirst }}</small></th>
                        <th><small>{% trans 'date' as t_date %}{{ t_date|capfirst }}</small></th>
                        <th><small>{% trans 'time' as t_time %}{{ t_time|capfirst }}</small></th>
                        <th><small>{% trans 'room' as t_room %}{{ t_room|capfirst }}</small></th>
                        <th><small>{% trans 'trainer' as t_trainer %}{{ t_trainer|capfirst }}</small></th>
                        <th><small>{% trans 'count' as t_count %}{{ t_count|capfirst }}</small></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for lesson in lessons %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ lesson.yogaclass }}</td>
                        <td>{{ lesson.date }}</td>
                        <td>{{ lesson.get_time }}</td>
                        <td>{{ lesson.room }}</td>
                        <td>{{ lesson.trainer }}</td>
                        <td>{{ lesson.get_current_studied_trainee }}</td>
                        <td class="text-center">
                            <a class="btn btn-sm btn-outline-primary"
                                href="{% url 'dashboard:lessons-roll-calls' lesson.id %}"><i
                                    class="far fa-hand-pointer"></i>
                                {% trans 'select' as t_select %}{{ t_select|capfirst }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}

{% block specified_js %}
{% endblock %}