{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block specified_css %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

<link href="{% static 'css/dashboard/roll_calls/lesson/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between">
    <h5>
        <small><i class="fab fa-fw fa-leanpub"></i></small>
        {{ lesson.yogaclass }} - {{ lesson.get_time_and_room_detail }}
    </h5>
</div>
<!-- Content Row -->
<div class="row mt-3">
    <div class="col-md-8" id="div_studied_roll_calls">
        <div class="card">
            <div class="card-header bg-white title-card-header">
                <i class="fas fa-fw fa-list"></i>
                {% trans 'trainee' as t_trainee %}
                {% blocktrans with value=t_trainee trimmed %} {{ value }} List{% endblocktrans %}
                <span class="float-right badge badge-warning">
                    <b id="count_studied">{{ studied_roll_calls.count }}</b><small>&#47;{{ total_count }}</small>
                </span>
            </div>
            <div class="card-body">
                <div id="studied_roll_calls" class="list-group">
                    {% if studied_roll_calls %}
                    {% for r in studied_roll_calls %}
                    <li
                        class="list-group-item list-group-item-action list-group-item-success d-flex justify-content-between align-items-center">
                        <span class="badge badge-secondary">{{ r.id }}</span>
                        {{ r.card.trainee }}
                        <a href="javascript:;" class="a-studied" data-card="{{r.card.id}}" data-roll-call="{{r.id}}">
                            <span class="badge badge-danger badge-pill">{% trans 'remove' %}</span>
                        </a>
                    </li>
                    {% endfor %}
                    {% else %}
                    {% trans 'trainee' as t_trainee %}
                    <li id="item_no_trainee"
                        class="list-group-item list-group-item-action list-group-item-danger align-items-center">
                        {% blocktrans with value=t_trainee trimmed %}No {{ value }} yet{% endblocktrans %}
                    </li>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header bg-white title-card-header">
                <button id="btn_modal" type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal"
                    data-target="#modal_make_up_lesson">
                    Học bù
                </button>
            </div>
            <div class="card-body">
                <p><i class="far fd-sm fa-fw fa-hand-pointer"></i>{% trans 'Select to do a roll call' %}</p>
                <div class="list-group" id="un_studied_roll_calls">
                    {% for r in un_studied_roll_calls %}
                    <li
                        class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center">
                        <span class="badge badge-secondary">{{ r.id }}</span>
                        {{ r.card.trainee }}
                        <a href="javascript:;" class="a-un-studied" data-card="{{r.card.id}}" data-roll-call="{{r.id}}">
                            <span class="badge badge-success badge-pill">{% trans 'select' %}</span>
                        </a>
                    </li>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="modal_make_up_lesson">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-none">
                <h4 id="model_title" class="modal-title">
                    Thêm người học bù
                </h4>
                <button id="btn_modal" type="button" class="btn btn-sm btn-danger" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" class="was-validated">
                    <div class="form-group">
                        <label for="">Học viên</label>
                        <select id="trainee_card" class="form-control selectpicker" data-live-search="true">
                            <option value="-1"data-tokens="">Vui lòng chọn</option>
                            {% for trainee in trainees %}
                            <option value="{{ trainee.pk }}"
                                data-tokens="{{trainee.user.first_name|slice:'1' }}{{trainee.user.last_name|slice:'1' }} {{trainee}}">
                                {{ trainee }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Chọn buổi học muốn thay thế</label>
                        <div id="lesson_choose">
                            <span class="badge badge-secondary">
                                Buổi học hợp lệ để đăng kí học bù được hiển thị ở đây
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-outline-success">Hoàn thành</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block specified_js %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>


<script>
    $(document).on('click', '.a-un-studied', function () {
        var roll_call_id = $(this).attr('data-roll-call');
        var _url = "{% url 'dashboard:roll-calls-detail' 0 %}";
        url = _url.replace(0, roll_call_id);
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            url: url,
            method: 'PUT',
            data: {
                'studied': true
            }
        }).done((data) => {
            str = '<li class="list-group-item list-group-item-action list-group-item-success d-flex justify-content-between align-items-center">';
            str += '<span class="badge badge-secondary">' + data['id'] + '</span>';
            str += data['card']['trainee']['user']['first_name'] + data['card']['trainee']['user']['last_name'];
            str += '<a href="javascript:;" class="a-studied" data-card="' + data['card']['id'] + '" data-roll-call="' + data['id'] + '">';
            str += '<span class="badge badge-danger badge-pill">{% trans "remove" %}</span></a></li>';
            $('#item_no_trainee').hide();
            $('#studied_roll_calls').append(str);
            $(this).parent('li.list-group-item').remove();
            _temp_count = parseInt($('#count_studied').text());
            count = _temp_count + 1;
            $('#count_studied').text(count);
            Swal.fire(
                '{% trans "done" as t_done %}{{ t_done|capfirst }}',
                '{% trans "Do the roll call successfully" %}',
                'success'
            )
        }).fail((err) => {
            console.log(err);
        });
    });

    $(document).on('click', '.a-studied', function () {
        var roll_call_id = $(this).attr('data-roll-call');
        var _url = "{% url 'dashboard:roll-calls-detail' 0 %}";
        url = _url.replace(0, roll_call_id);
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            url: url,
            method: 'PUT',
            data: {
                'studied': false
            }
        }).done((data) => {
            str = '<li class="list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between align-items-center">';
            str += '<span class="badge badge-secondary">' + data['id'] + '</span>';
            str += data['card']['trainee']['user']['first_name'] + data['card']['trainee']['user']['last_name'];
            str += '<a href="javascript:;" class="a-un-studied" data-card="' + data['card']['id'] + '" data-roll-call="' + data['id'] + '">';
            str += '<span class="badge badge-success badge-pill">{% trans "select" %}</span></a></li>';
            $('#un_studied_roll_calls').append(str);
            $(this).parent('li.list-group-item').remove();
            if ($('#studied_roll_calls').children('li').last().attr('id') === "item_no_trainee") {
                $('#item_no_trainee').show();
            }
            _temp_count = parseInt($('#count_studied').text());
            count = _temp_count - 1;
            $('#count_studied').text(count);
            Swal.fire(
                '{% trans "done" %}{{ t_done|capfirst }}',
                '{% trans "Undo the roll call successfully" %}',
                'success'
            )
        }).fail((err) => {
            console.log(err);
        });
    });

    $('#trainee_card').change(function () {
        var trainee_id = $(this).val();
        console.log('trainee_id', trainee_id);
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            url: '{% url "dashboard:api-roll-calls-list-make-up-lesson" %}',
            method: 'GET',
            data: {
                'trainee_id': trainee_id,
                'course_id': '{{ lesson.yogaclass.course.pk }}'
            },
            beforeSend: function(){
                $('#lesson_choose').empty();
            }
        }).done((data) => {
            var str = '';
            if(data.length > 0){
                $.each(data, (i, v) => {
                    var d = new Date(v['lesson']['date']);
                    const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                    var lesson_date = d.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', options);
                    var lesson_start_time = v['lesson']['start_time'].split(':', 2).join(":");
                    var lesson_end_time = v['lesson']['end_time'].split(':', 2).join(":");

                    str += '<div class="form-check">';
                    str += '<label class="form-check-label" for="radio' + v['lesson']['id'] + '">';
                    str += '<input type="radio" class="form-check-input" id="' + v['lesson']['id'] + '" name="optradio" value="' + v['lesson']['id'] + '">';
                    str += '<span class="badge badge-danger">'+ v['lesson']['yogaclass']['name'] +'</span> ';
                    str +=  '<span class="badge badge-success"><i class="far fa-fw fa-bell"></i>' + lesson_start_time + '-' + lesson_end_time + '</span> ';
                    str += '<span class="badge badge-warning"><i class="fas fa-fw fa-calendar-week"></i>' + lesson_date + '</span>';
                    str += '</label></div>';
                });
            }else{
                str += '<span class="badge badge-danger">Không có buổi học hợp lệ để đăng kí học bù</span>';
            }

            $('#lesson_choose').append(str);
        }).fail((err) => {
            console.log(err);
        });
    });
</script>
{% endblock %}