{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block specified_css %}
<script src="https://js.stripe.com/v3/"></script>
<link href="{% static 'css/payment/style.css' %}" rel='stylesheet' />
<link href="{% static 'css/donations/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<section class="page-top-section spad bg-donations">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto text-white">
                <h2>{% trans 'Donate' %}</h2>
            </div>
        </div>
    </div>
</section>

<div class="container mt-3">
    <h3><i class="fas fa-sm fa-hand-holding-heart text-danger"></i> Ủng hộ tùy tâm</h3>
    <div class="row">
        <blockquote>Cho đi là còn mãi</blockquote>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>Với mỗi 3 - 6 tháng, câu lạc bộ sẽ dùng số tiền từ Quỹ ủng hộ tùy tâm và kêu gọi ủng hộ, quyên góp tùy
                tâm của mọi người để chuẩn bị quà và giúp đỡ những mảnh đời khó khăn tại các tỉnh/huyện khác nhau.</p>
            <p>Mỗi người đều có thể đóng góp tấm lòng của mình bằng cách quyên góp tiền mặt hoặc quyên góp những đồ cũ
                vẫn còn sử dụng được như quần, áo, sách, vở,...</p>
            <p>Để quyên góp trực tiếp, vui lòng liên lạc và đến trung tâm để ủng hộ</p>
            <div class="row">
                <div class="d-flex flex-row flex-wrap justify-content-center">
                    <div class="d-flex flex-column">
                        <img src="{% static 'img/donate/5.jpg' %}" class="img img-fluid scale mb-2">
                        <img src="{% static 'img/donate/9.jpg' %}" class="img img-fluid scale mb-2">
                        <img src="{% static 'img/donate/3.jpg' %}" class="img img-fluid">
                    </div>
                    <div class="d-flex flex-column">
                        <img src="{% static 'img/donate/4.jpg' %}" class="img img-fluid scale mb-2">
                        <img src="{% static 'img/donate/8.png' %}" class="img img-fluid scale mb-2">
                        <img src="{% static 'img/donate/1.jpg' %}" class="img img-fluid">

                    </div>
                    <div class="d-flex flex-column">
                        <img src="{% static 'img/donate/2.jpg' %}" class="img img-fluid scale mb-2">
                        <img src="{% static 'img/donate/7.jpg' %}" class="img img-fluid scale mb-2">

                        <img src="{% static 'img/donate/6.jpg' %}" class="img img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sb-widget">
                <h2 class="sb-title">Hình thức ủng hộ</h2>
                <div class="classes-info">
                    <ul>
                        <li>
                            <a href="javascript:;" class="text-danger"><i class="fas fa-heart"></i> Quyên góp trực tiếp
                                tại trung tâm</a>
                            <p><small>Gửi trực tiếp tại bàn lễ tân của trung tâm</small></p>
                        </li>
                        <li><a href="javascript:;" class="text-danger"><i class="fas fa-heart"></i> Thông qua tài khoản
                                ngân hàng</a>
                            <p>Chuyển khoản về TK Vietcombank TPHCM:</p>
                            <p>0251002709139 - Trần Thị Phấn</p>
                            <p><small>(nội dung ghi rõ: 'Quyên góp ủng hộ tùy tâm')</small></p>
                        </li>
                        <li>
                            <a href="javascript:;" class="text-danger"><i class="fas fa-heart"></i> Thông qua cổng quyên
                                góp trực tuyến</a>
                            <p><small>(nội dung ghi rõ: 'Quyên góp ủng hộ tùy tâm')</small></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sb-widget">
                <h2 class="sb-title">Cổng quyên góp trực tuyến</h2>
                <div class="classes-info p-0">
                    <div class="cell example example5" id="example-5">
                        <!--  -->
                        <form id="donate_form">
                            <fieldset>
                                <legend class="card-only">{% trans 'Please enter information below' %}</legend>
                                <div class="row">
                                    <div class="field">
                                        <label for="example5-name">{% trans 'name' as t_name %}
                                            {{ t_name|capfirst }}</label>
                                        {{ form.name }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <label
                                            for="example5-phone">{% trans 'phone number' as t_phone %}{{ t_phone|capfirst }}</label>
                                        {{ form.phone }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <label
                                            for="example5-email">{% trans 'email' as t_email %}{{ t_email|capfirst }}</label>
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <label
                                            for="example5-address">{% trans 'content' as t_content %}{{ t_content|capfirst }}</label>
                                        {{ form.content }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="field">
                                        <label
                                            for="example5-address">{% trans 'amount' as t_amount %}{{ t_amount|capfirst }}</label>
                                        {{ form.amount }}
                                    </div>
                                </div>
                                <!-- Payment Card -->
                                <div id="div_payment_card" class="row">
                                    <div class="field">
                                        <label>
                                            {% trans 'Payment Card' %}
                                        </label>
                                        <div id="card-element" class="field"></div>
                                    </div>
                                </div>
                                <!--  -->
                                <div class="row">
                                    <div class="field">
                                        <button type="submit">{% trans 'donate' %}</button>
                                    </div>
                                    <div class="outcome">
                                        <div class="error"></div>
                                        <div class="success">
                                            Success! Your Stripe token is <span class="token"></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <!--  -->
                    </div>
                </div>
                <div class="card mt-1">
                    <div class="card-header pay-with-momo">
                      <form action="javascript:;" method="POST">
                        {% csrf_token %}
                        <input class="form-control" style="width: 33% !important;display: inline-block;" type="text" name="amount" placeholder="số tiền">
                        <input type="submit" class="pl-3 card-link" value="Ủng hộ qua MoMo">
                      </form>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block specified_js %}
<script>
    $(function () {
        var stripe = Stripe('{{ key }}');
        var elements = stripe.elements();

        var card = elements.create('card', {
            hidePostalCode: true,
            style: {
                base: {
                    iconColor: '#F99A52',
                    color: '#32315E',
                    lineHeight: '48px',
                    fontWeight: 400,
                    fontFamily: '"Open Sans", "Helvetica Neue", "Helvetica", sans-serif',
                    fontSize: '15px',
                    '::placeholder': {
                        color: '#CFD7DF',
                    }
                },
            }
        });

        card.mount('#card-element');

        function setOutcome(result) {
            var successElement = document.querySelector('.success');
            var errorElement = document.querySelector('.error');
            successElement.classList.remove('visible');
            errorElement.classList.remove('visible');

            if (result.token) {
                // Use the token to create a charge or a customer
                // https://stripe.com/docs/charges
                successElement.querySelector('.token').textContent = result.token.id;
                successElement.classList.add('visible');
            } else if (result.error) {
                errorElement.textContent = result.error.message;
                errorElement.classList.add('visible');
            }
        }

        card.on('change', function (event) {
            setOutcome(event);
        });

        $('form#donate_form').submit(function (e) {
            e.preventDefault();
            var billing_details = {
                name: $('#id_name').val(),
                email: $('#id_email').val(),
                phone: $('#id_phone').val()
            };

            data = $('form#donate_form').serialize();
            console.log(data);
            if ($('#card-element').is(":visible")) {
                stripe.createToken(card, billing_details).then(function (result) {
                    stripeToken = result.token.id;
                    data += '&stripeToken=' + stripeToken;
                    submit_donate_form(data);
                });
            } else {
                submit_donate_form(data);
            }
        });

        submit_donate_form = function (data) {
            $.ajax({
                headers: {
                    'X-CSRFTOKEN': '{{ csrf_token }}'
                },
                url: "{% url 'donations:index' %}",
                type: 'POST',
                data: data,
                beforeSend: function () {
                    $(".loader").fadeIn();
                    $("#preloder").fadeIn();
                }
            }).done(function (data) {
                $(".loader").fadeOut();
                $("#preloder").fadeOut(function () {
                    Swal.fire(
                        "{% trans 'donate successfully' as t_donate_successfully %}{{ t_donate_successfully|capfirst }}",
                        "{% trans 'Thanks for your donation.' %}",
                        'success'
                    ).then((result) => {
                        // redirect to accounts/bills/
                        window.location.href = "{% url 'donations:index' %}";
                    });
                });
            }).fail(function (err) {
                console.log(err);
            });
        }
    });

</script>
{% endblock %}