{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg.jpg'%}">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 m-auto text-white">
                <h2>{{ course.name|title }}</h2>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="classes-details">
        <div class="classes-preview">
            <img src="img/classes/big.jpg" alt="">
        </div>
        <div class="row">
            <div class="col-lg-8">
                <h2>{{ course.name|title }}</h2>
            </div>
            <div class="col-lg-4 text-left text-md-right">
                <a class="btn btn-danger"
                    href="javascript:;">{% trans 'view classes' as t_view_classes %}{{t_view_classes|capfirst}}<a>
            </div>
        </div>
        <p>{{ course.description }}</p>
        <div class="row mb-5">
            <div class="col-lg-5">
                <img src="img/classes/classes-details.png" alt="">
            </div>
        </div>
    </div>
</div>
{% endblock %}