{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container content">
    <div class="row">
        <div class="col">
            <button class="btn btn-sm btn-outline-danger"><span class="flaticon-lotus"></span></button> &frasl; <a href="javascript;;">abc</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
                <div class="classes-preview">
                    <img src="img/classes/big.jpg" alt="">
                </div>
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <h2>{{ course.name|title }}</h2>
                    </div>
                    <div class="col-md-4 col-lg-4 text-left text-md-right">
                        <a class="btn btn-danger"
                            href="javascript:;">{% trans 'view classes' as t_view_classes %}{{t_view_classes|capfirst}}
                        </a>
                    </div>
                </div>
                <p>{{ course.description }}</p>
                <div class="row mb-5">
                    <div class="col-lg-5">
                        <img src="img/classes/classes-details.png" alt="">
                    </div>
                </div>
        </div>
        <div class="col-md-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia eaque soluta, tempore animi deserunt nesciunt omnis eveniet repudiandae rerum accusantium mollitia odio consequatur voluptas ullam libero! Odit delectus molestiae natus!</div>
    </div>
</div>
{% endblock %}