<div class="site-pagination pt-3">
    {% if '?' in request.get_full_path %}

    {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
        <a href="{{ request.get_full_path }}&page=1"><i class="material-icons">keyboard_arrow_left</i></a>
        {% endif %}
        <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">{{page_obj.previous_page_number}}</a>
    {% endif %}
    
    <a class="active" href="javascript:;">{{ page_obj.number }}</a>
    
    {% if page_obj.has_next %}
        <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <a href="{{ request.get_full_path }}&page={{ page_obj.paginator.num_pages }}"><i class="material-icons">keyboard_arrow_right</i></a>
        {% endif %}
    {% endif %}

    {% else %}
    {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number != 1 %}
        <a href="?page=1"><i class="material-icons">keyboard_arrow_left</i></a>
        {% endif %}
    <a href="?page={{ page_obj.previous_page_number }}">{{page_obj.previous_page_number}}</a>
    {% endif %}
    
    <a class="active" href="javascript:;">{{ page_obj.number }}</a>
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% if page_obj.next_page_number != page_obj.paginator.num_pages %}
            <a href="?page={{ page_obj.paginator.num_pages }}"><i class="material-icons">keyboard_arrow_right</i></a>
        {% endif %}
    {% endif %}
    {% endif %}
    
</div>