{% extends 'shop/base.html' %}
{% load static %}
{% load i18n %}
{% load sexify %}

{% block additional_css %}
    <link href="{% static 'css/shop/style.css' %}" rel="stylesheet">
{% endblock %}

{% block shop_content %}
<div class="row mb-3">
    <div class="col">
        <a class="text-danger" href="javascript:;">
            <span class="flaticon-lotus"></span> Cửa hàng
        </a>
    </div>
</div>
{% if not products %}
<div class="row">
    <div class="col">
        <h3 class="text-danger">
            {% trans 'products' as trans_value %}
            {% blocktrans with value=trans_value %}No {{ value }} yet{% endblocktrans %}
        </h3>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-md-6">
        <p>
            {% trans 'product' as t_product %}
            {% blocktrans with value1=page_obj.object_list.count value2=page_obj.paginator.count value3=t_product trimmed %}
            Showing {{ value1 }} of {{ value2 }} {{ value3 }}
            {% endblocktrans %}
        </p>
    </div>
</div>
<div class="row">
    {% for product in products %}
    <div class="col-lg-6 col-md-6">
        <div class="blog-item">
            <div class="bi-image">
                <a href="{% url 'shop:product-detail' product.slug %}">
                    <img class="img img-fluid" src="{{ product.image.url }}" alt="{{ product }}">
                </a>
            </div>
            <div class="bi-text">
                <h2><a href="{% url 'shop:product-detail' product.slug %}">{{ product }}</a></h2>
                <p>
                    {{ product.price | sexy_number }}đ
                </p>
            </div>
            <div class="bi-footer">
                <a class="float-left text-secondary" href="{% url 'shop:product-detail' product.slug %}">
                    <i class="fa fa-fw fa-eye"></i> Chi tiết
                </a>
                <a class="float-right text-secondary" href="javascript:;">
                    <i class="fa fa-fw fa-cart-plus"></i> Thêm vào giỏ
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
