.fc-time{
    display: none;
}

.fc-content{
    text-align: center;
}

#drapdrop-lesson-listing, #some_lesson_list{
    min-height: 100px;
}

#drapdrop-lesson, #div_for_some_lesson_list{
    background-color: #fff;
    padding: 10px;
    border-radius: 0.5em;
    font-family: 'Times New Roman', Times, serif;
}
.a-remove-drapdrop-lesson{
    color:#000;
}

#div_calendar{
    padding: 10px;
    border: 2px solid lightseagreen;
}

#div_action_left{
    padding-left: 0;
}
.fc-event-trial {
    font-size: 16px;
    padding: 2px;
    margin-bottom: 5px;
    background-color: #235952;
    border-color: #235952;
}
.a-remove-drapdrop-lesson:hover{
    color: #d32626;
    background-color: #fff;
}
.fc-left h2{
    font-family: serif;
    text-transform: capitalize;
    text-decoration: underline;
}

.create-new-trainee{
    padding: .2rem .4rem;
    font-size: .875rem;
    line-height: 1.25;
    border-radius: .2rem;
}

.dropdown.bootstrap-select.form-control > button.btn-light{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    color: #495057;
}

.dropdown.bootstrap-select.form-control > button.btn-light:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}