{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block specified_css %}
<link href="{% static 'css/dashboard/courses/style.css' %}" rel="stylesheet">
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid card mt-5 mb-5">
    <h5 class="ml-3 mt-3 text-success">
        {% trans 'update' as t_update %} {% trans 'promotion' as t_value %}
        {{ t_update|title }} {{ t_value|title }}
    </h5>
    <hr>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-12">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}