{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block specified_css %}
<link href="{% static 'css/dashboard/courses/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid card mt-3 mb-5">
    <h5 class="ml-3 mt-3 text-uppercase title">
        {% trans 'promotion' as t_trans %}
        {% blocktrans with value=t_trans trimmed %}
        Create new {{ value }}
        {% endblocktrans %}
    </h5>
    <hr class="mt-0 mb-0">
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-12">
                {% crispy form %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specified_js %}
<script>
    $(document).on('change', '.select-category', function () {
        console.log($(this).val());
        var category_name = $(this).attr('name');
        var product_name = category_name.replace('category', 'product');

        if ($(this).val() == 4) {
            console.log("xxx");
            var str_lable = `<label>{% trans 'product' as t_product %}{{ t_product|capfirst }}</label>`;
            $('select[name=' + product_name + ']').parents('.form-group').prepend(str_lable);
            $('select[name=' + product_name + ']').removeClass('d-none');
        } else {
            console.log("Cccc");
        }
    });
</script>
{% endblock %}