{% load static %}
{% load i18n %}

<header class="header-section">
    <div class="header-top">
        <div class="row m-0">
            <div class="col-md-6 d-none d-md-block p-0">
                <div class="header-info">
                    <i class="material-icons">map</i>
                    <p>140 A4 Street, Tan Binh district</p>
                </div>
                <div class="header-info">
                    <i class="material-icons">phone</i>
                    <p>(965) 436 3274</p>
                </div>
            </div>
            <div class="col-md-6 text-left text-md-right p-0">
                <div class="header-info">
                    <i class="material-icons">language</i>
                    <form id="form-translations" action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}">
                        <select id="language" name="language" class="language-select">
                            {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                            <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                selected{% endif %}> {{ language.code }}
                            </option>
                            {% endfor %}
                        </select>
                        <input class="d-none" type="submit" value="Go" />
                    </form>
                </div>
                {% if user.is_authenticated %}
                    <div class="header-info">
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" id="user_infoDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline">{{ user.get_full_name|default:user.username|capfirst }}</span>
                                <img class="img-profile rounded-circle"
                                    src="https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/59819452_522053294866587_1382161011754139648_n.jpg?_nc_cat=110&_nc_eui2=AeF9fd7MwEQfUTL8-CnUBThJBJV7HPbJv240wiZv4iCxy3RfkLoh2J-hXwf2kIQa8sEaEHRRm741DA6mb3aapHu32eak0Su8Mw2TQH8y8hKe4A&_nc_ohc=oYK6M0fVYrAAX-GxwXD&_nc_ht=scontent.fdad2-1.fna&oh=171922378600e76d57576db05799e580&oe=5EA82CA6">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="user_infoDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fa fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="header-info">
                        <a class="btn btn-sm btn-default header-info-link" href="{% url 'account_login' %}">Login</a>
                    </div>
                    <div class="header-info">
                        <a class="btn btn-sm btn-default header-info-link"
                            href="{% url 'core:account_signup' %}">Register</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <a href="index.html" class="site-logo">
            Lotus <span class="flaticon-lotus"></span> Yoga
        </a>
        <div class="hb-right">
            <div class="hb-switch" id="search-switch">
                <img src="{% static 'imgs/icons/search.png' %}" alt="">
            </div>
            <div class="hb-switch" id="infor-switch">
                <img src="{% static 'imgs/icons/bars.png' %}" alt="">
            </div>
        </div>
        <div class="container">
            <ul class="main-menu">
                <li><a href="{% url 'core:home' %}" class="active">{% trans 'Home' %}</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="classes.html">Classes</a>
                    <ul class="sub-menu">
                        <li><a href="classes.html">Our Claasses</a></li>
                        <li><a href="classes-details.html">Claasses Details</a></li>
                    </ul>
                </li>
                <li><a href="trainer.html">trainers</a>
                    <ul class="sub-menu">
                        <li><a href="trainer.html">Our Trainers</a></li>
                        <li><a href="trainer-details.html">Trainers Details</a></li>
                    </ul>
                </li>
                <li><a href="events.html">events</a>
                    <ul class="sub-menu">
                        <li><a href="events.html">Our Events</a></li>
                        <li><a href="event-details.html">Events Details</a></li>
                    </ul>
                </li>
                <li><a href="blog.html">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Our Blog</a></li>
                        <li><a href="single-blog.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</header>