{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load dashboard_extras %}
{% load sexify %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0">Thông tin chi tiết</h1>
</div>


<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-borderless table-hover table-striped">
                <tbody>
                    <tr>
                        <td>Mã số</td>
                        <td>{{ object.pk }}</td>
                    </tr>
                    <tr>
                        <td>Học viên</td>
                        <td>{{ object.card.trainee }}</td>
                    </tr>
                    <tr>
                        <td>Loại thẻ tập</td>
                        <td>{{ object.card.card_type }}</td>
                    </tr>
                    <tr>
                        <td>Lớp</td>
                        <td>{{ object.card.yogaclass }}</td>
                    </tr>
                    <tr>
                        <td>Thời gian hết hạn của thẻ tập</td>
                        <td>{{ object.card.end_at }}</td>
                    </tr>
                    <tr>
                        <td>Trạng thái</td>
                        <td>
                            {% if object.state == 0 %}
                            <span class="badge badge-pill badge-warning">
                                {{ object.get_state_display }}
                            </span>
                            {% elif object.state == 1 %}
                            <span class="badge badge-pill badge-success">
                                {{ object.get_state_display }}
                            </span>
                            {% else %}
                            <span class="badge badge-pill badge-danger">
                                {{ object.get_state_display }}
                            </span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Hoàn tiền cho buổi tập</td>
                        <td>
                            <ul class="list-group">
                                {% for r in object.roll_calls.all %}
                                    <li class="list-group-item list-group-item-info">
                                        {{ r.lesson }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Số tiền</td>
                        <td>{{ object.amount | sexy_number}}đ</td>
                    </tr>
                    <tr>
                        <td>Lí do</td>
                        <td>{{ object.reason | safe }}</td>
                    </tr>
                    <tr>
                        <td>Ngày tạo</td>
                        <td>{{ object.created_at.date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <a class="btn btn-sm btn-primary" href="{{request.META.HTTP_REFERER}}">
            <i class="fas fa-fw fa-arrow-left"></i>
        </a>
    </div>
</div>

{% endblock %}
{% block specified_js %}
{% endblock %}