{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% load i18n %}
{% load dashboard_extras %}
{% load sexify %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h1 class="h3 mb-0"><small><i class="fas fa-fw fa-list"></i></small> {% trans 'Refund request list' %}</h1>
</div>

{% if not requests %}
<p class="text-danger">
    {% trans 'request' as trans_value %}
    {% blocktrans with value=trans_value %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><small>{% trans 'trainee' as t_trainee %}{{ t_trainee|capfirst }}</small></th>
                        <th><small>{% trans 'card type' as t_card_type %}{{ t_card_type|capfirst }}</small></th>
                        <th><small>{% trans 'yoga class' as t_yoga_class %}{{ t_yoga_class|capfirst }}</small></th>
                        <th><small>{% trans 'amount' as t_amount %}{{ t_amount|capfirst }}</small></th>
                        <th><small>{% trans 'state' as t_state %}{{ t_state|capfirst }}</small></th>
                        <th><small>{% trans 'created at' as t_created_at %}{{ t_created_at|capfirst }}</small></th>
                        <th><small>{% trans 'action' as t_action %}{{ t_action|capfirst }}</small></th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in requests %}
                    <tr>
                        <td><small>{{ request.pk }}</small></td>
                        <td><small>{{ request.card.trainee }}</small></td>
                        <td><small>{{ request.card.card_type }}</small></td>
                        <td><small>{{ request.card.yogaclass }}</small></td>
                        <td><small>{{ request.amount | sexy_number }} đ</small></td>
                        <td>
                            {% if request.state == 0 %}
                            <span class="badge badge-pill badge-warning">
                                {{ request.get_state_display }}
                            </span>
                            {% elif request.state == 1 %}
                            <span class="badge badge-pill badge-success">
                                {{ request.get_state_display }}
                            </span>
                            {% else %}
                            <span class="badge badge-pill badge-danger">
                                {{ request.get_state_display }}
                            </span>
                            {% endif %}
                        </td>
                        <td><small>{{ request.created_at.date }}</small></td>
                        <td>
                            <a class="btn btn-sm btn-primary"
                                href="{% url 'dashboard:refund-requests-detail' request.pk %}">
                                <i class="fas fa-fw fa-eye"></i>
                                <small>{% trans 'view' as t_view %}{{ t_view|capfirst }}</small>
                            </a>
                            <a class="btn btn-sm btn-success approve-request" href="javascript:;">
                                <i class="fas fa-fw fa-check-circle"></i>
                                <small>{% trans 'approve' as t_approve %}{{ t_approve|capfirst }}</small>
                            </a>
                            <form class="d-none approve-form"
                                action="{% url 'dashboard:refund-requests-update-state' request.pk %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="state" value="approve">
                                <input type="submit" value="Confirm">
                            </form>
                            <a class="btn btn-sm btn-danger reject-request" href="javascript:;">
                                <i class="fas fa-fw fa-times-circle"></i>
                                <small>{% trans 'reject' as t_reject %}{{ t_reject|capfirst }}</small>
                            </a>
                            <form class="d-none reject-form"
                                action="{% url 'dashboard:refund-requests-update-state' request.pk %}" method="post">
                                {% csrf_token %}
                                <input type="text" name="state" value="reject">
                                <input type="submit" value="Confirm">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        {% include 'dashboard/pagination.html' %}
    </div>
</div>
{% endif %}

{% endblock %}

{% block specified_js %}
<script type="text/javascript">
    $('.approve-request').click(function () {
        $(this).siblings('form.approve-form').children('input[type=submit]').click();
    });
    $('.reject-request').click(function () {
        $(this).siblings('form.reject-form').children('input[type=submit]').click();
    });
</script>
{% endblock %}