{% extends 'profile/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/profile/trainees/cards/style.css' %}">
<link rel="stylesheet" href="{% static 'css/profile/certificates/style.css' %}">
{% endblock %}

{% block header_path %}
<a class="text-danger" href="{% url 'profile:certificates' %}">
    &raquo; Chứng nhận
</a>
<a class="text-danger" href="javascript:;">
    &raquo; {{certificate.name}}
</a>
{% endblock %}

{% block profile_content %}
<div class="event-item">
    <div class="ei-text">
        <h4><a href="javascript:;" style="font-size: 20px;">{{ certificate }}</a></h4>
        {% if certificate.description %}
        <p>{{certificate.description}}</p>
        {% endif %}
        <ul>
            {% if certificate.yoga_class %}
            <li><i class="material-icons">done</i>Lớp: <span class="text-danger">{{ certificate.yoga_class }}</span>
            </li>
            <li><i class="material-icons">done</i>Khóa học: <span
                    class="text-danger">{{ certificate.yoga_class.course }}</span></li>
            <li><i class="material-icons">done</i>Huấn luyện viên: <span
                    class="text-danger">{{ certificate.yoga_class.trainer }}</span></li>
            <li><i class="material-icons">done</i>Thời gian bắt đầu: <span
                    class="text-danger">{{ certificate.yoga_class.start_at }}</span></li>
            <li><i class="material-icons">done</i>Thời gian kết thúc: <span
                    class="text-danger">{{ certificate.yoga_class.end_at }}</span></li>
            {% else %}
            <li>
                <a class="site-btn site-btn-sm sb-gradient m-1" style="font-family: serif;" href="{% url 'profile:certificates-edit' certificate.pk %}">Chỉnh sửa</a>
                <a class="site-btn site-btn-sm sb-gradient m-1 delete-certificate" style="font-family: serif;" href="javascript:;">Xóa</a>
                <form class="d-none" action="{% url 'profile:certificates-delete' certificate.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" onclick="return confirm('Are you sure?');" value="Confirm">
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<div>
    <p href="javascript:;" class="text-danger" style="font-family: serif;">Hình ảnh minh
        chứng</p>
    {% if certificate.image %}
    <img src="{{ certificate.image.url}}" alt="">
    {% else %}
    {% if certificate.yoga_class %}
    <img src="{% static 'img/giay-chung-nhan.jpg' %}" alt="">
    {% else %}
    <p class="text-secondary"><small><i>Chưa cập nhật</i></small></p>
    {% endif %}
    {% endif %}
</div>

{% endblock %}

{% block specified_js %}
<script type="text/javascript">
  $('.delete-certificate').click(function () {
      $(this).siblings('form').children('input[type=submit]').click();
  });
</script>
{% endblock %}