{% extends 'profile/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/profile/trainees/cards/style.css' %}">
<link rel="stylesheet" href="{% static 'css/profile/certificates/style.css' %}">
{% endblock %}


{% block header_path %}
<a class="text-danger" href="javascript:;">
    &raquo; Chứng nhận
</a>
{% if user.is_trainee is False %}
<a class="text-success float-right" href="javascript:;"><i>thêm mới</i></a>
{% endif %}

{% endblock %}

{% block profile_content %}
{% if certificates %}
    {% for certificate in certificates %}
    <div class="event-item">
        <img class="medal-img" src="{% static 'img/medal.png' %}" alt="{{certificate}}">
        <div class="ei-text">
          <h4><a href="javascript:;" style="font-size: 20px;">{{ certificate }}</a></h4>
          {% if certificate.description %}
          <p>{{certificate.description}}</p>
          {% endif %}
          <ul>
            {% if certificate.yoga_class %}
            <li><i class="material-icons">done</i>Lớp: <span class="text-danger">{{ certificate.yoga_class }}</span></li>
            <li><i class="material-icons">done</i>Khóa học: <span class="text-danger">{{ certificate.yoga_class.course }}</span></li>
            <li><i class="material-icons">done</i>Huấn luyện viên: <span class="text-danger">{{ certificate.yoga_class.trainer }}</span></li>
            <li><i class="material-icons">done</i>Thời gian bắt đầu: <span class="text-danger">{{ certificate.yoga_class.start_at }}</span></li>
            <li><i class="material-icons">done</i>Thời gian kết thúc: <span class="text-danger">{{ certificate.yoga_class.end_at }}</span></li>
            {% endif %}
            <li>
                <a class="site-btn site-btn-sm sb-gradient m-1" href="javascript:;">Chi tiết</a>
                {% if user.is_trainee is False %}
                <a class="site-btn site-btn-sm sb-gradient m-1" href="javascript:;">Chỉnh sửa</a>
                <a class="site-btn site-btn-sm sb-gradient m-1" href="javascript:;">Xóa</a>
                {% endif %}
            </li>
          </ul>
        </div>
      </div>
    {% endfor%}
{% else %}
<h3 class="text-danger">Không có chứng nhận nào</h3>
{% endif %}

{% endblock %}

{% block specified_js %}
{% endblock %}