{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load sexify %}

{% block specified_css %}
<link href="{% static 'fullcalendar-4.3.1/packages/core/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/timegrid/main.css' %}" rel='stylesheet' />
<link href="{% static 'fullcalendar-4.3.1/packages/list/main.css' %}" rel='stylesheet' />
<script src="{% static 'fullcalendar-4.3.1/packages/core/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/core/locales-all.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/interaction/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/timegrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages/list/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-common/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-daygrid/main.js' %}"></script>
<script src="{% static 'fullcalendar-4.3.1/packages-premium/resource-timegrid/main.js' %} "></script>
<link href="{% static 'css/classes/enroll.css' %}" rel='stylesheet' />
{% endblock %}

{% block content %}
<input id="form_of_using_card_type" type="hidden" value="-1">
<section class="classes-page-section spad">
    <div class="container card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-md-4 jumbotron">
                    <div class="list-group">
                        <table id="price_table" class="table table-hover table-borderless">
                            <tbody>
                                {% if yoga_class.course.course_type == 0 %}

                                <tr>
                                    <td>
                                        {% trans "price per month" as t_price_per_month %}
                                        {{ t_price_per_month|capfirst }}
                                    </td>
                                    <td>
                                        {{ yoga_class.get_price_per_month }} {% trans 'vnd' %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% trans "price per lesson" as t_price_per_lesson %}
                                        {{ t_price_per_lesson|capfirst }}
                                    </td>
                                    <td>
                                        {{ yoga_class.get_price_per_lesson }} {% trans 'vnd' %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% trans "trial price" as t_trial_price %}
                                        {{ t_trial_price|capfirst }}
                                    </td>
                                    <td>{{ yoga_class.get_trial_price }}</td>
                                </tr>

                                {% else %}
                                <tr>
                                    <td>
                                        {% trans "price course" as t_price_course %}
                                        {{ t_price_course|capfirst }}
                                    </td>
                                    <td>{{ yoga_class.get_price_course }} {% trans 'vnd' %}</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    {% crispy form %}
                </div>
                <div class="col-md-8">
                    <div id='calendar'></div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block specified_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('[data-toggle="tooltip"]').tooltip();   

        var Draggable = FullCalendarInteraction.Draggable;
        var containerEl = document.getElementById('trial-lesson');

        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid'],
            defaultDate: Date.now(),
            editable: true,
            // droppable: true,
            dragRevertDuration: 0,
            dropAccept: '#do-not-drop',
            locale: "{{ request.LANGUAGE_CODE }}",
            events: function (fetchInfo, successCallback, failureCallback) {
                $.ajax({
                    url: "{% url 'classes:get-list-lesson' yoga_class.slug %}",
                    type: 'GET',
                    data: {
                        startStr: fetchInfo.startStr,
                        endStr: fetchInfo.endStr
                    },
                    success: function (data) {
                        console.log('data lesson events', data);
                        var events = [];
                        for (var i = 0; i < data.length; i++) {
                            var _d = data[i]['date'];
                            var _st = data[i]['start_time'];
                            var _et = data[i]['end_time'];
                            var _start_time = _d + ' ' + _st;
                            var _end_time = _d + ' ' + _et;
                            var start_time = new Date(_start_time);
                            var end_time = new Date(_end_time);
                            var bg_color = '#0c9463';
                            var border_color = '#0c9463';
                            var editable = true;
                            var title_tooltip = null;
                            if (data[i]['is_full'] == true) {
                                console.log("cc");
                                bg_color = '#ef4339';
                                border_color = '#ef4339';
                                editable = false;
                                title_tooltip="{% trans 'lesson is full' %}";
                            }
                            events.push({
                                id: data[i]['id'],
                                title: _st.split(':', 2).join(":") + ' - ' + _et.split(':', 2).join(":"),
                                start: start_time,
                                end: end_time,
                                url: 'javascript:;',
                                overlap: false,
                                allDaySlot: false,
                                backgroundColor: bg_color,
                                borderColor: border_color,
                                editable: editable,
                                titleTooltip: title_tooltip
                            });
                        }
                        successCallback(events);
                    }
                });
            },
            eventDragStop: function (info) {
                var start_at = new Date(info.event.start);
                var end_at = new Date(info.event.end);
                const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                var _date_trial = start_at.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', options)
                if (isEventOverDiv(info.jsEvent.offsetX, info.jsEvent.offsetY)) {
                    content = "<div id=trial_" + info.event.id + " class='fc-event fc-event-trial'>";
                    content += '(' + info.event.title + ') ' + _date_trial;
                    content += '<a href="javascript:;" class="float-right a-remove-trial-lesson"><i class="fa fa-fw fa-times"></i></a>';
                    content += "</div>";
                    // content += info.event
                    if ($('#trial-lesson-listing').children().length > 0) {
                        Swal.fire(
                            "{% trans 'error' as t_error %}{{ t_error|title }}",
                            "{% trans 'Trial lesson has been added' %}",
                            'error'
                        )
                    } else {
                        $(content).appendTo('#trial-lesson-listing');
                        const input_date_options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                        var date1 = start_at.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', input_date_options);
                        var date2 = end_at.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', input_date_options);
                        $('#id_start_at').val(date1);
                        $('#id_end_at').val(date2);
                    }
                }
            },
            eventDrop: function (info) {
                if (info != undefined) {
                    info.revert();
                }
                console.log("event drop");
            },
            eventRender: function (info) {
                if (info.event.extendedProps.titleTooltip) {
                    $(info.el).attr('data-toggle',"tooltip"); 
                    $(info.el).attr('title',info.event.extendedProps.titleTooltip); 
                }
            }
        });

        var isEventOverDiv = function (x, y) {
            var external_events = $('#trial-lesson');
            var offset = external_events.offset();
            offset.right = external_events.width() + offset.left;
            offset.bottom = external_events.height() + offset.top;
            if (x >= offset.left
                && y >= offset.top
                && x <= offset.right
                && y <= offset.bottom) { return true; }
            return false;
        }
        calendar.render();
    });

    $('#id_card_type').change(function () {
        var _url = "{% url 'card_types:detail-json' 0 %}";
        var id_card_type = $(this).val();
        $('#div_id_start_at').removeClass('d-none');
        $('#div_id_end_at').removeClass('d-none');
        $('#trial-lesson').addClass('d-none');
        $('input#id_start_at').attr('disabled', true);
        $('input#id_end_at').attr('readonly', true);

        $('#div_id_number_of_months').remove();
        $('#div_for_some_lesson_list').addClass('d-none');
        $('input#id_start_at').val('');
        $('input#id_end_at').val('');
        if (id_card_type != '') {
            $('input#id_start_at').val('');
            $('input#id_end_at').val('');
            $('input#id_start_at').attr('disabled', false);

            var url = _url.replace('0', id_card_type);
            $.ajax({
                url: url
            }).done((data) => {
                $('input#id_end_at').removeAttr('readonly');
                $('#div_id_number_of_months').remove();
                $('input#form_of_using_card_type').val(data['form_of_using']);
                if (data['form_of_using'] == 0) { // FULL MONTH
                    input_number_str = '<div id="div_id_number_of_months" class="form-group">';
                    input_number_str += '<label for="id_number_of_months" class=" requiredField">';
                    input_number_str += '{% trans "Number of months" %}';
                    input_number_str += '<span class="asteriskField">*</span></label>';
                    input_number_str += '<div class="input-group">';
                    input_number_str += '<input id="id_number_of_months" type="number" name="number_of_month" value="1"';
                    input_number_str += ' class="form-control" required="True">';
                    input_number_str += '</div></div>';
                    $(input_number_str).insertAfter($('#div_id_start_at'));

                    $('input#id_end_at').attr('readonly', true);

                } else if (data['form_of_using'] == 1) { // FOR SOME LESSON
                    $('input#id_end_at').removeAttr('readonly');
                    $('#div_for_some_lesson_list').removeClass('d-none');

                } else if (data['form_of_using'] == 2) { // TRIAL
                    $('.fc-event-trial').remove();
                    $('#div_id_start_at').addClass('d-none');
                    $('#div_id_end_at').addClass('d-none');

                    $('#trial-lesson').removeClass('d-none');
                } else { // FOR FULL MONTH
                    var _start_at = '{{ yoga_class.lessons.first.day }}';
                    var _end_at = '{{ yoga_class.lessons.last.day }}';
                    $('#id_start_at').val(_start_at);
                    $('#id_end_at').val(_end_at);
                }
            });
        }
    });

    // When CARD TYPE is FULL MONTH
    // Change end_at when has num_of_months and start_at
    $('input#id_start_at').on("change.datetimepicker", ({ date, oldDate }) => {
        number_of_months = $('#id_number_of_months').val();
        if (date != null && date._i != undefined) {
            if ($('input#form_of_using_card_type').val() == 0) {
                if (number_of_months != undefined) {
                    var d1 = new Date(date._d);
                    var d2 = new Date(d1);
                    d2.setMonth(d1.getMonth() + parseInt(number_of_months));
                    const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                    var end_date = d2.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', options);
                    $('#id_end_at').val(end_date);
                }
            } else if ($('input#form_of_using_card_type').val() == 1) {
                if ($('#id_end_at').val() != '') {
                    var end_at = $('#id_end_at').data("datetimepicker")._datesFormatted[0];
                    if (end_at != undefined) {
                        render_lesson_list();
                    }
                }
            }
        }
    });

    // When CARD TYPE is FULL MONTH
    // Change end_at when change num_of_months and start_at has value
    $(document).on('change', 'input#id_number_of_months', function () {
        val = $(this).val();
        if (val <= 0) {
            Swal.fire(
                "{% trans 'error' as t_error %}{{ t_error|title }}",
                "{% trans 'Please enter positive integer' %}",
                'error'
            )
            $(this).val(1);
        } else {
            var start_at = $('#id_start_at').data("datetimepicker")._datesFormatted[0];
            if (start_at != undefined) {
                var d1 = new Date(start_at);
                var d2 = new Date(d1);
                d2.setMonth(d1.getMonth() + parseInt(val));
                const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                var end_date = d2.toLocaleString('{% get_current_language as LANGUAGE_CODE %}{{ LANGUAGE_CODE }}', options);
                $('#id_end_at').val(end_date);
            }
        }
    });

    // When CARD TYPE is TRIAL
    // Remove trial lesson out of trial list
    $(document).on('click', '.a-remove-trial-lesson', function () {
        $(this).parent('.fc-event-trial').remove();
        $('#id_start_at').val('');
        $('#id_end_at').val('');
    });

    // WHEN CARD TYPE IS SOME LESSONS
    // Get and render leson list of class in range time 
    render_lesson_list = function () {
        var start_at = $('#id_start_at').data("datetimepicker")._datesFormatted[0];
        var end_at = $('#id_end_at').data("datetimepicker")._datesFormatted[0];
        $.ajax({
            url: '{% url "lessons:json-list-in-range-time" %}',
            data: {
                'startStr': start_at,
                'endStr': end_at,
                'id_class': '{{yoga_class.id}}',
                'available_only': 1
            }
        }).done((data) => {
            console.log(data);
            content = '<ul class="list-group">';
            content_li = "";
            for (var i = 0; i < data.length; i++) {
                content_li += '<li class="list-group-item list-group-item-action list-group-item-info d-flex justify-content-between align-items-center">';
                content_li += data[i]['date'];
                content_li += '<a href="javascript:;" class="badge badge-info badge-pill">';
                content_li += (i + 1).toString();
                content_li += '</a>';
                content_li += '</li>';
            }
            content += content_li;
            content += '</ul>';
            $('#some_lesson_list').empty();
            $('#some_lesson_list').append(content);
        });
    }

    $('input#id_end_at').on("change.datetimepicker", ({ date, oldDate }) => {
        if ($('input#form_of_using_card_type').val() == 1) {
            if ($('input#id_end_at').val() != '') {
                if (date != null && date._i != undefined) {
                    render_lesson_list();
                }
            }
        }
    });

    $('#form_enroll').submit((e) => {
        e.preventDefault();
        $.ajax({
            headers: {
                'X-CSRFTOKEN': '{{ csrf_token }}'
            },
            url: "{% url 'classes:enroll' yoga_class.slug %}",
            type: 'POST',
            data: $('#form_enroll').serialize()
        }).done(function (data) {
            window.location.href = "{% url 'classes:enroll-payment' yoga_class.slug %}";
        }).fail(function (err) {
            $('input.is-invalid').removeClass('is-invalid');
            $('.invalid-feedback').remove();
            $("span[id^=" + 'error_1_id_' + "]").remove();
            errors = JSON.parse(err.responseText);
            $.each(errors, function (key, value) {
                if (key != '__all__') {
                    objStr = "#id_" + key;
                    htmlError = '<span id="error_1_id_' + key + '" class="invalid-feedback">';
                    htmlError += '<strong>' + value[0]['message'] + '</strong></span>';
                    $(htmlError).insertAfter($(objStr));
                    $(objStr).addClass('is-invalid');
                    $(objStr).focus();
                } else {
                    Swal.fire(
                        "{% trans 'error' as t_error %}{{ t_error|title }}",
                        value[0]['message'],
                        'error'
                    )
                }
            });
        });
    });

</script>
{% endblock %}