{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
{% if not classes %}
<p class="text-danger">
    {% trans 'classes' as trans_value %}
    {% blocktrans with value=trans_value %}No {{ value }} yet{% endblocktrans %}
</p>
{% else %}

<section class="classes-page-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="classes-top">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                {% trans 'classes' as t_classes %}
                                {% blocktrans with value1=page_obj.object_list.count value2=page_obj.paginator.count value3=t_classes trimmed %}
                                Showing {{ value1 }} of {{ value2 }} {{ value3 }}
                                {% endblocktrans %}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <select class="circle-select">
                                {% trans 'default sorting' as t_default_sorting %}
                                <option data-display="{{ t_default_sorting|title }}">{{ t_default_sorting|title }}
                                </option>
                                <option value="0">{% trans 'oldest' as t_oldest %}{{ t_oldest|capfirst }}</option>
                                <option value="1">{% trans 'newest' as t_newest %}{{ t_newest|capfirst }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for class in classes %}
                    <div class="col-md-6">
                        <div class="classes-item-warp">
                            <div class="classes-item">
                                <a href="{% url 'classes:detail' class.slug %}" class="ci-img">
                                    {% if class.image %}
                                    <img src="{{ class.image.url }}" alt="{{class.name}}">
                                    {% else %}
                                    <img src="{% static 'img/class/default.jpg'%}" alt="{{class.name}}">
                                    {% endif %}
                                </a>
                                <div class="ci-text">
                                    <h4>{{ class|title }}</h4>
                                    <div class="ci-metas">
                                        <div class="ci-meta"><i class="material-icons">event_available</i>Mon, Wed, Fri
                                        </div>
                                        <div class="ci-meta"><i class="material-icons">alarm_on</i>06:30pm - 07:45pm
                                        </div>
                                    </div>
                                    <p>{{ class.description }}</p>
                                </div>
                                <div class="ci-bottom">
                                    <div class="ci-author">
                                        {% if class.form_trainer.user.image %}
                                        <img src="{{ class.form_trainer.user.image.url }}" alt="{{class.form_trainer}}">
                                        {% else %}
                                        <img src="{% static 'img/user/default.png'%}" alt="{{class.form_trainer}}">
                                        {% endif %}
                                        <div class="author-text">
                                            <h6>{{ class.form_trainer }}</h6>
                                            <p>{% trans 'Yoga Trainer' %}</p>
                                        </div>
                                    </div>
                                    <a href="{% url 'classes:enroll' class.slug %}" class="site-btn sb-gradient">{% trans 'book now'%}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% include 'pagination.html' %}
            </div>
            <div class="col-lg-3 col-md-5 col-sm-8 sidebar">
                <div class="sb-widget">
                    <h2 class="sb-title">{% trans 'Search Classes' %}</h2>
                    <form id="form_filter" action="" method="GET" class="classes-filter">
                        <select name="course" class="circle-select">
                            {% trans 'choose course' as t_choose_course %}
                            <option data-display="{{ t_choose_course|title }}">{{ t_choose_course|title }}</option>
                            {% for course in courses %}
                            <option data-display="{{course.name}}" value="{{ course.slug }}">{{ course.name|capfirst }}</option>
                            {% endfor %}
                        </select>
                        <select name="level" class="circle-select">
                            {% trans 'Choose Level' as t_choose_level %}
                            <option data-display="{{ t_choose_level|title }}">{{ t_choose_level|title }}</option>
                            {% for level in levels %}
                            <option data-display="{{level.1}}" value="{{level.0}}">{{level.1}}</option>
                            {% endfor %}
                        </select>
                        <select name="trainer" class="circle-select">
                            {% trans 'Choose Trainer' as t_choose_trainer %}
                            <option data-display="{{ t_choose_trainer }}">{{ t_choose_trainer }}</option>
                            {% for trainer in trainers %}
                            <option data-display="{{trainer}}" value="{{trainer.user.username}}">{{trainer}}</option>
                            {% endfor %}
                        </select>
                        <div class="clearfix"></div>
                        <button type="submit" class="site-btn sb-gradient">{% trans 'Filter now'%}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% endblock %}

{% block specified_js %}
{% endblock %}